NodeRed/RanchMainFlow.json
[{"id":"4956b05d.7849d8","type":"tab","label":"Battery Monitor","disabled":false,"info":""},{"id":"5fde7006ac10e6aa","type":"tab","label":"EPEver Stats","disabled":false,"info":""},{"id":"5e45f87abace7943","type":"tab","label":"Pack 1","disabled":false,"info":"","env":[]},{"id":"09041cafeb254eed","type":"tab","label":"Pack 2","disabled":false,"info":"","env":[]},{"id":"937eae9c233e2057","type":"tab","label":"Pack 3","disabled":false,"info":"","env":[]},{"id":"de180260a8533200","type":"tab","label":"Pack 4","disabled":false,"info":"","env":[]},{"id":"9dfb390640cddc26","type":"tab","label":"Packet Tester","disabled":false,"info":"","env":[]},{"id":"8756348b3e5ce35c","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"228d234fe5d04b55","type":"tab","label":"BoneYard","disabled":false,"info":"","env":[]},{"id":"8f567a3c2f4cef82","type":"serial-port","serialport":"/dev/ttyUSB1","serialbaud":"19200","databits":"8","parity":"none","stopbits":"1","waitfor":"0x7e","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"0xd","bin":"bin","out":"char","addchar":"0x13","responsetimeout":"1000"},{"id":"f938b7bcae72e8c7","type":"ui_group","name":"Pack 1","tab":"8a4a35e7495ae9e3","order":1,"disp":false,"width":"6","collapse":false,"className":""},{"id":"6439cc8967f91f85","type":"ui_group","name":"Pack 1","tab":"cc22933c8daecdf3","order":2,"disp":true,"width":"6","collapse":false,"className":""},{"id":"8a4a35e7495ae9e3","type":"ui_tab","name":"Pack Summary","icon":"dashboard","disabled":false,"hidden":false},{"id":"cc22933c8daecdf3","type":"ui_tab","name":"Cell Voltages","icon":"dashboard","disabled":false,"hidden":false},{"id":"e2a8f1cf178b8612","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"none","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"2671683380b79836","type":"serial-port","serialport":"/dev/ttyUSB3","serialbaud":"19200","databits":"8","parity":"none","stopbits":"1","waitfor":"0x7e","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"0xd","bin":"bin","out":"char","addchar":"0x13","responsetimeout":"10000"},{"id":"7bfd752a14e93257","type":"ui_group","name":"Pack 2","tab":"8a4a35e7495ae9e3","order":2,"disp":false,"width":"6","collapse":false,"className":""},{"id":"270f459e3bc45134","type":"ui_group","name":"Pack 2 Volts","tab":"cc22933c8daecdf3","order":2,"disp":true,"width":"6","collapse":false,"className":""},{"id":"f05d4283d062f723","type":"serial-port","serialport":"/dev/ttyUSB2","serialbaud":"19200","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"264e82142241853b","type":"ui_group","name":"Pack 3","tab":"8a4a35e7495ae9e3","order":4,"disp":false,"width":"6","collapse":false,"className":""},{"id":"6c07e934ca723289","type":"ui_group","name":"Pack 3 Volts","tab":"cc22933c8daecdf3","order":3,"disp":true,"width":"6","collapse":false,"className":""},{"id":"267141285873e3c4","type":"serial-port","serialport":"/dev/ttyUSB0","serialbaud":"19200","databits":"8","parity":"none","stopbits":"1","waitfor":"0x7e","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"0xd","bin":"bin","out":"char","addchar":"0x13","responsetimeout":"10000"},{"id":"8e5a7ea4290e30ef","type":"ui_group","name":"Pack 4 ","tab":"8a4a35e7495ae9e3","order":4,"disp":false,"width":"6","collapse":false,"className":""},{"id":"115563c17b1273e6","type":"ui_group","name":"Pack 4","tab":"cc22933c8daecdf3","order":4,"disp":true,"width":"6","collapse":false,"className":""},{"id":"68c540acd46c6057","type":"serial-port","serialport":"/dev/ttyUSB4","serialbaud":"19200","databits":"8","parity":"none","stopbits":"1","waitfor":"0x7e","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"0xd","bin":"bin","out":"char","addchar":"0x13","responsetimeout":"10000"},{"id":"747e2862444b614f","type":"influxdb","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"database","name":"InfluxDB","usetls":false,"tls":"","influxdbVersion":"2.0","url":"http://localhost:8086/","rejectUnauthorized":false},{"id":"f6423d07.aa6ad","type":"serial-port","serialport":"/dev/ttyUSB0","serialbaud":"19200","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"7eb8fa3f.1b2344","type":"ui_group","name":"Battery","tab":"430409ba.988a28","order":1,"disp":true,"width":"6","collapse":false},{"id":"9034575b.ce1fd8","type":"ui_group","name":"Metrics","tab":"430409ba.988a28","order":2,"disp":true,"width":"6","collapse":false},{"id":"d1e63a73.b939c8","type":"influxdb","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"database","name":"Ranch InfluxDb","usetls":false,"tls":"d50d0c9f.31e858","influxdbVersion":"2.0","url":"http://localhost:8086","rejectUnauthorized":true},{"id":"430409ba.988a28","type":"ui_tab","name":"Ranch","icon":"dashboard","disabled":false,"hidden":false},{"id":"d50d0c9f.31e858","type":"tls-config","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","servername":"","verifyservercert":false},{"id":"6c973488.e17c4c","type":"influxdb","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"database","name":"SkyMoCo InfluxDB","usetls":false,"tls":"","influxdbVersion":"2.0","url":"http://172.26.0.250:8086","rejectUnauthorized":true},{"id":"baa4b1f4dfe36e5f","type":"modbus-client","name":"","clienttype":"serial","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyXRUSB0","serialType":"RTU-BUFFERD","serialBaudrate":"115200","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"b42181b6.a504d","type":"ui_group","name":"Battery","tab":"6d3a1d1a.0ff764","order":3,"disp":true,"width":"6","collapse":false},{"id":"863156b2.06b228","type":"ui_group","name":"Misc","tab":"6d3a1d1a.0ff764","order":1,"disp":true,"width":"6","collapse":false},{"id":"64dde05.682662","type":"ui_group","name":"Solar","tab":"6d3a1d1a.0ff764","order":2,"disp":true,"width":"6","collapse":false},{"id":"fc2ab17bcdc2c37a","type":"ui_group","name":"Tempatures","tab":"6d3a1d1a.0ff764","order":7,"disp":true,"width":"6","collapse":false},{"id":"6d3a1d1a.0ff764","type":"ui_tab","name":"EPEver Dashboard","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"ca814958e15854f0","type":"serial-port","serialport":"/dev/ttyUSB0","serialbaud":"19200","databits":"8","parity":"none","stopbits":"1","waitfor":"0x7e","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"0xd","bin":"bin","out":"char","addchar":"0x13","responsetimeout":"10000"},{"id":"cb27efe5.bb6e7","type":"serial in","z":"4956b05d.7849d8","name":"Victron Batt Monitor","serial":"f05d4283d062f723","x":110,"y":40,"wires":[["86c69cec.eb493","13b973ac.0c9c2c"]]},{"id":"86c69cec.eb493","type":"debug","z":"4956b05d.7849d8","name":"","active":false,"tosidebar":false,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":290,"y":40,"wires":[]},{"id":"13b973ac.0c9c2c","type":"function","z":"4956b05d.7849d8","name":"BMParser","func":"// There are a lot of Values to Read, but I only care about some \n// of them.\n//\n// SOC State of Charge\n// I Main Battery Current\n// V Main Battery Voltage\n// P Main Battery Power\n\n\nvar data = msg.payload.split(\"\\t\");\nswitch(data[0]) {\n        case    'SOC':\n            msg.topic = \"SOC\";\n            msg.payload = parseFloat(data[1]/10);\n            break;\n        case    'V':\n            msg.topic = \"BatteryVoltage\";\n            msg.payload = parseFloat(data[1]/1000);\n            break;\n        case    'I':\n            msg.topic = \"BatteryAmps\"\n            msg.payload = parseFloat(data[1]/10000);\n            break;\n        case    'P':   // Current Power in Watts\n            msg.topic = \"CurrentPower\";\n            msg.payload = parseInt(data[1]);\n            break;\n        case    'CE':\n            msg.topic = \"ConsumedEnergy\";\n            msg.payload = parseInt(data[1]/1000);\n            break;\n        case    'TTG':\n            msg.topic = \"TimeRemaining\";\n            msg.payload = parseInt(data[1]);\n            break;\n        case 'H4':\n            msg.topic = \"DischargeCycles\";\n            msg.payload = parseInt(data[1]);\n            break;            \n        case 'H5':\n            msg.topic = \"FullDischargeCycles\";\n            msg.payload = parseInt(data[1]);\n            break;\n        case 'H6':\n            msg.topic = \"TotalAmpsDrawn\"\n            msg.payload = parseInt(data[1]/1000);\n            break;\n        case 'H7':\n            msg.topic = \"MinMainBatteryVoltage\"\n            msg.payload = parseFloat(data[1]/1000);\n            break;\n        case    'H8':\n            msg.topic = \"MaxMainBatteryVoltage\"\n            msg.payload = parseFloat(data[1]/1000);\n            break;\n        case    'H9':\n            msg.topic = \"SecondsSinceLastCharge\";\n            msg.payload = parseInt(data[1]);\n            break;\n        case    'H10':\n            msg.topic = \"NumberOfAutomaticSync\";\n            msg.payload = parseInt(data[1]);\n            break;\n        case    'H11':\n            msg.topic = \"NumberOfLowMainVolts\";\n            msg.payload = parseInt(data[1]);\n            break;            \n        case    'H12':\n            msg.topic = \"NumberOfHighMainVolts\";\n            msg.payload = parseInt(data[1]);\n            break;    \n        case    'H17':\n            msg.topic = \"PowerToBattery\"\n            msg.payload = parseInt(data[1]/100);\n            break;\n        case    'H18':\n            msg.topic = \"PowerFromBattery\";\n            msg.payload = parseInt(data[1]/100);\n            break;\n        case 'PID':\n            msg.topic = \"ProductID\";\n            msg.payload = data[1].trim();\n            break;\n        case 'Checksum':\n            msg.topic = \"CheckSum\";\n            msg.payload = data[1].trim();\n            break;\n        case 'Alarm':\n            msg.topic = \"AlarmState\";\n            msg.payload = data[1].trim();\n            break;  \n        case 'AR':\n            msg.topic = \"AlarmReason\";\n            msg.payload = data[1].trim();\n            break;\n        case 'BMV':\n            msg.topic = \"Product\";\n            msg.payload = data[1].trim();\n            break;\n        case 'MON':\n            msg.topic = \"MonitorMode\";\n            msg.payload = data[1].trim();\n            break;\n        case 'FW':\n            msg.topic = \"FirmwareVersion\";\n            msg.payload = data[1].trim();\n            break;\n}\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":280,"y":100,"wires":[["f4e5b0df.51196"]]},{"id":"9d85b954.e87df8","type":"debug","z":"4956b05d.7849d8","name":"State of Charge","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":800,"y":180,"wires":[]},{"id":"f4e5b0df.51196","type":"switch","z":"4956b05d.7849d8","name":"Metric Selection","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"SOC","vt":"str"},{"t":"eq","v":"BatteryVoltage","vt":"str"},{"t":"eq","v":"BatteryAmps","vt":"str"},{"t":"eq","v":"TimeRemaining","vt":"str"},{"t":"eq","v":"SecondsSinceLastCharge","vt":"str"},{"t":"eq","v":"MinMainBatteryVoltage","vt":"str"},{"t":"eq","v":"MaxMainBatteryVoltage","vt":"str"},{"t":"eq","v":"DischargeCycles","vt":"str"},{"t":"eq","v":"TimeRemaining","vt":"str"}],"checkall":"false","repair":false,"outputs":9,"x":500,"y":100,"wires":[["9d85b954.e87df8","71a8572b.a93fa8","2dbcddaa.83b942","107a535682a069f8"],["ee83cda3.4816","2308a2d4.7472fe","2dbcddaa.83b942"],["34eb75d9.04e53a","55ede273.75a39c","2dbcddaa.83b942"],["7603f1f9.07397","2250166b.28237a","2dbcddaa.83b942"],["5ea90761.e510f8","2dbcddaa.83b942"],["9fed2df3.36023","2dbcddaa.83b942"],["6422d53a.37be9c","2dbcddaa.83b942"],["5d66d9a1.626328","2dbcddaa.83b942"],["2dbcddaa.83b942"]]},{"id":"ee83cda3.4816","type":"debug","z":"4956b05d.7849d8","name":"BatteryVoltage","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":800,"y":240,"wires":[]},{"id":"34eb75d9.04e53a","type":"debug","z":"4956b05d.7849d8","name":"BatteryAmps","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":790,"y":300,"wires":[]},{"id":"7603f1f9.07397","type":"debug","z":"4956b05d.7849d8","name":"TimeRemaining","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":800,"y":400,"wires":[]},{"id":"71a8572b.a93fa8","type":"ui_gauge","z":"4956b05d.7849d8","name":"State of Charge","group":"7eb8fa3f.1b2344","order":0,"width":0,"height":0,"gtype":"gage","title":"State of Charge","label":"Percent","format":"{{value}}","min":0,"max":"100","colors":["#b3004d","#e6e600","#2dd24e"],"seg1":"","seg2":"","x":800,"y":80,"wires":[]},{"id":"2308a2d4.7472fe","type":"ui_chart","z":"4956b05d.7849d8","name":"Battery Volts","group":"7eb8fa3f.1b2344","order":1,"width":0,"height":0,"label":"Battery Volts","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":790,"y":120,"wires":[[]]},{"id":"d53afbe0.2632c8","type":"file","z":"4956b05d.7849d8","name":"Data Logger","filename":"/tmp/logger.out","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":290,"y":160,"wires":[[]]},{"id":"5ea90761.e510f8","type":"ui_text","z":"4956b05d.7849d8","group":"9034575b.ce1fd8","order":2,"width":0,"height":0,"name":"Hours since charge","label":"Hours since charge","format":"{{msg.payload}}","layout":"row-spread","x":750,"y":500,"wires":[]},{"id":"9fed2df3.36023","type":"ui_text","z":"4956b05d.7849d8","group":"9034575b.ce1fd8","order":1,"width":0,"height":0,"name":"","label":"Min Main Battery Voltage","format":"{{msg.payload}}","layout":"row-spread","x":770,"y":540,"wires":[]},{"id":"5d66d9a1.626328","type":"ui_text","z":"4956b05d.7849d8","group":"9034575b.ce1fd8","order":2,"width":0,"height":0,"name":"DischargeCycles","label":"DischargeCycles","format":"{{msg.payload}}","layout":"row-spread","x":750,"y":620,"wires":[]},{"id":"6422d53a.37be9c","type":"ui_text","z":"4956b05d.7849d8","group":"9034575b.ce1fd8","order":2,"width":0,"height":0,"name":"","label":"Max Main Battery Volts","format":"{{msg.payload}}","layout":"row-spread","x":760,"y":580,"wires":[]},{"id":"2250166b.28237a","type":"ui_text","z":"4956b05d.7849d8","group":"9034575b.ce1fd8","order":2,"width":0,"height":0,"name":"","label":"Runtime Remaining","format":"{{msg.payload}}","layout":"row-spread","x":810,"y":460,"wires":[]},{"id":"55ede273.75a39c","type":"ui_gauge","z":"4956b05d.7849d8","name":"","group":"7eb8fa3f.1b2344","order":2,"width":0,"height":0,"gtype":"gage","title":"Amp Meter","label":"Amps","format":"{{value}}","min":"-10","max":10,"colors":["#b30036","#e6e600","#52cb3a"],"seg1":"0","seg2":"","x":790,"y":360,"wires":[]},{"id":"2dbcddaa.83b942","type":"join","z":"4956b05d.7849d8","name":"Combine Readings","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"9","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":1070,"y":200,"wires":[["b515e8fc.264ce8","da27422d.7ffb2"]]},{"id":"b515e8fc.264ce8","type":"influxdb out","z":"4956b05d.7849d8","influxdb":"d1e63a73.b939c8","name":"MainBattery Metrics","measurement":"MainBattery","precision":"ms","retentionPolicy":"","database":"test","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"BVRanch","bucket":"RanchData","x":1120,"y":320,"wires":[]},{"id":"da27422d.7ffb2","type":"debug","z":"4956b05d.7849d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":1280,"y":120,"wires":[]},{"id":"7f9c232d.b860bc","type":"inject","z":"4956b05d.7849d8","name":"Every Minute","props":[{"p":"payload"},{"p":"complete","v":"true","vt":"bool"}],"repeat":"60","crontab":"","once":true,"onceDelay":"60","topic":"","payload":"","payloadType":"date","x":1040,"y":80,"wires":[["2dbcddaa.83b942"]]},{"id":"107a535682a069f8","type":"change","z":"4956b05d.7849d8","name":"","rules":[{"t":"set","p":"BatterySOC","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":820,"y":40,"wires":[[]]},{"id":"b3b654f22310cc0b","type":"split","z":"5fde7006ac10e6aa","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"topic","x":150,"y":280,"wires":[["daa6771b2c175982"]]},{"id":"daa6771b2c175982","type":"switch","z":"5fde7006ac10e6aa","name":"","property":"parts.index","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"3","vt":"str"},{"t":"eq","v":"4","vt":"str"},{"t":"eq","v":"5","vt":"str"},{"t":"eq","v":"6","vt":"str"},{"t":"eq","v":"7","vt":"str"},{"t":"eq","v":"8","vt":"str"},{"t":"eq","v":"9","vt":"str"},{"t":"eq","v":"10","vt":"str"},{"t":"eq","v":"11","vt":"str"},{"t":"eq","v":"12","vt":"str"},{"t":"eq","v":"13","vt":"str"},{"t":"eq","v":"14","vt":"str"},{"t":"eq","v":"15","vt":"str"},{"t":"eq","v":"16","vt":"str"},{"t":"eq","v":"17","vt":"str"}],"checkall":"false","repair":false,"outputs":18,"x":330,"y":280,"wires":[["0aed6cba9fdea151"],["9c4c1982e22b7d48"],["c42419dc37bd05c9"],[],["4132acf4fe12678c"],["ac80d573377c43a6"],["03f6d440f2d11762"],[],["8e21e7576d740c54"],["c609019ac266b5ac"],["40e5966e882aaa76"],[],["5f2771f71773efdb"],[],[],[],["511e73993dc0a10f"],["675af12e3f671ab8"]]},{"id":"0aed6cba9fdea151","type":"change","z":"5fde7006ac10e6aa","name":"Solar Voltage","rules":[{"t":"set","p":"topic","pt":"msg","to":"SolarVolts","tot":"str"},{"t":"set","p":"SolarVolts","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":40,"wires":[["809bb6d7fd746be0"]]},{"id":"9c4c1982e22b7d48","type":"change","z":"5fde7006ac10e6aa","name":"SolarAmps","rules":[{"t":"set","p":"topic","pt":"msg","to":"SolarAmps","tot":"str"},{"t":"set","p":"SolarAmps","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":80,"wires":[["f9a9a05dcc24c8bb"]]},{"id":"4132acf4fe12678c","type":"change","z":"5fde7006ac10e6aa","name":"SolarBatteryVolts","rules":[{"t":"set","p":"topic","pt":"msg","to":"SolarBatteryVolts","tot":"str"},{"t":"set","p":"Battery","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":180,"wires":[["d9537b9199c73bc0"]]},{"id":"ac80d573377c43a6","type":"change","z":"5fde7006ac10e6aa","name":"SolarBatteryChargeAmps","rules":[{"t":"set","p":"topic","pt":"msg","to":"SolarBatteryChargeAmps","tot":"str"},{"t":"set","p":"SolarBatteryChargeAmps","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":220,"wires":[["3476793156eaa7d6"]]},{"id":"8e21e7576d740c54","type":"change","z":"5fde7006ac10e6aa","name":"Vload","rules":[{"t":"set","p":"topic","pt":"msg","to":"Vload","tot":"str"},{"t":"set","p":"Vload","pt":"flow","to":"payload","tot":"msg"},{"t":"set","p":"measurement","pt":"msg","to":"V","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":320,"wires":[[]]},{"id":"c609019ac266b5ac","type":"change","z":"5fde7006ac10e6aa","name":"Iload","rules":[{"t":"set","p":"topic","pt":"msg","to":"Iload","tot":"str"},{"t":"set","p":"Iload","pt":"flow","to":"payload","tot":"msg"},{"t":"set","p":"measurement","pt":"msg","to":"I","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":360,"wires":[[]]},{"id":"511e73993dc0a10f","type":"change","z":"5fde7006ac10e6aa","name":"Tbatt","rules":[{"t":"set","p":"topic","pt":"msg","to":"Tbatt","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":440,"wires":[["c1c6c43a1ab3c918"]]},{"id":"675af12e3f671ab8","type":"change","z":"5fde7006ac10e6aa","name":"Tcase","rules":[{"t":"set","p":"topic","pt":"msg","to":"Tcase","tot":"str"},{"t":"set","p":"measurement","pt":"msg","to":"°C","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":520,"wires":[["f135c378ae763c83"]]},{"id":"809bb6d7fd746be0","type":"range","z":"5fde7006ac10e6aa","minin":"0","maxin":"10000","minout":"0","maxout":"100","action":"scale","round":false,"property":"payload","name":"/100","x":650,"y":40,"wires":[["eb4ade167e9cd4a7","270f14921da6518c","a05904ea.7fcb28"]]},{"id":"d9537b9199c73bc0","type":"range","z":"5fde7006ac10e6aa","minin":"0","maxin":"10000","minout":"0","maxout":"100","action":"scale","round":false,"property":"payload","name":"/100","x":650,"y":180,"wires":[["bb9e3a973a35e8b2","6eaf1fdb3456dfb4","a05904ea.7fcb28"]]},{"id":"f9a9a05dcc24c8bb","type":"range","z":"5fde7006ac10e6aa","minin":"0","maxin":"10000","minout":"0","maxout":"100","action":"scale","round":false,"property":"payload","name":"/100","x":650,"y":80,"wires":[["1552564b282eef67","3a18ad59b54f789f","a05904ea.7fcb28"]]},{"id":"3476793156eaa7d6","type":"range","z":"5fde7006ac10e6aa","minin":"0","maxin":"10000","minout":"0","maxout":"100","action":"scale","round":false,"property":"payload","name":"/100","x":650,"y":220,"wires":[["13447021a923fd8a","e55f44e9c8f219ee","a05904ea.7fcb28"]]},{"id":"c1c6c43a1ab3c918","type":"range","z":"5fde7006ac10e6aa","minin":"0","maxin":"10000","minout":"0","maxout":"100","action":"scale","round":true,"property":"payload","name":"/100","x":630,"y":440,"wires":[["87b1e088ca3741fc"]]},{"id":"f135c378ae763c83","type":"range","z":"5fde7006ac10e6aa","minin":"0","maxin":"10000","minout":"0","maxout":"100","action":"scale","round":false,"property":"payload","name":"/100","x":630,"y":520,"wires":[["5d0c2627d1cee7d9"]]},{"id":"518561653eb982fa","type":"influxdb out","z":"5fde7006ac10e6aa","influxdb":"d1e63a73.b939c8","name":"To InfluxDB","measurement":"MainSolar","precision":"s","retentionPolicy":"","database":"","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"BVRanch","bucket":"RanchData","x":1430,"y":640,"wires":[]},{"id":"29f1c91e0d39a9ea","type":"modbus-flex-getter","z":"5fde7006ac10e6aa","name":"Modbus Get","showStatusActivities":true,"showErrors":true,"logIOActivities":false,"server":"baa4b1f4dfe36e5f","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"x":470,"y":740,"wires":[["7ef486869059f65a","3c2910df2bca4267"],["87a648c427c8769f"]]},{"id":"f34f6554bc8044cf","type":"function","z":"5fde7006ac10e6aa","name":"FC4 0x3100 [18]","func":"msg.payload = { \n    'fc': 4, \n    'unitid': 1, \n    'address': 0x3100, \n    'quantity': 18\n}\n\nmsg.topic = \"livestats\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":210,"y":700,"wires":[["29f1c91e0d39a9ea"]]},{"id":"87a648c427c8769f","type":"modbus-response","z":"5fde7006ac10e6aa","name":"","registerShowMax":20,"x":650,"y":760,"wires":[]},{"id":"13447021a923fd8a","type":"ui_chart","z":"5fde7006ac10e6aa","name":"","group":"b42181b6.a504d","order":3,"width":0,"height":0,"label":"Battery Current","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":940,"y":220,"wires":[[]]},{"id":"3aabe849f14e0b2d","type":"ui_chart","z":"5fde7006ac10e6aa","name":"","group":"863156b2.06b228","order":8,"width":0,"height":0,"label":"Battery Temp","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1150,"y":440,"wires":[[]]},{"id":"bb9e3a973a35e8b2","type":"ui_chart","z":"5fde7006ac10e6aa","name":"","group":"b42181b6.a504d","order":2,"width":0,"height":0,"label":"Battery Voltage","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":940,"y":180,"wires":[[]]},{"id":"eb4ade167e9cd4a7","type":"ui_chart","z":"5fde7006ac10e6aa","name":"","group":"64dde05.682662","order":2,"width":0,"height":0,"label":"Solar Voltage","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":930,"y":20,"wires":[[]]},{"id":"1552564b282eef67","type":"ui_chart","z":"5fde7006ac10e6aa","name":"","group":"64dde05.682662","order":3,"width":0,"height":0,"label":"Solar Current","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":930,"y":60,"wires":[[]]},{"id":"5953c42a89b15d73","type":"ui_chart","z":"5fde7006ac10e6aa","name":"","group":"b42181b6.a504d","order":1,"width":0,"height":0,"label":"Batt Power","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":930,"y":260,"wires":[[]]},{"id":"4f3916efa05bc63c","type":"inject","z":"5fde7006ac10e6aa","name":"60s","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"60","crontab":"","once":true,"onceDelay":"10","topic":"","payload":"1","payloadType":"str","x":50,"y":700,"wires":[["f34f6554bc8044cf"]]},{"id":"35fce060af1be5af","type":"inject","z":"5fde7006ac10e6aa","name":"12h","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"43200","crontab":"","once":true,"onceDelay":"30","topic":"historicalstats","payload":"1","payloadType":"str","x":50,"y":780,"wires":[["ce9280701eba6943"]]},{"id":"ce9280701eba6943","type":"function","z":"5fde7006ac10e6aa","name":"FC4 0x3304 [16]","func":"msg.payload = { \n    'fc': 4, \n    'unitid': 1, \n    'address': 0x3304, \n    'quantity': 16\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":210,"y":780,"wires":[["29f1c91e0d39a9ea"]]},{"id":"03a5cf8f0cfd4e91","type":"split","z":"5fde7006ac10e6aa","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":190,"y":1000,"wires":[["515cc61a48c4ebef"]]},{"id":"515cc61a48c4ebef","type":"switch","z":"5fde7006ac10e6aa","name":"","property":"parts.index","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"3","vt":"str"},{"t":"eq","v":"4","vt":"str"},{"t":"eq","v":"5","vt":"str"},{"t":"eq","v":"6","vt":"str"},{"t":"eq","v":"7","vt":"str"},{"t":"eq","v":"8","vt":"str"},{"t":"eq","v":"9","vt":"str"},{"t":"eq","v":"10","vt":"str"},{"t":"eq","v":"11","vt":"str"},{"t":"eq","v":"12","vt":"str"},{"t":"eq","v":"13","vt":"str"},{"t":"eq","v":"14","vt":"str"},{"t":"eq","v":"15","vt":"str"}],"checkall":"true","repair":false,"outputs":16,"x":330,"y":1000,"wires":[["b55fe71382cd074d"],["b55fe71382cd074d"],["61db86882e87eddd"],["61db86882e87eddd"],["6d17ac9b10a16df3"],["6d17ac9b10a16df3"],["d7c45da51475b782"],["d7c45da51475b782"],["789309ce65d904df"],["789309ce65d904df"],["0277bb5ab4fabb2b"],["0277bb5ab4fabb2b"],["76f217ef8818dc04"],["76f217ef8818dc04"],["0181de29854beb67"],["0181de29854beb67"]]},{"id":"b55fe71382cd074d","type":"join","z":"5fde7006ac10e6aa","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"1","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":510,"y":860,"wires":[["3daf40bd42579616"]]},{"id":"61db86882e87eddd","type":"join","z":"5fde7006ac10e6aa","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"1","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":510,"y":900,"wires":[["0abc84b600442572"]]},{"id":"6d17ac9b10a16df3","type":"join","z":"5fde7006ac10e6aa","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"1","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":510,"y":940,"wires":[["182d263e4fbdfeba"]]},{"id":"d7c45da51475b782","type":"join","z":"5fde7006ac10e6aa","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"1","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":510,"y":980,"wires":[["53767913ec7d11d5"]]},{"id":"789309ce65d904df","type":"join","z":"5fde7006ac10e6aa","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"1","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":510,"y":1020,"wires":[["3782852730d094fd"]]},{"id":"0277bb5ab4fabb2b","type":"join","z":"5fde7006ac10e6aa","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"1","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":510,"y":1060,"wires":[["894e59364b8b8035"]]},{"id":"76f217ef8818dc04","type":"join","z":"5fde7006ac10e6aa","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"1","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":510,"y":1100,"wires":[["c41d5070e7785005"]]},{"id":"0181de29854beb67","type":"join","z":"5fde7006ac10e6aa","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"1","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":510,"y":1140,"wires":[["4c4ffab368844cd0"]]},{"id":"5494b1490ffc9419","type":"function","z":"5fde7006ac10e6aa","name":"32bit register coversion /100","func":"var low = msg.payload[0];\nvar high = msg.payload[1];\n\nvar lowhex = low.toString(16);\nvar highhex = high.toString(16);\n\nvar total = ((high << 16) + low) / 100;\n\nmsg.payload = total;\nmsg.measurement = \"kWh\";\n\nreturn msg;","outputs":1,"noerr":0,"x":980,"y":1000,"wires":[["0d388fea49f57497"]]},{"id":"3daf40bd42579616","type":"change","z":"5fde7006ac10e6aa","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"TodayConsumed","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":860,"wires":[["5494b1490ffc9419"]]},{"id":"0abc84b600442572","type":"change","z":"5fde7006ac10e6aa","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"MonthConsumed","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":900,"wires":[["5494b1490ffc9419"]]},{"id":"182d263e4fbdfeba","type":"change","z":"5fde7006ac10e6aa","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"YearConsumed","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":940,"wires":[["5494b1490ffc9419"]]},{"id":"53767913ec7d11d5","type":"change","z":"5fde7006ac10e6aa","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"TotalConsumed","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":980,"wires":[["5494b1490ffc9419"]]},{"id":"3782852730d094fd","type":"change","z":"5fde7006ac10e6aa","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"TodayGenerated","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":1020,"wires":[["5494b1490ffc9419"]]},{"id":"894e59364b8b8035","type":"change","z":"5fde7006ac10e6aa","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"MonthGenerated","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":1060,"wires":[["5494b1490ffc9419"]]},{"id":"4c4ffab368844cd0","type":"change","z":"5fde7006ac10e6aa","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"TotalGenerated","tot":"str"},{"t":"set","p":"measurement","pt":"msg","to":"kWh","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":1140,"wires":[["5494b1490ffc9419"]]},{"id":"c41d5070e7785005","type":"change","z":"5fde7006ac10e6aa","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"YearGenerated","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":1100,"wires":[["5494b1490ffc9419"]]},{"id":"0d388fea49f57497","type":"join","z":"5fde7006ac10e6aa","name":"Build kWhs","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"8","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1190,"y":1000,"wires":[[]]},{"id":"7ef486869059f65a","type":"switch","z":"5fde7006ac10e6aa","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"livestats","vt":"str"},{"t":"eq","v":"historicalstats","vt":"str"},{"t":"eq","v":"bsoc","vt":"str"},{"t":"eq","v":"status","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":330,"y":560,"wires":[["b3b654f22310cc0b"],["03a5cf8f0cfd4e91"],["55be3cf7.7ab134"],["e9f73bea.db6848"]]},{"id":"b2838b8d09d88bcb","type":"catch","z":"5fde7006ac10e6aa","name":"","scope":null,"uncaught":false,"x":1040,"y":860,"wires":[["a7b1beb4513f3e88"]]},{"id":"a7b1beb4513f3e88","type":"debug","z":"5fde7006ac10e6aa","name":"Errors","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"true","targetType":"full","statusVal":"payload","statusType":"auto","x":1190,"y":860,"wires":[]},{"id":"cb960cdde6e24ed0","type":"comment","z":"5fde7006ac10e6aa","name":"Write Stats to InfluxDB","info":"This will write the stats to an Influx Database. Disable this node if that doesn't interest you.\n\nYou will need to install and/or configure InfluxDB on this machine or another one.","x":1460,"y":580,"wires":[]},{"id":"c42419dc37bd05c9","type":"change","z":"5fde7006ac10e6aa","name":"SolarWatts","rules":[{"t":"set","p":"topic","pt":"msg","to":"SolarWatts","tot":"str"},{"t":"set","p":"SolarWatts","pt":"flow","to":"payload","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":120,"wires":[["c2863373e1527ca2"]]},{"id":"c2863373e1527ca2","type":"range","z":"5fde7006ac10e6aa","minin":"0","maxin":"10000","minout":"0","maxout":"100","action":"scale","round":false,"property":"payload","name":"/100","x":650,"y":120,"wires":[["723c36987fc4a6e7","a05904ea.7fcb28","9ee9e0d4c5dad50e"]]},{"id":"723c36987fc4a6e7","type":"ui_chart","z":"5fde7006ac10e6aa","name":"","group":"64dde05.682662","order":1,"width":0,"height":0,"label":"Solar Power","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":930,"y":100,"wires":[[]]},{"id":"03f6d440f2d11762","type":"change","z":"5fde7006ac10e6aa","name":"SolarBatteryWatts","rules":[{"t":"set","p":"topic","pt":"msg","to":"SolarBatteryWatts","tot":"str"},{"t":"set","p":"SolarBatteryWatts","pt":"flow","to":"payload","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":260,"wires":[["99e197153033eca2"]]},{"id":"99e197153033eca2","type":"range","z":"5fde7006ac10e6aa","minin":"0","maxin":"10000","minout":"0","maxout":"100","action":"scale","round":false,"property":"payload","name":"/100","x":650,"y":260,"wires":[["5953c42a89b15d73","a05904ea.7fcb28"]]},{"id":"40e5966e882aaa76","type":"change","z":"5fde7006ac10e6aa","name":"Pload","rules":[{"t":"set","p":"topic","pt":"msg","to":"Psolar","tot":"str"},{"t":"set","p":"Pload","pt":"flow","to":"payload","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":400,"wires":[[]]},{"id":"4aecbb8ea8a02e84","type":"function","z":"5fde7006ac10e6aa","name":"FC4 0x311A [1]","func":"msg.payload = { \n    'fc': 4, \n    'unitid': 1, \n    'address': 0x311A, \n    'quantity': 1\n}\n\nmsg.topic = \"bsoc\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":200,"y":740,"wires":[["29f1c91e0d39a9ea"]]},{"id":"75172c82257f459f","type":"inject","z":"5fde7006ac10e6aa","name":"120s","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"120","crontab":"","once":true,"onceDelay":"20","topic":"","payload":"1","payloadType":"str","x":50,"y":740,"wires":[["4aecbb8ea8a02e84"]]},{"id":"67ee642cb1761457","type":"range","z":"5fde7006ac10e6aa","minin":"0","maxin":"100","minout":"0","maxout":"100","action":"scale","round":false,"property":"payload","name":"100","x":630,"y":640,"wires":[["5a90d49ad3b4e347","a05904ea.7fcb28"]]},{"id":"5a90d49ad3b4e347","type":"ui_gauge","z":"5fde7006ac10e6aa","name":"","group":"863156b2.06b228","order":1,"width":0,"height":0,"gtype":"gage","title":"Battery SOC","label":"%","format":"{{value | number: 0}}%","min":0,"max":"100","colors":["#ca3838","#e6e600","#00b500"],"seg1":"","seg2":"","x":930,"y":660,"wires":[]},{"id":"270f14921da6518c","type":"ui_gauge","z":"5fde7006ac10e6aa","name":"","group":"863156b2.06b228","order":2,"width":"2","height":"2","gtype":"wave","title":"Solar","label":"v","format":"{{value}}","min":0,"max":"20","colors":["#ca3838","#e6e600","#00b500"],"seg1":"","seg2":"","x":1110,"y":20,"wires":[]},{"id":"6eaf1fdb3456dfb4","type":"ui_gauge","z":"5fde7006ac10e6aa","name":"","group":"863156b2.06b228","order":3,"width":"2","height":"2","gtype":"wave","title":"Battery","label":"v","format":"{{value}}","min":0,"max":"20","colors":["#ca3838","#e6e600","#00b500"],"seg1":"","seg2":"","x":1120,"y":160,"wires":[]},{"id":"e55f44e9c8f219ee","type":"ui_gauge","z":"5fde7006ac10e6aa","name":"","group":"863156b2.06b228","order":6,"width":"2","height":"2","gtype":"gage","title":"Battery","label":"A","format":"{{value | number: 2}}","min":0,"max":"10","colors":["#ca3838","#e6e600","#00b500"],"seg1":"","seg2":"","x":1120,"y":240,"wires":[]},{"id":"3a18ad59b54f789f","type":"ui_gauge","z":"5fde7006ac10e6aa","name":"","group":"863156b2.06b228","order":5,"width":"2","height":"2","gtype":"gage","title":"Solar","label":"A","format":"{{value | number: 2}}","min":0,"max":"10","colors":["#ca3838","#e6e600","#00b500"],"seg1":"","seg2":"","x":1110,"y":300,"wires":[]},{"id":"5f2771f71773efdb","type":"change","z":"5fde7006ac10e6aa","name":"T-HS","rules":[{"t":"set","p":"topic","pt":"msg","to":"TempHeatSink","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":485,"wires":[["8892ca34c0ba70cd"]]},{"id":"6da2749ca588ca43","type":"ui_chart","z":"5fde7006ac10e6aa","name":"","group":"fc2ab17bcdc2c37a","order":8,"width":0,"height":0,"label":"HeatSink","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1140,"y":480,"wires":[[]]},{"id":"8892ca34c0ba70cd","type":"range","z":"5fde7006ac10e6aa","minin":"0","maxin":"10000","minout":"0","maxout":"100","action":"scale","round":false,"property":"payload","name":"/100","x":630,"y":480,"wires":[["6da2749ca588ca43","dcef3c129bbeae1d"]]},{"id":"dcef3c129bbeae1d","type":"debug","z":"5fde7006ac10e6aa","name":"Heat Sink Temp","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":920,"y":520,"wires":[]},{"id":"1def4be147088114","type":"debug","z":"5fde7006ac10e6aa","name":"Case Temp","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":950,"y":580,"wires":[]},{"id":"2b9779bea63346fb","type":"debug","z":"5fde7006ac10e6aa","name":"Battery Temp","active":true,"tosidebar":false,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":960,"y":460,"wires":[]},{"id":"87b1e088ca3741fc","type":"unit-converter","z":"5fde7006ac10e6aa","category":"temperature","inputUnit":"C","outputUnit":"F","inputField":"payload","outputField":"payload","inputFieldType":"msg","outputFieldType":"msg","roundOutputField":true,"outputFieldDecimals":2,"name":"Convert to F","x":770,"y":440,"wires":[["2b9779bea63346fb","3aabe849f14e0b2d"]]},{"id":"5d0c2627d1cee7d9","type":"unit-converter","z":"5fde7006ac10e6aa","category":"temperature","inputUnit":"C","outputUnit":"F","inputField":"payload","outputField":"payload","inputFieldType":"msg","outputFieldType":"msg","roundOutputField":true,"outputFieldDecimals":2,"name":"Convert to F","x":770,"y":580,"wires":[["1def4be147088114"]]},{"id":"3c2910df2bca4267","type":"debug","z":"5fde7006ac10e6aa","name":"Modbus Response","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":650,"y":720,"wires":[]},{"id":"4c89477c.9323b8","type":"debug","z":"5fde7006ac10e6aa","name":"ToInfluxDB","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":1430,"y":680,"wires":[]},{"id":"55be3cf7.7ab134","type":"change","z":"5fde7006ac10e6aa","name":"BatterySOC","rules":[{"t":"set","p":"topic","pt":"msg","to":"SCCSOC","tot":"str"},{"t":"set","p":"SCCSOC","pt":"flow","to":"payload","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":560,"wires":[["67ee642cb1761457"]]},{"id":"a05904ea.7fcb28","type":"join","z":"5fde7006ac10e6aa","name":"Combine Readings","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"7","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1170,"y":640,"wires":[["518561653eb982fa","4c89477c.9323b8"]]},{"id":"fb089ea3.50308","type":"inject","z":"5fde7006ac10e6aa","name":"30s","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"30","crontab":"","once":true,"onceDelay":"5","topic":"","payload":"1","payloadType":"str","x":50,"y":660,"wires":[["dc1f38a3.80b688"]]},{"id":"dc1f38a3.80b688","type":"function","z":"5fde7006ac10e6aa","name":"FC4 0x3200 [2]","func":"msg.payload = { \n    'fc': 4, \n    'unitid': 1, \n    'address': 0x3200, \n    'quantity': 2\n}\n\nmsg.topic = \"status\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":200,"y":660,"wires":[["29f1c91e0d39a9ea"]]},{"id":"e9f73bea.db6848","type":"debug","z":"5fde7006ac10e6aa","name":"Status","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":470,"y":600,"wires":[]},{"id":"9ee9e0d4c5dad50e","type":"debug","z":"5fde7006ac10e6aa","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":1090,"y":100,"wires":[]},{"id":"15c11821dfc63f9a","type":"buffer-parser","z":"5e45f87abace7943","name":"D2H Cell","data":"payload","dataType":"msg","specification":"spec","specificationType":"ui","items":[{"type":"string","name":"data","offset":19,"length":64,"offsetbit":0,"scale":"1","mask":""}],"swap1":"","swap2":"","swap3":"","swap1Type":"swap","swap2Type":"swap","swap3Type":"swap","msgProperty":"payload","msgPropertyType":"str","resultType":"keyvalue","resultTypeType":"output","multipleResult":false,"fanOutMultipleResult":false,"setTopic":true,"outputs":1,"x":720,"y":300,"wires":[["264c653753598c03"]]},{"id":"264c653753598c03","type":"buffer-parser","z":"5e45f87abace7943","name":"P1 Cell Buffer","data":"payload.data","dataType":"msg","specification":"spec","specificationType":"ui","items":[{"type":"int16be","name":"Cell 1","offset":0,"length":1,"offsetbit":0,"scale":".001","mask":""},{"type":"int16be","name":"Cell 2","offset":2,"length":1,"offsetbit":0,"scale":".001","mask":""},{"type":"int16be","name":"Cell 3","offset":4,"length":1,"offsetbit":0,"scale":".001","mask":""},{"type":"int16be","name":"Cell 4","offset":6,"length":1,"offsetbit":0,"scale":".001","mask":""},{"type":"int16be","name":"Cell 5","offset":8,"length":1,"offsetbit":0,"scale":".001","mask":""},{"type":"int16be","name":"Cell 6","offset":10,"length":1,"offsetbit":0,"scale":".001","mask":""},{"type":"int16be","name":"Cell 7","offset":12,"length":1,"offsetbit":0,"scale":".001","mask":""},{"type":"int16be","name":"Cell 8","offset":14,"length":1,"offsetbit":0,"scale":".001","mask":""},{"type":"int16be","name":"Cell 9","offset":16,"length":1,"offsetbit":0,"scale":".001","mask":""},{"type":"int16be","name":"Cell 10","offset":18,"length":1,"offsetbit":0,"scale":".001","mask":""},{"type":"int16be","name":"Cell 11","offset":20,"length":1,"offsetbit":0,"scale":".001","mask":""},{"type":"int16be","name":"Cell 12","offset":22,"length":1,"offsetbit":0,"scale":".001","mask":""},{"type":"int16be","name":"Cell 13","offset":24,"length":1,"offsetbit":0,"scale":".001","mask":""},{"type":"int16be","name":"Cell 14","offset":26,"length":1,"offsetbit":0,"scale":".001","mask":""},{"type":"int16be","name":"Cell 15","offset":28,"length":1,"offsetbit":0,"scale":".001","mask":""},{"type":"int16be","name":"Cell 16","offset":30,"length":1,"offsetbit":0,"scale":".001","mask":""}],"swap1":"","swap2":"","swap3":"","swap1Type":"swap","swap2Type":"swap","swap3Type":"swap","msgProperty":"payload","msgPropertyType":"str","resultType":"value","resultTypeType":"output","multipleResult":true,"fanOutMultipleResult":true,"setTopic":true,"outputs":16,"x":1020,"y":320,"wires":[["557653d4471de7ef"],["0504bb0e312f24b8"],["0e5ffcde5e9324f3"],["35571db427fe4d39"],["e8ab4819711a3a6c"],["3794b1b96269b865"],["bd3fa07da6057789"],["22686420de0c2492"],["911107ec35e339da"],["716ccff972f9a5a5"],["88ba1d2b5f259718"],["7e318a970f09e409"],["eab4d1039a610160"],["b723f29029210dfd"],["4cbd0c37d9ecc62c"],["db6aab7cebec9507"]]},{"id":"8976ed8ff166d02b","type":"buffer-parser","z":"5e45f87abace7943","name":"D2H Temp","data":"payload","dataType":"msg","specification":"spec","specificationType":"ui","items":[{"type":"string","name":"data","offset":85,"length":24,"offsetbit":0,"scale":"1","mask":""}],"swap1":"","swap2":"","swap3":"","swap1Type":"swap","swap2Type":"swap","swap3Type":"swap","msgProperty":"payload","msgPropertyType":"str","resultType":"keyvalue","resultTypeType":"output","multipleResult":false,"fanOutMultipleResult":false,"setTopic":true,"outputs":1,"x":730,"y":700,"wires":[["ab1e05d360a05989","b045e028c328b401"]]},{"id":"2ed9d66bc421cac0","type":"buffer-parser","z":"5e45f87abace7943","name":"D2H Pack","data":"payload","dataType":"msg","specification":"spec","specificationType":"ui","items":[{"type":"string","name":"data","offset":109,"length":18,"offsetbit":0,"scale":"1","mask":""},{"type":"string","name":"current","offset":109,"length":4,"offsetbit":0,"scale":"1","mask":""}],"swap1":"","swap2":"","swap3":"","swap1Type":"swap","swap2Type":"swap","swap3Type":"swap","msgProperty":"payload","msgPropertyType":"str","resultType":"keyvalue","resultTypeType":"output","multipleResult":false,"fanOutMultipleResult":true,"setTopic":true,"outputs":1,"x":720,"y":900,"wires":[["72d1d9e324e976b9","39d2bee61cd00998"]]},{"id":"72d1d9e324e976b9","type":"buffer-parser","z":"5e45f87abace7943","name":"Hex String Buffer Parser","data":"payload.data","dataType":"msg","specification":"spec","specificationType":"ui","items":[{"type":"int16be","name":"PackAmps","offset":0,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"int16be","name":"PackVolts","offset":2,"length":1,"offsetbit":0,"scale":".01","mask":""},{"type":"int16be","name":"PackRmAH","offset":4,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"int16be","name":"Unknown","offset":6,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"int16be","name":"PackTmAH","offset":7,"length":1,"offsetbit":0,"scale":"1","mask":""}],"swap1":"","swap2":"","swap3":"","swap1Type":"swap","swap2Type":"swap","swap3Type":"swap","msgProperty":"payload","msgPropertyType":"str","resultType":"value","resultTypeType":"output","multipleResult":true,"fanOutMultipleResult":true,"setTopic":true,"outputs":5,"x":1010,"y":1000,"wires":[["dd433e97c1d2a34e","1db19368047df077"],["27b3139dbe553ee9","5755a86194810dcd","1db19368047df077"],["aad23ab56e37678f","c697fb3b4cb420b1","1db19368047df077"],["ddba10d481323864","1db19368047df077"],["2ca4869c5456e387","c697fb3b4cb420b1","1db19368047df077"]]},{"id":"dd433e97c1d2a34e","type":"debug","z":"5e45f87abace7943","name":"Amps In","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":1460,"y":960,"wires":[]},{"id":"39d2bee61cd00998","type":"debug","z":"5e45f87abace7943","name":"P1 Pack Metrics","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":980,"y":920,"wires":[]},{"id":"27b3139dbe553ee9","type":"debug","z":"5e45f87abace7943","name":"Pack Voltage","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":1310,"y":1020,"wires":[]},{"id":"5755a86194810dcd","type":"ui_gauge","z":"5e45f87abace7943","name":"","group":"f938b7bcae72e8c7","order":10,"width":0,"height":0,"gtype":"gage","title":"Pack Voltage","label":"Volts","format":"{{value}}","min":0,"max":"75","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":1550,"y":1020,"wires":[]},{"id":"ab1e05d360a05989","type":"buffer-parser","z":"5e45f87abace7943","name":"P1 Tempature Buffer","data":"payload.data","dataType":"msg","specification":"spec","specificationType":"ui","items":[{"type":"int16be","name":"Temp 0","offset":0,"length":1,"offsetbit":0,"scale":".1","mask":""},{"type":"int16be","name":"Temp 1","offset":2,"length":1,"offsetbit":0,"scale":".1","mask":""},{"type":"int16be","name":"Battery 3","offset":4,"length":1,"offsetbit":0,"scale":".1","mask":""},{"type":"int16be","name":"Battery 4","offset":6,"length":1,"offsetbit":0,"scale":".1","mask":""},{"type":"int16be","name":"Case Temp","offset":8,"length":1,"offsetbit":0,"scale":".1","mask":""},{"type":"int16be","name":"BMS Temp","offset":10,"length":1,"offsetbit":0,"scale":".1","mask":""}],"swap1":"","swap2":"","swap3":"","swap1Type":"swap","swap2Type":"swap","swap3Type":"swap","msgProperty":"payload","msgPropertyType":"str","resultType":"value","resultTypeType":"output","multipleResult":true,"fanOutMultipleResult":true,"setTopic":true,"outputs":6,"x":1020,"y":780,"wires":[["b9691b9503028529"],["2136593bd4ef06db"],["b27719d367b1e758"],["b72f34df8361d4e9"],["7b7474383c9ea603"],["2f169a234a8f4521"]]},{"id":"b9691b9503028529","type":"unit-converter","z":"5e45f87abace7943","category":"temperature","inputUnit":"K","outputUnit":"F","inputField":"payload","outputField":"payload","inputFieldType":"msg","outputFieldType":"msg","roundOutputField":true,"outputFieldDecimals":2,"name":"","x":1340,"y":700,"wires":[["3b18a34532edefa0","c7ee93699cf2b8d4"]]},{"id":"aad23ab56e37678f","type":"debug","z":"5e45f87abace7943","name":"Pack Residual mAH","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":1340,"y":1100,"wires":[]},{"id":"2ca4869c5456e387","type":"debug","z":"5e45f87abace7943","name":"Pack Total mAH","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":1320,"y":1260,"wires":[]},{"id":"4168944e5b56b3e9","type":"function","z":"5e45f87abace7943","name":"SOC Calculator","func":"total = msg.payload.PackTmAH;\nremaining = msg.payload.PackRmAH;\n\npavailable = (remaining/total) * 100;\n\nmsg.topic = \"Pack%Capacity\"\nmsg.payload = parseInt(pavailable.toFixed(2));\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1560,"y":1220,"wires":[["4e693860edb695aa","ce50cc2abb441325","1db19368047df077"]]},{"id":"c697fb3b4cb420b1","type":"join","z":"5e45f87abace7943","name":"Combine parts","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":true,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1320,"y":1220,"wires":[["4168944e5b56b3e9"]]},{"id":"4e693860edb695aa","type":"ui_gauge","z":"5e45f87abace7943","name":"Pack Battery Remaining","group":"f938b7bcae72e8c7","order":2,"width":0,"height":0,"gtype":"gage","title":"Pack Capacity Remaining","label":"% Remaining","format":"{{value}}","min":0,"max":"100","colors":["#b30024","#e6e600","#3acb3e"],"seg1":"","seg2":"","className":"","x":1810,"y":1180,"wires":[]},{"id":"3b18a34532edefa0","type":"ui_gauge","z":"5e45f87abace7943","name":"Pack Tempature","group":"f938b7bcae72e8c7","order":4,"width":2,"height":2,"gtype":"gage","title":"Cell Temp 1","label":"Degrees","format":"{{value}}","min":0,"max":"120","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":1560,"y":700,"wires":[]},{"id":"557653d4471de7ef","type":"ui_level","z":"5e45f87abace7943","group":"6439cc8967f91f85","order":8,"width":0,"height":0,"name":"","label":"Cell 1 Voltage","colorHi":"#e60000","colorWarn":"#ff9900","colorNormal":"#00b33c","colorOff":"#595959","min":0,"max":"5","segWarn":"","segHigh":"","unit":"Volts","layout":"sh","channelA":"","channelB":"","decimals":"3","animations":"soft","shape":2,"colorschema":"fixed","textoptions":"default","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSmall":"","colorFromTheme":true,"textAnimations":false,"hideValue":false,"tickmode":"off","peakmode":false,"property":"payload","peaktime":3000,"x":1350,"y":180,"wires":[]},{"id":"0504bb0e312f24b8","type":"ui_level","z":"5e45f87abace7943","group":"6439cc8967f91f85","order":8,"width":0,"height":0,"name":"","label":"Cell 2 Voltage","colorHi":"#e60000","colorWarn":"#ff9900","colorNormal":"#00b33c","colorOff":"#595959","min":0,"max":"5","segWarn":"","segHigh":"","unit":"Volts","layout":"sh","channelA":"","channelB":"","decimals":"3","animations":"soft","shape":2,"colorschema":"fixed","textoptions":"default","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSmall":"","colorFromTheme":true,"textAnimations":false,"hideValue":false,"tickmode":"off","peakmode":false,"property":"payload","peaktime":3000,"x":1350,"y":240,"wires":[]},{"id":"0e5ffcde5e9324f3","type":"ui_level","z":"5e45f87abace7943","group":"6439cc8967f91f85","order":8,"width":0,"height":0,"name":"","label":"Cell 3 Voltage","colorHi":"#e60000","colorWarn":"#ff9900","colorNormal":"#00b33c","colorOff":"#595959","min":0,"max":"5","segWarn":"","segHigh":"","unit":"Volts","layout":"sh","channelA":"","channelB":"","decimals":"3","animations":"soft","shape":2,"colorschema":"fixed","textoptions":"default","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSmall":"","colorFromTheme":true,"textAnimations":false,"hideValue":false,"tickmode":"off","peakmode":false,"property":"payload","peaktime":3000,"x":1350,"y":300,"wires":[]},{"id":"35571db427fe4d39","type":"ui_level","z":"5e45f87abace7943","group":"6439cc8967f91f85","order":8,"width":0,"height":0,"name":"","label":"Cell 4 Voltage","colorHi":"#e60000","colorWarn":"#ff9900","colorNormal":"#00b33c","colorOff":"#595959","min":0,"max":"5","segWarn":"","segHigh":"","unit":"Volts","layout":"sh","channelA":"","channelB":"","decimals":"3","animations":"soft","shape":2,"colorschema":"fixed","textoptions":"default","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSmall":"","colorFromTheme":true,"textAnimations":false,"hideValue":false,"tickmode":"off","peakmode":false,"property":"payload","peaktime":3000,"x":1350,"y":360,"wires":[]},{"id":"e8ab4819711a3a6c","type":"ui_level","z":"5e45f87abace7943","group":"6439cc8967f91f85","order":8,"width":0,"height":0,"name":"","label":"Cell 5 Voltage","colorHi":"#e60000","colorWarn":"#ff9900","colorNormal":"#00b33c","colorOff":"#595959","min":0,"max":"5","segWarn":"","segHigh":"","unit":"Volts","layout":"sh","channelA":"","channelB":"","decimals":"3","animations":"soft","shape":2,"colorschema":"fixed","textoptions":"default","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSmall":"","colorFromTheme":true,"textAnimations":false,"hideValue":false,"tickmode":"off","peakmode":false,"property":"payload","peaktime":3000,"x":1350,"y":420,"wires":[]},{"id":"3794b1b96269b865","type":"ui_level","z":"5e45f87abace7943","group":"6439cc8967f91f85","order":8,"width":0,"height":0,"name":"","label":"Cell 6 Voltage","colorHi":"#e60000","colorWarn":"#ff9900","colorNormal":"#00b33c","colorOff":"#595959","min":0,"max":"5","segWarn":"","segHigh":"","unit":"Volts","layout":"sh","channelA":"","channelB":"","decimals":"3","animations":"soft","shape":2,"colorschema":"fixed","textoptions":"default","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSmall":"","colorFromTheme":true,"textAnimations":false,"hideValue":false,"tickmode":"off","peakmode":false,"property":"payload","peaktime":3000,"x":1350,"y":480,"wires":[]},{"id":"bd3fa07da6057789","type":"ui_level","z":"5e45f87abace7943","group":"6439cc8967f91f85","order":8,"width":0,"height":0,"name":"","label":"Cell 7 Voltage","colorHi":"#e60000","colorWarn":"#ff9900","colorNormal":"#00b33c","colorOff":"#595959","min":0,"max":"5","segWarn":"","segHigh":"","unit":"Volts","layout":"sh","channelA":"","channelB":"","decimals":"3","animations":"soft","shape":2,"colorschema":"fixed","textoptions":"default","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSmall":"","colorFromTheme":true,"textAnimations":false,"hideValue":false,"tickmode":"off","peakmode":false,"property":"payload","peaktime":3000,"x":1350,"y":540,"wires":[]},{"id":"22686420de0c2492","type":"ui_level","z":"5e45f87abace7943","group":"6439cc8967f91f85","order":8,"width":0,"height":0,"name":"","label":"Cell 8 Voltage","colorHi":"#e60000","colorWarn":"#ff9900","colorNormal":"#00b33c","colorOff":"#595959","min":0,"max":"5","segWarn":"","segHigh":"","unit":"Volts","layout":"sh","channelA":"","channelB":"","decimals":"3","animations":"soft","shape":2,"colorschema":"fixed","textoptions":"default","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSmall":"","colorFromTheme":true,"textAnimations":false,"hideValue":false,"tickmode":"off","peakmode":false,"property":"payload","peaktime":3000,"x":1350,"y":600,"wires":[]},{"id":"8a3814210dbb7b5c","type":"serial out","z":"5e45f87abace7943","name":"Write USB1","serial":"8f567a3c2f4cef82","x":410,"y":40,"wires":[]},{"id":"0331e0478ed70899","type":"inject","z":"5e45f87abace7943","name":"Get Pack #1 Data","props":[{"p":"payload"}],"repeat":"2","crontab":"","once":true,"onceDelay":"2","topic":"","payload":"[126,50,48,48,49,52,54,52,50,69,48,48,50,48,49,70,68,51,53,13]","payloadType":"bin","x":110,"y":40,"wires":[["8a3814210dbb7b5c"]]},{"id":"4b800a216fae5f33","type":"serial in","z":"5e45f87abace7943","name":"Read USB1","serial":"8f567a3c2f4cef82","x":90,"y":240,"wires":[["ed158968a42fb5f7","524c903a4ccac82c","85180c846530a171"]]},{"id":"ed158968a42fb5f7","type":"debug","z":"5e45f87abace7943","name":"Buffer1","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":400,"y":140,"wires":[]},{"id":"911107ec35e339da","type":"ui_level","z":"5e45f87abace7943","group":"6439cc8967f91f85","order":8,"width":0,"height":0,"name":"","label":"Cell 9 Voltage","colorHi":"#e60000","colorWarn":"#ff9900","colorNormal":"#00b33c","colorOff":"#595959","min":0,"max":"5","segWarn":"","segHigh":"","unit":"Volts","layout":"sh","channelA":"","channelB":"","decimals":"3","animations":"soft","shape":2,"colorschema":"fixed","textoptions":"default","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSmall":"","colorFromTheme":true,"textAnimations":false,"hideValue":false,"tickmode":"off","peakmode":false,"property":"payload","peaktime":3000,"x":1550,"y":180,"wires":[]},{"id":"716ccff972f9a5a5","type":"ui_level","z":"5e45f87abace7943","group":"6439cc8967f91f85","order":8,"width":0,"height":0,"name":"","label":"Cell 10 Voltage","colorHi":"#e60000","colorWarn":"#ff9900","colorNormal":"#00b33c","colorOff":"#595959","min":0,"max":"5","segWarn":"","segHigh":"","unit":"Volts","layout":"sh","channelA":"","channelB":"","decimals":"3","animations":"soft","shape":2,"colorschema":"fixed","textoptions":"default","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSmall":"","colorFromTheme":true,"textAnimations":false,"hideValue":false,"tickmode":"off","peakmode":false,"property":"payload","peaktime":3000,"x":1550,"y":240,"wires":[]},{"id":"88ba1d2b5f259718","type":"ui_level","z":"5e45f87abace7943","group":"6439cc8967f91f85","order":8,"width":0,"height":0,"name":"","label":"Cell 11 Voltage","colorHi":"#e60000","colorWarn":"#ff9900","colorNormal":"#00b33c","colorOff":"#595959","min":0,"max":"5","segWarn":"","segHigh":"","unit":"Volts","layout":"sh","channelA":"","channelB":"","decimals":"3","animations":"soft","shape":2,"colorschema":"fixed","textoptions":"default","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSmall":"","colorFromTheme":true,"textAnimations":false,"hideValue":false,"tickmode":"off","peakmode":false,"property":"payload","peaktime":3000,"x":1550,"y":300,"wires":[]},{"id":"7e318a970f09e409","type":"ui_level","z":"5e45f87abace7943","group":"6439cc8967f91f85","order":8,"width":0,"height":0,"name":"","label":"Cell 12 Voltage","colorHi":"#e60000","colorWarn":"#ff9900","colorNormal":"#00b33c","colorOff":"#595959","min":0,"max":"5","segWarn":"","segHigh":"","unit":"Volts","layout":"sh","channelA":"","channelB":"","decimals":"3","animations":"soft","shape":2,"colorschema":"fixed","textoptions":"default","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSmall":"","colorFromTheme":true,"textAnimations":false,"hideValue":false,"tickmode":"off","peakmode":false,"property":"payload","peaktime":3000,"x":1550,"y":360,"wires":[]},{"id":"eab4d1039a610160","type":"ui_level","z":"5e45f87abace7943","group":"6439cc8967f91f85","order":8,"width":0,"height":0,"name":"","label":"Cell 13 Voltage","colorHi":"#e60000","colorWarn":"#ff9900","colorNormal":"#00b33c","colorOff":"#595959","min":0,"max":"5","segWarn":"","segHigh":"","unit":"Volts","layout":"sh","channelA":"","channelB":"","decimals":"3","animations":"soft","shape":2,"colorschema":"fixed","textoptions":"default","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSmall":"","colorFromTheme":true,"textAnimations":false,"hideValue":false,"tickmode":"off","peakmode":false,"property":"payload","peaktime":3000,"x":1550,"y":420,"wires":[]},{"id":"b723f29029210dfd","type":"ui_level","z":"5e45f87abace7943","group":"6439cc8967f91f85","order":8,"width":0,"height":0,"name":"","label":"Cell 14 Voltage","colorHi":"#e60000","colorWarn":"#ff9900","colorNormal":"#00b33c","colorOff":"#595959","min":0,"max":"5","segWarn":"","segHigh":"","unit":"Volts","layout":"sh","channelA":"","channelB":"","decimals":"3","animations":"soft","shape":2,"colorschema":"fixed","textoptions":"default","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSmall":"","colorFromTheme":true,"textAnimations":false,"hideValue":false,"tickmode":"off","peakmode":false,"property":"payload","peaktime":3000,"x":1550,"y":480,"wires":[]},{"id":"4cbd0c37d9ecc62c","type":"ui_level","z":"5e45f87abace7943","group":"6439cc8967f91f85","order":8,"width":0,"height":0,"name":"","label":"Cell 15 Voltage","colorHi":"#e60000","colorWarn":"#ff9900","colorNormal":"#00b33c","colorOff":"#595959","min":0,"max":"5","segWarn":"","segHigh":"","unit":"Volts","layout":"sh","channelA":"","channelB":"","decimals":"3","animations":"soft","shape":2,"colorschema":"fixed","textoptions":"default","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSmall":"","colorFromTheme":true,"textAnimations":false,"hideValue":false,"tickmode":"off","peakmode":false,"property":"payload","peaktime":3000,"x":1550,"y":540,"wires":[]},{"id":"db6aab7cebec9507","type":"ui_level","z":"5e45f87abace7943","group":"6439cc8967f91f85","order":8,"width":0,"height":0,"name":"","label":"Cell 16 Voltage","colorHi":"#e60000","colorWarn":"#ff9900","colorNormal":"#00b33c","colorOff":"#595959","min":0,"max":"5","segWarn":"","segHigh":"","unit":"Volts","layout":"sh","channelA":"","channelB":"","decimals":"3","animations":"soft","shape":2,"colorschema":"fixed","textoptions":"default","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSmall":"","colorFromTheme":true,"textAnimations":false,"hideValue":false,"tickmode":"off","peakmode":false,"property":"payload","peaktime":3000,"x":1550,"y":600,"wires":[]},{"id":"2136593bd4ef06db","type":"unit-converter","z":"5e45f87abace7943","category":"temperature","inputUnit":"K","outputUnit":"F","inputField":"payload","outputField":"payload","inputFieldType":"msg","outputFieldType":"msg","roundOutputField":true,"outputFieldDecimals":2,"name":"","x":1340,"y":740,"wires":[["ebefc007cfa726d5","c7ee93699cf2b8d4"]]},{"id":"ebefc007cfa726d5","type":"ui_gauge","z":"5e45f87abace7943","name":"Pack Tempature","group":"f938b7bcae72e8c7","order":5,"width":2,"height":2,"gtype":"gage","title":"Cell Temp 2","label":"Degrees","format":"{{value}}","min":0,"max":"120","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":1560,"y":740,"wires":[]},{"id":"b045e028c328b401","type":"debug","z":"5e45f87abace7943","name":"Tempature Metrics","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":1010,"y":700,"wires":[]},{"id":"b27719d367b1e758","type":"unit-converter","z":"5e45f87abace7943","category":"temperature","inputUnit":"K","outputUnit":"F","inputField":"payload","outputField":"payload","inputFieldType":"msg","outputFieldType":"msg","roundOutputField":true,"outputFieldDecimals":2,"name":"","x":1340,"y":780,"wires":[["c0765e4acdfd439d","c7ee93699cf2b8d4"]]},{"id":"c0765e4acdfd439d","type":"ui_gauge","z":"5e45f87abace7943","name":"Pack Tempature","group":"f938b7bcae72e8c7","order":6,"width":2,"height":2,"gtype":"gage","title":"Cell Temp 2","label":"Degrees","format":"{{value}}","min":0,"max":"120","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":1560,"y":780,"wires":[]},{"id":"b72f34df8361d4e9","type":"unit-converter","z":"5e45f87abace7943","category":"temperature","inputUnit":"K","outputUnit":"F","inputField":"payload","outputField":"payload","inputFieldType":"msg","outputFieldType":"msg","roundOutputField":true,"outputFieldDecimals":2,"name":"","x":1340,"y":820,"wires":[["91b80b84ed2f43fe","c7ee93699cf2b8d4"]]},{"id":"7b7474383c9ea603","type":"unit-converter","z":"5e45f87abace7943","category":"temperature","inputUnit":"K","outputUnit":"F","inputField":"payload","outputField":"payload","inputFieldType":"msg","outputFieldType":"msg","roundOutputField":true,"outputFieldDecimals":2,"name":"","x":1340,"y":860,"wires":[["e2f4e33cd14e085a","c7ee93699cf2b8d4"]]},{"id":"2f169a234a8f4521","type":"unit-converter","z":"5e45f87abace7943","category":"temperature","inputUnit":"K","outputUnit":"F","inputField":"payload","outputField":"payload","inputFieldType":"msg","outputFieldType":"msg","roundOutputField":true,"outputFieldDecimals":2,"name":"","x":1340,"y":900,"wires":[["624d8d92d546feaa","c7ee93699cf2b8d4"]]},{"id":"91b80b84ed2f43fe","type":"ui_gauge","z":"5e45f87abace7943","name":"Pack Tempature","group":"f938b7bcae72e8c7","order":7,"width":2,"height":2,"gtype":"gage","title":"Cell Temp 2","label":"Degrees","format":"{{value}}","min":0,"max":"120","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":1560,"y":820,"wires":[]},{"id":"e2f4e33cd14e085a","type":"ui_gauge","z":"5e45f87abace7943","name":"Pack Tempature","group":"f938b7bcae72e8c7","order":8,"width":2,"height":2,"gtype":"gage","title":"Internal Temp","label":"Degrees","format":"{{value}}","min":0,"max":"120","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":1560,"y":860,"wires":[]},{"id":"624d8d92d546feaa","type":"ui_gauge","z":"5e45f87abace7943","name":"Pack Tempature","group":"f938b7bcae72e8c7","order":9,"width":2,"height":2,"gtype":"gage","title":"BMS Temp","label":"Degrees","format":"{{value}}","min":0,"max":"120","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":1560,"y":900,"wires":[]},{"id":"ce50cc2abb441325","type":"ui_chart","z":"5e45f87abace7943","name":"","group":"f938b7bcae72e8c7","order":3,"width":6,"height":3,"label":"Battery Remaining","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":1790,"y":1260,"wires":[[]]},{"id":"ddba10d481323864","type":"debug","z":"5e45f87abace7943","name":"Pack Current","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":1310,"y":1160,"wires":[]},{"id":"524c903a4ccac82c","type":"switch","z":"5e45f87abace7943","name":"Packet Type","property":"payload.9","propertyType":"msg","rules":[{"t":"eq","v":"0x32","vt":"num"},{"t":"eq","v":"0x31","vt":"num"}],"checkall":"false","repair":false,"outputs":2,"x":410,"y":300,"wires":[["11eba34d768c8279"],["15c11821dfc63f9a","8976ed8ff166d02b","2ed9d66bc421cac0"]],"info":"Switch on packet type.   \n\nThis is at postion 10\n\n"},{"id":"11eba34d768c8279","type":"buffer-parser","z":"5e45f87abace7943","name":"D2H Time","data":"payload","dataType":"msg","specification":"spec","specificationType":"ui","items":[{"type":"string","name":"data","offset":17,"length":12,"offsetbit":0,"scale":"1","mask":""}],"swap1":"","swap2":"","swap3":"","swap1Type":"swap","swap2Type":"swap","swap3Type":"swap","msgProperty":"payload","msgPropertyType":"str","resultType":"keyvalue","resultTypeType":"output","multipleResult":false,"fanOutMultipleResult":false,"setTopic":true,"outputs":1,"x":720,"y":120,"wires":[["14a45d5d97212973"]]},{"id":"16ce9d3ff2543da0","type":"inject","z":"5e45f87abace7943","name":"Time Request","props":[{"p":"payload"}],"repeat":"10","crontab":"","once":true,"onceDelay":"11","topic":"","payload":"[126,50,48,48,49,52,54,52,68,48,48,48,48,70,68,57,66,13]","payloadType":"bin","x":100,"y":80,"wires":[["8a3814210dbb7b5c"]]},{"id":"14a45d5d97212973","type":"function","z":"5e45f87abace7943","name":"Time Parser","func":"var months={1:\"January\",2:\"February\",3:\"March\",4:\"April\",5:\"May\",6:\"June\",7:\"July\",8:\"August\",9:\"September\",10:\"October\",11:\"November\",12:\"December\"};\n\nvar MonthStr = msg.payload.data.substr(0,2);\nvar DayStr = msg.payload.data.substr(2,2);\nvar HourStr = msg.payload.data.substr(4,2);\nvar MinuteStr = msg.payload.data.substr(6,2);\n//msg.payload = Buffer.from(msg.payload.data,\"hex\").toString()\nvar MonthValue = parseInt(MonthStr,16);\nvar DayValue = parseInt(DayStr,16);\nvar HourValue = parseInt(HourStr,16);\nvar MinuteValue = parseInt(MinuteStr,16);\n\nmsg.payload = months[MonthValue] + \"-\" + \n              DayValue.toString() + \" @ \" + \n              HourValue.toString() + \":\" + \n              MinuteValue.toString().padStart(2,\"0\");\n              \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1010,"y":120,"wires":[["6addfe6de0fd9e37"]]},{"id":"6addfe6de0fd9e37","type":"ui_text","z":"5e45f87abace7943","group":"f938b7bcae72e8c7","order":1,"width":"6","height":"2","name":"","label":"Pack 1 Updated","format":"{{msg.payload}}","layout":"col-center","className":"","x":1380,"y":120,"wires":[]},{"id":"a1ddab431fcad486","type":"influxdb out","z":"5e45f87abace7943","influxdb":"747e2862444b614f","name":"RanchData","measurement":"Pack1","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"BVRanch","bucket":"RanchData","x":1830,"y":980,"wires":[]},{"id":"c7ee93699cf2b8d4","type":"join","z":"5e45f87abace7943","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":true,"timeout":"","count":"6","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1730,"y":740,"wires":[["a1ddab431fcad486"]]},{"id":"1db19368047df077","type":"join","z":"5e45f87abace7943","name":"Combine","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"5","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1560,"y":1340,"wires":[["1e1ac7d71596988e","8fea6508bda70c2f"]]},{"id":"1e1ac7d71596988e","type":"influxdb out","z":"5e45f87abace7943","influxdb":"747e2862444b614f","name":"Ranch Data","measurement":"Pack1","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"BVRanch","bucket":"RanchData","x":1810,"y":1340,"wires":[]},{"id":"8fea6508bda70c2f","type":"debug","z":"5e45f87abace7943","name":"Pack1 InfluxWrite","active":false,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":1780,"y":1420,"wires":[]},{"id":"f8f449ddce4290c0","type":"file","z":"5e45f87abace7943","name":"Pack1 Logging","filename":"/var/tmp/pack1data.log","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"hex","x":720,"y":200,"wires":[[]]},{"id":"85180c846530a171","type":"function","z":"5e45f87abace7943","name":"","func":"msg.payload = msg.payload.toString(\"hex\")\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":220,"wires":[["f8f449ddce4290c0"]]},{"id":"b7cd0f86652a4dbc","type":"buffer-parser","z":"09041cafeb254eed","name":"Cell Metrics","data":"payload","dataType":"msg","specification":"spec","specificationType":"ui","items":[{"type":"string","name":"data","offset":19,"length":64,"offsetbit":0,"scale":"1","mask":""}],"swap1":"","swap2":"","swap3":"","swap1Type":"swap","swap2Type":"swap","swap3Type":"swap","msgProperty":"payload","msgPropertyType":"str","resultType":"keyvalue","resultTypeType":"output","multipleResult":false,"fanOutMultipleResult":false,"setTopic":true,"outputs":1,"x":470,"y":360,"wires":[["ef94618628430260","4ce33ec26d5e8148"]]},{"id":"ef94618628430260","type":"buffer-parser","z":"09041cafeb254eed","name":"P1 Cell Buffer","data":"payload.data","dataType":"msg","specification":"spec","specificationType":"ui","items":[{"type":"int16be","name":"Cell 1","offset":0,"length":1,"offsetbit":0,"scale":".001","mask":""},{"type":"int16be","name":"Cell 2","offset":2,"length":1,"offsetbit":0,"scale":".001","mask":""},{"type":"int16be","name":"Cell 3","offset":4,"length":1,"offsetbit":0,"scale":".001","mask":""},{"type":"int16be","name":"Cell 4","offset":6,"length":1,"offsetbit":0,"scale":".001","mask":""},{"type":"int16be","name":"Cell 5","offset":8,"length":1,"offsetbit":0,"scale":".001","mask":""},{"type":"int16be","name":"Cell 6","offset":10,"length":1,"offsetbit":0,"scale":".001","mask":""},{"type":"int16be","name":"Cell 7","offset":12,"length":1,"offsetbit":0,"scale":".001","mask":""},{"type":"int16be","name":"Cell 8","offset":14,"length":1,"offsetbit":0,"scale":".001","mask":""},{"type":"int16be","name":"Cell 9","offset":16,"length":1,"offsetbit":0,"scale":".001","mask":""},{"type":"int16be","name":"Cell 10","offset":18,"length":1,"offsetbit":0,"scale":".001","mask":""},{"type":"int16be","name":"Cell 11","offset":20,"length":1,"offsetbit":0,"scale":".001","mask":""},{"type":"int16be","name":"Cell 12","offset":22,"length":1,"offsetbit":0,"scale":".001","mask":""},{"type":"int16be","name":"Cell 13","offset":24,"length":1,"offsetbit":0,"scale":".001","mask":""},{"type":"int16be","name":"Cell 14","offset":26,"length":1,"offsetbit":0,"scale":".001","mask":""},{"type":"int16be","name":"Cell 15","offset":28,"length":1,"offsetbit":0,"scale":".001","mask":""},{"type":"int16be","name":"Cell 16","offset":30,"length":1,"offsetbit":0,"scale":".001","mask":""}],"swap1":"","swap2":"","swap3":"","swap1Type":"swap","swap2Type":"swap","swap3Type":"swap","msgProperty":"payload","msgPropertyType":"str","resultType":"value","resultTypeType":"output","multipleResult":true,"fanOutMultipleResult":true,"setTopic":true,"outputs":16,"x":680,"y":360,"wires":[["36968b6b4fe5b889"],["31831f2a50e1ae6c"],["6609951b5f1944fc"],["4ef27bf512a2911d"],["8d46895a50cafa1a"],["6c134e538830412e"],["2deee5b6ea8b376d"],["e431f35ba8d6ba21"],["ae376b03082d30f8"],["c93f2cfb034c7131"],["e2ea8895322e2c44"],["3495d54b762967d6"],["6be5a8f8307d01f5"],["c8d92a872929ef0f"],["77dd9e140dcb0b26"],["e46e226492534003"]]},{"id":"3e7455c7e2ddaaec","type":"buffer-parser","z":"09041cafeb254eed","name":"Tempature Metrics","data":"payload","dataType":"msg","specification":"spec","specificationType":"ui","items":[{"type":"string","name":"data","offset":85,"length":24,"offsetbit":0,"scale":"1","mask":""}],"swap1":"","swap2":"","swap3":"","swap1Type":"swap","swap2Type":"swap","swap3Type":"swap","msgProperty":"payload","msgPropertyType":"str","resultType":"keyvalue","resultTypeType":"output","multipleResult":false,"fanOutMultipleResult":false,"setTopic":true,"outputs":1,"x":470,"y":640,"wires":[["f3e653ef5d94bd25","43da09f335a5ed7b"]]},{"id":"e163f95f75e7731b","type":"buffer-parser","z":"09041cafeb254eed","name":"Pack Metrics","data":"payload","dataType":"msg","specification":"spec","specificationType":"ui","items":[{"type":"string","name":"data","offset":109,"length":18,"offsetbit":0,"scale":"1","mask":""},{"type":"string","name":"current","offset":109,"length":4,"offsetbit":0,"scale":"1","mask":""}],"swap1":"","swap2":"","swap3":"","swap1Type":"swap","swap2Type":"swap","swap3Type":"swap","msgProperty":"payload","msgPropertyType":"str","resultType":"keyvalue","resultTypeType":"output","multipleResult":false,"fanOutMultipleResult":true,"setTopic":true,"outputs":1,"x":450,"y":860,"wires":[["e32d8ac873de54d2","5ccfafffcdd813a2"]]},{"id":"e32d8ac873de54d2","type":"buffer-parser","z":"09041cafeb254eed","name":"Hex String Buffer Parser","data":"payload.data","dataType":"msg","specification":"spec","specificationType":"ui","items":[{"type":"int16be","name":"PackAmps","offset":0,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"int16be","name":"PackVolts","offset":2,"length":1,"offsetbit":0,"scale":".01","mask":""},{"type":"int16be","name":"PackRmAH","offset":4,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"int8","name":"Unknown","offset":6,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"int16be","name":"PackTmAH","offset":7,"length":1,"offsetbit":0,"scale":"1","mask":""}],"swap1":"","swap2":"","swap3":"","swap1Type":"swap","swap2Type":"swap","swap3Type":"swap","msgProperty":"payload","msgPropertyType":"str","resultType":"value","resultTypeType":"output","multipleResult":true,"fanOutMultipleResult":true,"setTopic":true,"outputs":5,"x":690,"y":920,"wires":[["eaa8e38b58b9bd1f","f3d0ae8ead6751a3"],["ebc65c56c6b74394","7d282532ebc3211d","f3d0ae8ead6751a3"],["9a6745fcf5593565","b9d0c97e6e80f82e","f3d0ae8ead6751a3"],["54a0bdc7e749bbd0","f3d0ae8ead6751a3"],["9d38e6affc1e9fa6","b9d0c97e6e80f82e","f3d0ae8ead6751a3"]]},{"id":"eaa8e38b58b9bd1f","type":"debug","z":"09041cafeb254eed","name":"Pack Current","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":990,"y":900,"wires":[]},{"id":"5ccfafffcdd813a2","type":"debug","z":"09041cafeb254eed","name":"P1 Pack Metrics","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":660,"y":840,"wires":[]},{"id":"ebc65c56c6b74394","type":"debug","z":"09041cafeb254eed","name":"Pack Voltage","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":950,"y":960,"wires":[]},{"id":"7d282532ebc3211d","type":"ui_gauge","z":"09041cafeb254eed","name":"","group":"7bfd752a14e93257","order":10,"width":0,"height":0,"gtype":"gage","title":"Pack Voltage","label":"Volts","format":"{{value}}","min":0,"max":"75","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":1150,"y":960,"wires":[]},{"id":"f3e653ef5d94bd25","type":"buffer-parser","z":"09041cafeb254eed","name":"P1 Tempature Buffer","data":"payload.data","dataType":"msg","specification":"spec","specificationType":"ui","items":[{"type":"int16be","name":"Temp 0","offset":0,"length":1,"offsetbit":0,"scale":".1","mask":""},{"type":"int16be","name":"Temp 1","offset":2,"length":1,"offsetbit":0,"scale":".1","mask":""},{"type":"int16be","name":"Battery 3","offset":4,"length":1,"offsetbit":0,"scale":".1","mask":""},{"type":"int16be","name":"Battery 4","offset":6,"length":1,"offsetbit":0,"scale":".1","mask":""},{"type":"int16be","name":"Case Temp","offset":8,"length":1,"offsetbit":0,"scale":".1","mask":""},{"type":"int16be","name":"BMS Temp","offset":10,"length":1,"offsetbit":0,"scale":".1","mask":""}],"swap1":"","swap2":"","swap3":"","swap1Type":"swap","swap2Type":"swap","swap3Type":"swap","msgProperty":"payload","msgPropertyType":"str","resultType":"value","resultTypeType":"output","multipleResult":true,"fanOutMultipleResult":true,"setTopic":true,"outputs":6,"x":700,"y":640,"wires":[["0f248c58cbbce0e2"],["bde780810dfe5a3e"],["df8a513045b35122"],["c448172a74404248"],["2d7fac99c104cbe7"],["aac4b2e700e43c59"]]},{"id":"0f248c58cbbce0e2","type":"unit-converter","z":"09041cafeb254eed","category":"temperature","inputUnit":"K","outputUnit":"F","inputField":"payload","outputField":"payload","inputFieldType":"msg","outputFieldType":"msg","roundOutputField":true,"outputFieldDecimals":2,"name":"","x":940,"y":640,"wires":[["75100a2299a7edfc"]]},{"id":"9a6745fcf5593565","type":"debug","z":"09041cafeb254eed","name":"Pack Residual mAH","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":980,"y":1020,"wires":[]},{"id":"9d38e6affc1e9fa6","type":"debug","z":"09041cafeb254eed","name":"Pack Total mAH","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":960,"y":1200,"wires":[]},{"id":"644c89352ef27176","type":"function","z":"09041cafeb254eed","name":"SOC Calculator","func":"total = msg.payload.PackTmAH;\nremaining = msg.payload.PackRmAH;\n\npavailable = (remaining/total) * 100;\n\nmsg.topic = \"Pack%Capacity\"\nmsg.payload = parseInt(pavailable.toFixed(2));\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1180,"y":1140,"wires":[["9a66879e2e87822b","f60557f688e6aa5b","8621612d40300d77","f3d0ae8ead6751a3"]]},{"id":"b9d0c97e6e80f82e","type":"join","z":"09041cafeb254eed","name":"Combine parts","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":true,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":960,"y":1140,"wires":[["644c89352ef27176"]]},{"id":"9a66879e2e87822b","type":"debug","z":"09041cafeb254eed","name":"","active":false,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":1450,"y":1060,"wires":[]},{"id":"f60557f688e6aa5b","type":"ui_gauge","z":"09041cafeb254eed","name":"Pack Battery Remaining","group":"7bfd752a14e93257","order":2,"width":0,"height":0,"gtype":"gage","title":"Pack Capacity Remaining","label":"% Remaining","format":"{{value}}","min":0,"max":"100","colors":["#b30024","#e6e600","#3acb3e"],"seg1":"","seg2":"","className":"","x":1490,"y":1140,"wires":[]},{"id":"75100a2299a7edfc","type":"ui_gauge","z":"09041cafeb254eed","name":"Pack Tempature","group":"7bfd752a14e93257","order":4,"width":2,"height":2,"gtype":"gage","title":"Cell Temp 1","label":"Degrees","format":"{{value}}","min":0,"max":"120","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":1160,"y":640,"wires":[]},{"id":"36968b6b4fe5b889","type":"ui_level","z":"09041cafeb254eed","group":"270f459e3bc45134","order":8,"width":0,"height":0,"name":"","label":"Pack 2 Details","colorHi":"#e60000","colorWarn":"#ff9900","colorNormal":"#00b33c","colorOff":"#595959","min":0,"max":"5","segWarn":"","segHigh":"","unit":"Volts","layout":"sh","channelA":"","channelB":"","decimals":"3","animations":"soft","shape":2,"colorschema":"fixed","textoptions":"default","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSmall":"","colorFromTheme":true,"textAnimations":false,"hideValue":false,"tickmode":"off","peakmode":false,"property":"payload","peaktime":3000,"x":1090,"y":160,"wires":[]},{"id":"31831f2a50e1ae6c","type":"ui_level","z":"09041cafeb254eed","group":"270f459e3bc45134","order":8,"width":0,"height":0,"name":"","label":"Cell 2 Voltage","colorHi":"#e60000","colorWarn":"#ff9900","colorNormal":"#00b33c","colorOff":"#595959","min":0,"max":"5","segWarn":"","segHigh":"","unit":"Volts","layout":"sh","channelA":"","channelB":"","decimals":"3","animations":"soft","shape":2,"colorschema":"fixed","textoptions":"default","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSmall":"","colorFromTheme":true,"textAnimations":false,"hideValue":false,"tickmode":"off","peakmode":false,"property":"payload","peaktime":3000,"x":1090,"y":220,"wires":[]},{"id":"6609951b5f1944fc","type":"ui_level","z":"09041cafeb254eed","group":"270f459e3bc45134","order":8,"width":0,"height":0,"name":"","label":"Cell 3 Voltage","colorHi":"#e60000","colorWarn":"#ff9900","colorNormal":"#00b33c","colorOff":"#595959","min":0,"max":"5","segWarn":"","segHigh":"","unit":"Volts","layout":"sh","channelA":"","channelB":"","decimals":"3","animations":"soft","shape":2,"colorschema":"fixed","textoptions":"default","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSmall":"","colorFromTheme":true,"textAnimations":false,"hideValue":false,"tickmode":"off","peakmode":false,"property":"payload","peaktime":3000,"x":1090,"y":280,"wires":[]},{"id":"4ef27bf512a2911d","type":"ui_level","z":"09041cafeb254eed","group":"270f459e3bc45134","order":8,"width":0,"height":0,"name":"","label":"Cell 4 Voltage","colorHi":"#e60000","colorWarn":"#ff9900","colorNormal":"#00b33c","colorOff":"#595959","min":0,"max":"5","segWarn":"","segHigh":"","unit":"Volts","layout":"sh","channelA":"","channelB":"","decimals":"3","animations":"soft","shape":2,"colorschema":"fixed","textoptions":"default","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSmall":"","colorFromTheme":true,"textAnimations":false,"hideValue":false,"tickmode":"off","peakmode":false,"property":"payload","peaktime":3000,"x":1090,"y":340,"wires":[]},{"id":"8d46895a50cafa1a","type":"ui_level","z":"09041cafeb254eed","group":"270f459e3bc45134","order":8,"width":0,"height":0,"name":"","label":"Cell 5 Voltage","colorHi":"#e60000","colorWarn":"#ff9900","colorNormal":"#00b33c","colorOff":"#595959","min":0,"max":"5","segWarn":"","segHigh":"","unit":"Volts","layout":"sh","channelA":"","channelB":"","decimals":"3","animations":"soft","shape":2,"colorschema":"fixed","textoptions":"default","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSmall":"","colorFromTheme":true,"textAnimations":false,"hideValue":false,"tickmode":"off","peakmode":false,"property":"payload","peaktime":3000,"x":1090,"y":400,"wires":[]},{"id":"6c134e538830412e","type":"ui_level","z":"09041cafeb254eed","group":"270f459e3bc45134","order":8,"width":0,"height":0,"name":"","label":"Cell 6 Voltage","colorHi":"#e60000","colorWarn":"#ff9900","colorNormal":"#00b33c","colorOff":"#595959","min":0,"max":"5","segWarn":"","segHigh":"","unit":"Volts","layout":"sh","channelA":"","channelB":"","decimals":"3","animations":"soft","shape":2,"colorschema":"fixed","textoptions":"default","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSmall":"","colorFromTheme":true,"textAnimations":false,"hideValue":false,"tickmode":"off","peakmode":false,"property":"payload","peaktime":3000,"x":1090,"y":460,"wires":[]},{"id":"2deee5b6ea8b376d","type":"ui_level","z":"09041cafeb254eed","group":"270f459e3bc45134","order":8,"width":0,"height":0,"name":"","label":"Cell 7 Voltage","colorHi":"#e60000","colorWarn":"#ff9900","colorNormal":"#00b33c","colorOff":"#595959","min":0,"max":"5","segWarn":"","segHigh":"","unit":"Volts","layout":"sh","channelA":"","channelB":"","decimals":"3","animations":"soft","shape":2,"colorschema":"fixed","textoptions":"default","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSmall":"","colorFromTheme":true,"textAnimations":false,"hideValue":false,"tickmode":"off","peakmode":false,"property":"payload","peaktime":3000,"x":1090,"y":520,"wires":[]},{"id":"e431f35ba8d6ba21","type":"ui_level","z":"09041cafeb254eed","group":"270f459e3bc45134","order":8,"width":0,"height":0,"name":"","label":"Cell 8 Voltage","colorHi":"#e60000","colorWarn":"#ff9900","colorNormal":"#00b33c","colorOff":"#595959","min":0,"max":"5","segWarn":"","segHigh":"","unit":"Volts","layout":"sh","channelA":"","channelB":"","decimals":"3","animations":"soft","shape":2,"colorschema":"fixed","textoptions":"default","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSmall":"","colorFromTheme":true,"textAnimations":false,"hideValue":false,"tickmode":"off","peakmode":false,"property":"payload","peaktime":3000,"x":1090,"y":580,"wires":[]},{"id":"4ce33ec26d5e8148","type":"debug","z":"09041cafeb254eed","name":"P1 Cell Metrics","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":680,"y":520,"wires":[]},{"id":"d51f661b6b97f3e2","type":"serial out","z":"09041cafeb254eed","name":"USB3 Serial Port","serial":"2671683380b79836","x":450,"y":40,"wires":[]},{"id":"d96a86da0fcf155d","type":"inject","z":"09041cafeb254eed","name":"Get Pack Address 1 Data","props":[{"p":"payload"}],"repeat":"2","crontab":"","once":true,"onceDelay":"2","topic":"","payload":"[126,50,48,48,49,52,54,52,50,69,48,48,50,48,49,70,68,51,53,13]","payloadType":"bin","x":180,"y":40,"wires":[["d51f661b6b97f3e2"]]},{"id":"1bbc8545de667180","type":"serial in","z":"09041cafeb254eed","name":"Read USB3","serial":"2671683380b79836","x":110,"y":140,"wires":[["416e24115291aaaf","cef7ef360f5e7293","eec407cc0b57d441"]]},{"id":"ae376b03082d30f8","type":"ui_level","z":"09041cafeb254eed","group":"270f459e3bc45134","order":8,"width":0,"height":0,"name":"","label":"Cell 9 Voltage","colorHi":"#e60000","colorWarn":"#ff9900","colorNormal":"#00b33c","colorOff":"#595959","min":0,"max":"5","segWarn":"","segHigh":"","unit":"Volts","layout":"sh","channelA":"","channelB":"","decimals":"3","animations":"soft","shape":2,"colorschema":"fixed","textoptions":"default","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSmall":"","colorFromTheme":true,"textAnimations":false,"hideValue":false,"tickmode":"off","peakmode":false,"property":"payload","peaktime":3000,"x":1290,"y":160,"wires":[]},{"id":"c93f2cfb034c7131","type":"ui_level","z":"09041cafeb254eed","group":"270f459e3bc45134","order":8,"width":0,"height":0,"name":"","label":"Cell 10 Voltage","colorHi":"#e60000","colorWarn":"#ff9900","colorNormal":"#00b33c","colorOff":"#595959","min":0,"max":"5","segWarn":"","segHigh":"","unit":"Volts","layout":"sh","channelA":"","channelB":"","decimals":"3","animations":"soft","shape":2,"colorschema":"fixed","textoptions":"default","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSmall":"","colorFromTheme":true,"textAnimations":false,"hideValue":false,"tickmode":"off","peakmode":false,"property":"payload","peaktime":3000,"x":1290,"y":220,"wires":[]},{"id":"e2ea8895322e2c44","type":"ui_level","z":"09041cafeb254eed","group":"270f459e3bc45134","order":8,"width":0,"height":0,"name":"","label":"Cell 11 Voltage","colorHi":"#e60000","colorWarn":"#ff9900","colorNormal":"#00b33c","colorOff":"#595959","min":0,"max":"5","segWarn":"","segHigh":"","unit":"Volts","layout":"sh","channelA":"","channelB":"","decimals":"3","animations":"soft","shape":2,"colorschema":"fixed","textoptions":"default","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSmall":"","colorFromTheme":true,"textAnimations":false,"hideValue":false,"tickmode":"off","peakmode":false,"property":"payload","peaktime":3000,"x":1290,"y":280,"wires":[]},{"id":"3495d54b762967d6","type":"ui_level","z":"09041cafeb254eed","group":"270f459e3bc45134","order":8,"width":0,"height":0,"name":"","label":"Cell 12 Voltage","colorHi":"#e60000","colorWarn":"#ff9900","colorNormal":"#00b33c","colorOff":"#595959","min":0,"max":"5","segWarn":"","segHigh":"","unit":"Volts","layout":"sh","channelA":"","channelB":"","decimals":"3","animations":"soft","shape":2,"colorschema":"fixed","textoptions":"default","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSmall":"","colorFromTheme":true,"textAnimations":false,"hideValue":false,"tickmode":"off","peakmode":false,"property":"payload","peaktime":3000,"x":1290,"y":340,"wires":[]},{"id":"6be5a8f8307d01f5","type":"ui_level","z":"09041cafeb254eed","group":"270f459e3bc45134","order":8,"width":0,"height":0,"name":"","label":"Cell 13 Voltage","colorHi":"#e60000","colorWarn":"#ff9900","colorNormal":"#00b33c","colorOff":"#595959","min":0,"max":"5","segWarn":"","segHigh":"","unit":"Volts","layout":"sh","channelA":"","channelB":"","decimals":"3","animations":"soft","shape":2,"colorschema":"fixed","textoptions":"default","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSmall":"","colorFromTheme":true,"textAnimations":false,"hideValue":false,"tickmode":"off","peakmode":false,"property":"payload","peaktime":3000,"x":1290,"y":400,"wires":[]},{"id":"c8d92a872929ef0f","type":"ui_level","z":"09041cafeb254eed","group":"270f459e3bc45134","order":8,"width":0,"height":0,"name":"","label":"Cell 14 Voltage","colorHi":"#e60000","colorWarn":"#ff9900","colorNormal":"#00b33c","colorOff":"#595959","min":0,"max":"5","segWarn":"","segHigh":"","unit":"Volts","layout":"sh","channelA":"","channelB":"","decimals":"3","animations":"soft","shape":2,"colorschema":"fixed","textoptions":"default","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSmall":"","colorFromTheme":true,"textAnimations":false,"hideValue":false,"tickmode":"off","peakmode":false,"property":"payload","peaktime":3000,"x":1290,"y":460,"wires":[]},{"id":"77dd9e140dcb0b26","type":"ui_level","z":"09041cafeb254eed","group":"270f459e3bc45134","order":8,"width":0,"height":0,"name":"","label":"Cell 15 Voltage","colorHi":"#e60000","colorWarn":"#ff9900","colorNormal":"#00b33c","colorOff":"#595959","min":0,"max":"5","segWarn":"","segHigh":"","unit":"Volts","layout":"sh","channelA":"","channelB":"","decimals":"3","animations":"soft","shape":2,"colorschema":"fixed","textoptions":"default","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSmall":"","colorFromTheme":true,"textAnimations":false,"hideValue":false,"tickmode":"off","peakmode":false,"property":"payload","peaktime":3000,"x":1290,"y":520,"wires":[]},{"id":"e46e226492534003","type":"ui_level","z":"09041cafeb254eed","group":"270f459e3bc45134","order":8,"width":0,"height":0,"name":"","label":"Cell 16 Voltage","colorHi":"#e60000","colorWarn":"#ff9900","colorNormal":"#00b33c","colorOff":"#595959","min":0,"max":"5","segWarn":"","segHigh":"","unit":"Volts","layout":"sh","channelA":"","channelB":"","decimals":"3","animations":"soft","shape":2,"colorschema":"fixed","textoptions":"default","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSmall":"","colorFromTheme":true,"textAnimations":false,"hideValue":false,"tickmode":"off","peakmode":false,"property":"payload","peaktime":3000,"x":1290,"y":580,"wires":[]},{"id":"bde780810dfe5a3e","type":"unit-converter","z":"09041cafeb254eed","category":"temperature","inputUnit":"K","outputUnit":"F","inputField":"payload","outputField":"payload","inputFieldType":"msg","outputFieldType":"msg","roundOutputField":true,"outputFieldDecimals":2,"name":"","x":940,"y":680,"wires":[["8e1ecd247a9caf9b"]]},{"id":"8e1ecd247a9caf9b","type":"ui_gauge","z":"09041cafeb254eed","name":"Pack Tempature","group":"7bfd752a14e93257","order":5,"width":2,"height":2,"gtype":"gage","title":"Cell Temp 2","label":"Degrees","format":"{{value}}","min":0,"max":"120","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":1160,"y":680,"wires":[]},{"id":"43da09f335a5ed7b","type":"debug","z":"09041cafeb254eed","name":"Tempature Metrics","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":690,"y":720,"wires":[]},{"id":"df8a513045b35122","type":"unit-converter","z":"09041cafeb254eed","category":"temperature","inputUnit":"K","outputUnit":"F","inputField":"payload","outputField":"payload","inputFieldType":"msg","outputFieldType":"msg","roundOutputField":true,"outputFieldDecimals":2,"name":"","x":940,"y":720,"wires":[["c6634a48a56cbfc1"]]},{"id":"c6634a48a56cbfc1","type":"ui_gauge","z":"09041cafeb254eed","name":"Pack Tempature","group":"7bfd752a14e93257","order":6,"width":2,"height":2,"gtype":"gage","title":"Cell Temp 2","label":"Degrees","format":"{{value}}","min":0,"max":"120","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":1160,"y":720,"wires":[]},{"id":"c448172a74404248","type":"unit-converter","z":"09041cafeb254eed","category":"temperature","inputUnit":"K","outputUnit":"F","inputField":"payload","outputField":"payload","inputFieldType":"msg","outputFieldType":"msg","roundOutputField":true,"outputFieldDecimals":2,"name":"","x":940,"y":760,"wires":[["b7d3ef8956d22e11"]]},{"id":"2d7fac99c104cbe7","type":"unit-converter","z":"09041cafeb254eed","category":"temperature","inputUnit":"K","outputUnit":"F","inputField":"payload","outputField":"payload","inputFieldType":"msg","outputFieldType":"msg","roundOutputField":true,"outputFieldDecimals":2,"name":"","x":940,"y":800,"wires":[["0aa1cb0f793b3984"]]},{"id":"aac4b2e700e43c59","type":"unit-converter","z":"09041cafeb254eed","category":"temperature","inputUnit":"K","outputUnit":"F","inputField":"payload","outputField":"payload","inputFieldType":"msg","outputFieldType":"msg","roundOutputField":true,"outputFieldDecimals":2,"name":"","x":940,"y":860,"wires":[["cedbc199c3faa8fe"]]},{"id":"b7d3ef8956d22e11","type":"ui_gauge","z":"09041cafeb254eed","name":"Pack Tempature","group":"7bfd752a14e93257","order":7,"width":2,"height":2,"gtype":"gage","title":"Cell Temp 2","label":"Degrees","format":"{{value}}","min":0,"max":"120","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":1160,"y":760,"wires":[]},{"id":"0aa1cb0f793b3984","type":"ui_gauge","z":"09041cafeb254eed","name":"Pack Tempature","group":"7bfd752a14e93257","order":8,"width":2,"height":2,"gtype":"gage","title":"Internal Temp","label":"Degrees","format":"{{value}}","min":0,"max":"120","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":1160,"y":800,"wires":[]},{"id":"cedbc199c3faa8fe","type":"ui_gauge","z":"09041cafeb254eed","name":"Pack Tempature","group":"7bfd752a14e93257","order":9,"width":2,"height":2,"gtype":"gage","title":"BMS Temp","label":"Degrees","format":"{{value}}","min":0,"max":"120","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":1160,"y":860,"wires":[]},{"id":"8621612d40300d77","type":"ui_chart","z":"09041cafeb254eed","name":"","group":"7bfd752a14e93257","order":3,"width":6,"height":3,"label":"Battery Remaining","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":1470,"y":1180,"wires":[[]]},{"id":"1c672ca2623ca071","type":"buffer-parser","z":"09041cafeb254eed","name":"Int to Hex","data":"payload","dataType":"msg","specification":"spec","specificationType":"ui","items":[{"type":"string","name":"data","offset":17,"length":12,"offsetbit":0,"scale":"1","mask":""}],"swap1":"","swap2":"","swap3":"","swap1Type":"swap","swap2Type":"swap","swap3Type":"swap","msgProperty":"payload","msgPropertyType":"str","resultType":"keyvalue","resultTypeType":"output","multipleResult":false,"fanOutMultipleResult":false,"setTopic":true,"outputs":1,"x":460,"y":200,"wires":[["780b81b1d86e3d52","0b55c0f5c3e77ec5"]]},{"id":"780b81b1d86e3d52","type":"function","z":"09041cafeb254eed","name":"Time Parser","func":"var months={1:\"January\",2:\"February\",3:\"March\",4:\"April\",5:\"May\",6:\"June\",7:\"July\",8:\"August\",9:\"September\",10:\"October\",11:\"November\",12:\"December\"};\n\nvar MonthStr = msg.payload.data.substr(0,2);\nvar DayStr = msg.payload.data.substr(2,2);\nvar HourStr = msg.payload.data.substr(4,2);\nvar MinuteStr = msg.payload.data.substr(6,2);\n//msg.payload = Buffer.from(msg.payload.data,\"hex\").toString()\nvar MonthValue = parseInt(MonthStr,16);\nvar DayValue = parseInt(DayStr,16);\nvar HourValue = parseInt(HourStr,16);\nvar MinuteValue = parseInt(MinuteStr,16);\n\nmsg.payload = months[MonthValue] + \"-\" + \n              DayValue.toString() + \" @ \" + \n              HourValue.toString() + \":\" + \n              MinuteValue.toString().padStart(2,\"0\");\n              \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":670,"y":140,"wires":[["f89d3106f64dcd9a"]]},{"id":"f89d3106f64dcd9a","type":"ui_text","z":"09041cafeb254eed","group":"7bfd752a14e93257","order":1,"width":"6","height":"2","name":"","label":"Pack 2 Updated","format":"{{msg.payload}}","layout":"col-center","className":"","x":1100,"y":100,"wires":[]},{"id":"416e24115291aaaf","type":"switch","z":"09041cafeb254eed","name":"Packet Type","property":"payload.9","propertyType":"msg","rules":[{"t":"eq","v":"0x32","vt":"num"},{"t":"eq","v":"0x31","vt":"num"}],"checkall":"false","repair":false,"outputs":2,"x":130,"y":240,"wires":[["1c672ca2623ca071"],["b7cd0f86652a4dbc","3e7455c7e2ddaaec","e163f95f75e7731b"]],"info":"Switch on packet type.   \n\nThis is at postion 10\n\n"},{"id":"cef7ef360f5e7293","type":"debug","z":"09041cafeb254eed","name":"Buffer2","active":false,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":420,"y":140,"wires":[]},{"id":"0b55c0f5c3e77ec5","type":"debug","z":"09041cafeb254eed","name":"","active":false,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":670,"y":200,"wires":[]},{"id":"5d62c32c8c6900d7","type":"inject","z":"09041cafeb254eed","name":"Time Request","props":[{"p":"payload"}],"repeat":"10","crontab":"","once":true,"onceDelay":"11","topic":"","payload":"[126,50,48,48,49,52,54,52,68,48,48,48,48,70,68,57,66,13]","payloadType":"bin","x":140,"y":100,"wires":[["d51f661b6b97f3e2","cef7ef360f5e7293"]]},{"id":"54a0bdc7e749bbd0","type":"debug","z":"09041cafeb254eed","name":"Pack Current","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":950,"y":1080,"wires":[]},{"id":"f3d0ae8ead6751a3","type":"join","z":"09041cafeb254eed","name":"Combine","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"5","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1200,"y":1300,"wires":[["71c5577996e292e8","e9d1ce18592de9f7"]]},{"id":"71c5577996e292e8","type":"influxdb out","z":"09041cafeb254eed","influxdb":"747e2862444b614f","name":"Pack 2 Data","measurement":"Pack2","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"BVRanch","bucket":"RanchData","x":1450,"y":1280,"wires":[]},{"id":"e9d1ce18592de9f7","type":"debug","z":"09041cafeb254eed","name":"Pack2 InfluxWrite","active":false,"tosidebar":false,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":1480,"y":1340,"wires":[]},{"id":"225b8d9e9cd28d97","type":"file","z":"09041cafeb254eed","name":"Pack2 Logging","filename":"/var/tmp/pack2data.log","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"hex","x":680,"y":100,"wires":[[]]},{"id":"eec407cc0b57d441","type":"function","z":"09041cafeb254eed","name":"","func":"msg.payload = msg.payload.toString(\"hex\")\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":100,"wires":[["225b8d9e9cd28d97"]]},{"id":"186e5ffeadd483d2","type":"join","z":"09041cafeb254eed","name":"Create Key/Value Object","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":true,"timeout":"","count":"5","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1190,"y":1360,"wires":[[]]},{"id":"433d91f3e162caf4","type":"buffer-parser","z":"937eae9c233e2057","name":"Cell Metrics","data":"payload","dataType":"msg","specification":"spec","specificationType":"ui","items":[{"type":"string","name":"data","offset":19,"length":64,"offsetbit":0,"scale":"1","mask":""}],"swap1":"","swap2":"","swap3":"","swap1Type":"swap","swap2Type":"swap","swap3Type":"swap","msgProperty":"payload","msgPropertyType":"str","resultType":"keyvalue","resultTypeType":"output","multipleResult":false,"fanOutMultipleResult":false,"setTopic":true,"outputs":1,"x":370,"y":560,"wires":[["77c9543a449004f6","5e91f43376098f88"]]},{"id":"77c9543a449004f6","type":"buffer-parser","z":"937eae9c233e2057","name":"P1 Cell Buffer","data":"payload.data","dataType":"msg","specification":"spec","specificationType":"ui","items":[{"type":"int16be","name":"Cell 1","offset":0,"length":1,"offsetbit":0,"scale":".001","mask":""},{"type":"int16be","name":"Cell 2","offset":2,"length":1,"offsetbit":0,"scale":".001","mask":""},{"type":"int16be","name":"Cell 3","offset":4,"length":1,"offsetbit":0,"scale":".001","mask":""},{"type":"int16be","name":"Cell 4","offset":6,"length":1,"offsetbit":0,"scale":".001","mask":""},{"type":"int16be","name":"Cell 5","offset":8,"length":1,"offsetbit":0,"scale":".001","mask":""},{"type":"int16be","name":"Cell 6","offset":10,"length":1,"offsetbit":0,"scale":".001","mask":""},{"type":"int16be","name":"Cell 7","offset":12,"length":1,"offsetbit":0,"scale":".001","mask":""},{"type":"int16be","name":"Cell 8","offset":14,"length":1,"offsetbit":0,"scale":".001","mask":""},{"type":"int16be","name":"Cell 9","offset":16,"length":1,"offsetbit":0,"scale":".001","mask":""},{"type":"int16be","name":"Cell 10","offset":18,"length":1,"offsetbit":0,"scale":".001","mask":""},{"type":"int16be","name":"Cell 11","offset":20,"length":1,"offsetbit":0,"scale":".001","mask":""},{"type":"int16be","name":"Cell 12","offset":22,"length":1,"offsetbit":0,"scale":".001","mask":""},{"type":"int16be","name":"Cell 13","offset":24,"length":1,"offsetbit":0,"scale":".001","mask":""},{"type":"int16be","name":"Cell 14","offset":26,"length":1,"offsetbit":0,"scale":".001","mask":""},{"type":"int16be","name":"Cell 15","offset":28,"length":1,"offsetbit":0,"scale":".001","mask":""},{"type":"int16be","name":"Cell 16","offset":30,"length":1,"offsetbit":0,"scale":".001","mask":""}],"swap1":"","swap2":"","swap3":"","swap1Type":"swap","swap2Type":"swap","swap3Type":"swap","msgProperty":"payload","msgPropertyType":"str","resultType":"value","resultTypeType":"output","multipleResult":true,"fanOutMultipleResult":true,"setTopic":true,"outputs":16,"x":620,"y":560,"wires":[["502021a3b36be44b"],["a18dc8d5865781ed"],["ee122e69b52bba86"],["7eadcd28ecdca083"],["5777698bb63462c2"],["bc5fa3434b39f260"],["dad88b84f453fa8b"],["63a13f8413f4803f"],["354f69ae88af839b"],["e4c708ccaa13e79a"],["71556f42254d238f"],["5d487cd705b78070"],["48a1d5011ec43503"],["cb7f30c00c37a50a"],["fb4d451dbdd4b070"],["fbd01109f99a4a94"]]},{"id":"81361492674fb7c0","type":"buffer-parser","z":"937eae9c233e2057","name":"Tempature Metrics","data":"payload","dataType":"msg","specification":"spec","specificationType":"ui","items":[{"type":"string","name":"data","offset":85,"length":24,"offsetbit":0,"scale":"1","mask":""}],"swap1":"","swap2":"","swap3":"","swap1Type":"swap","swap2Type":"swap","swap3Type":"swap","msgProperty":"payload","msgPropertyType":"str","resultType":"keyvalue","resultTypeType":"output","multipleResult":false,"fanOutMultipleResult":false,"setTopic":true,"outputs":1,"x":390,"y":840,"wires":[["8af70afb6d6e40e1","c955f21aea96831b"]]},{"id":"492c1cadca36e7d1","type":"buffer-parser","z":"937eae9c233e2057","name":"Pack Metrics","data":"payload","dataType":"msg","specification":"spec","specificationType":"ui","items":[{"type":"string","name":"data","offset":109,"length":18,"offsetbit":0,"scale":"1","mask":""},{"type":"string","name":"current","offset":109,"length":4,"offsetbit":0,"scale":"1","mask":""}],"swap1":"","swap2":"","swap3":"","swap1Type":"swap","swap2Type":"swap","swap3Type":"swap","msgProperty":"payload","msgPropertyType":"str","resultType":"keyvalue","resultTypeType":"output","multipleResult":false,"fanOutMultipleResult":true,"setTopic":true,"outputs":1,"x":370,"y":1040,"wires":[["966b5d5e3368b98a","495de1cc1c3ce6b4"]]},{"id":"966b5d5e3368b98a","type":"buffer-parser","z":"937eae9c233e2057","name":"Hex String Buffer Parser","data":"payload.data","dataType":"msg","specification":"spec","specificationType":"ui","items":[{"type":"int16be","name":"PackAmps","offset":0,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"int16be","name":"PackVolts","offset":2,"length":1,"offsetbit":0,"scale":".01","mask":""},{"type":"int16be","name":"PackRmAH","offset":4,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"int8","name":"Unknown","offset":6,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"int16be","name":"PackTmAH","offset":7,"length":1,"offsetbit":0,"scale":"1","mask":""}],"swap1":"","swap2":"","swap3":"","swap1Type":"swap","swap2Type":"swap","swap3Type":"swap","msgProperty":"payload","msgPropertyType":"str","resultType":"value","resultTypeType":"output","multipleResult":true,"fanOutMultipleResult":true,"setTopic":true,"outputs":5,"x":610,"y":1100,"wires":[["26e0045de220ee76","09c9a10f851b6808"],["0cc9b1eb5f8b4d2f","4bebe2a91764c531","09c9a10f851b6808"],["5393dd393a460083","c9d8b2d9866ca73a","09c9a10f851b6808"],["09c9a10f851b6808"],["79f2ca60906eceec","c9d8b2d9866ca73a","09c9a10f851b6808"]]},{"id":"26e0045de220ee76","type":"debug","z":"937eae9c233e2057","name":"Pack Current","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":890,"y":1100,"wires":[]},{"id":"495de1cc1c3ce6b4","type":"debug","z":"937eae9c233e2057","name":"P1 Pack Metrics","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":580,"y":1020,"wires":[]},{"id":"0cc9b1eb5f8b4d2f","type":"debug","z":"937eae9c233e2057","name":"Pack Voltage","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":890,"y":1160,"wires":[]},{"id":"4bebe2a91764c531","type":"ui_gauge","z":"937eae9c233e2057","name":"","group":"264e82142241853b","order":10,"width":0,"height":0,"gtype":"gage","title":"Pack Voltage","label":"Volts","format":"{{value}}","min":0,"max":"75","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":1070,"y":1100,"wires":[]},{"id":"8af70afb6d6e40e1","type":"buffer-parser","z":"937eae9c233e2057","name":"P1 Tempature Buffer","data":"payload.data","dataType":"msg","specification":"spec","specificationType":"ui","items":[{"type":"int16be","name":"Temp 0","offset":0,"length":1,"offsetbit":0,"scale":".1","mask":""},{"type":"int16be","name":"Temp 1","offset":2,"length":1,"offsetbit":0,"scale":".1","mask":""},{"type":"int16be","name":"Battery 3","offset":4,"length":1,"offsetbit":0,"scale":".1","mask":""},{"type":"int16be","name":"Battery 4","offset":6,"length":1,"offsetbit":0,"scale":".1","mask":""},{"type":"int16be","name":"Case Temp","offset":8,"length":1,"offsetbit":0,"scale":".1","mask":""},{"type":"int16be","name":"BMS Temp","offset":10,"length":1,"offsetbit":0,"scale":".1","mask":""}],"swap1":"","swap2":"","swap3":"","swap1Type":"swap","swap2Type":"swap","swap3Type":"swap","msgProperty":"payload","msgPropertyType":"str","resultType":"value","resultTypeType":"output","multipleResult":true,"fanOutMultipleResult":true,"setTopic":true,"outputs":6,"x":620,"y":840,"wires":[["72102c15219f9147","376110182949bba5"],["4e28d47ec85e7741","1bb5381723c24dfb"],["0312fa5764c71bf3"],["6ee0aa003a5aaa68"],["7444ed23df675442"],["c55d045c953c9508"]]},{"id":"72102c15219f9147","type":"unit-converter","z":"937eae9c233e2057","category":"temperature","inputUnit":"K","outputUnit":"F","inputField":"payload","outputField":"payload","inputFieldType":"msg","outputFieldType":"msg","roundOutputField":true,"outputFieldDecimals":2,"name":"","x":860,"y":840,"wires":[["8dc6e18b7a620e28"]]},{"id":"5393dd393a460083","type":"debug","z":"937eae9c233e2057","name":"Pack Residual mAH","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":920,"y":1220,"wires":[]},{"id":"79f2ca60906eceec","type":"debug","z":"937eae9c233e2057","name":"Pack Total mAH","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":900,"y":1320,"wires":[]},{"id":"31f333f4cda3bf27","type":"function","z":"937eae9c233e2057","name":"SOC Calculator","func":"total = msg.payload.PackTmAH;\nremaining = msg.payload.PackRmAH;\n\npavailable = (remaining/total) * 100;\n\nmsg.topic = \"Pack%Capacity\"\nmsg.payload = parseInt(pavailable.toFixed(2));\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1160,"y":1240,"wires":[["940ac9919c3f43cd","6b811078862bec8e","67624821b1c960fc","09c9a10f851b6808"]]},{"id":"c9d8b2d9866ca73a","type":"join","z":"937eae9c233e2057","name":"Combine parts","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":true,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":900,"y":1280,"wires":[["e165ff5827ab7cf0","31f333f4cda3bf27"]]},{"id":"e165ff5827ab7cf0","type":"debug","z":"937eae9c233e2057","name":"","active":false,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":1150,"y":1180,"wires":[]},{"id":"940ac9919c3f43cd","type":"debug","z":"937eae9c233e2057","name":"","active":false,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":1370,"y":1240,"wires":[]},{"id":"6b811078862bec8e","type":"ui_gauge","z":"937eae9c233e2057","name":"Pack Battery Remaining","group":"264e82142241853b","order":2,"width":0,"height":0,"gtype":"gage","title":"Pack Capacity Remaining","label":"% Remaining","format":"{{value}}","min":0,"max":"100","colors":["#b30024","#e6e600","#3acb3e"],"seg1":"","seg2":"","className":"","x":1410,"y":1320,"wires":[]},{"id":"8dc6e18b7a620e28","type":"ui_gauge","z":"937eae9c233e2057","name":"Pack Tempature","group":"264e82142241853b","order":4,"width":2,"height":2,"gtype":"gage","title":"Cell Temp 1","label":"Degrees","format":"{{value}}","min":0,"max":"120","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":1080,"y":840,"wires":[]},{"id":"502021a3b36be44b","type":"ui_level","z":"937eae9c233e2057","group":"6c07e934ca723289","order":8,"width":0,"height":0,"name":"","label":"Cell 1","colorHi":"#e60000","colorWarn":"#ff9900","colorNormal":"#00b33c","colorOff":"#595959","min":0,"max":"5","segWarn":"","segHigh":"","unit":"Volts","layout":"sh","channelA":"","channelB":"","decimals":"3","animations":"soft","shape":2,"colorschema":"fixed","textoptions":"default","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSmall":"","colorFromTheme":true,"textAnimations":false,"hideValue":false,"tickmode":"off","peakmode":false,"property":"payload","peaktime":3000,"x":1010,"y":360,"wires":[]},{"id":"a18dc8d5865781ed","type":"ui_level","z":"937eae9c233e2057","group":"6c07e934ca723289","order":8,"width":0,"height":0,"name":"","label":"Cell 2 Voltage","colorHi":"#e60000","colorWarn":"#ff9900","colorNormal":"#00b33c","colorOff":"#595959","min":0,"max":"5","segWarn":"","segHigh":"","unit":"Volts","layout":"sh","channelA":"","channelB":"","decimals":"3","animations":"soft","shape":2,"colorschema":"fixed","textoptions":"default","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSmall":"","colorFromTheme":true,"textAnimations":false,"hideValue":false,"tickmode":"off","peakmode":false,"property":"payload","peaktime":3000,"x":1010,"y":420,"wires":[]},{"id":"ee122e69b52bba86","type":"ui_level","z":"937eae9c233e2057","group":"6c07e934ca723289","order":8,"width":0,"height":0,"name":"","label":"Cell 3 Voltage","colorHi":"#e60000","colorWarn":"#ff9900","colorNormal":"#00b33c","colorOff":"#595959","min":0,"max":"5","segWarn":"","segHigh":"","unit":"Volts","layout":"sh","channelA":"","channelB":"","decimals":"3","animations":"soft","shape":2,"colorschema":"fixed","textoptions":"default","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSmall":"","colorFromTheme":true,"textAnimations":false,"hideValue":false,"tickmode":"off","peakmode":false,"property":"payload","peaktime":3000,"x":1010,"y":480,"wires":[]},{"id":"7eadcd28ecdca083","type":"ui_level","z":"937eae9c233e2057","group":"6c07e934ca723289","order":8,"width":0,"height":0,"name":"","label":"Cell 4 Voltage","colorHi":"#e60000","colorWarn":"#ff9900","colorNormal":"#00b33c","colorOff":"#595959","min":0,"max":"5","segWarn":"","segHigh":"","unit":"Volts","layout":"sh","channelA":"","channelB":"","decimals":"3","animations":"soft","shape":2,"colorschema":"fixed","textoptions":"default","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSmall":"","colorFromTheme":true,"textAnimations":false,"hideValue":false,"tickmode":"off","peakmode":false,"property":"payload","peaktime":3000,"x":1010,"y":540,"wires":[]},{"id":"5777698bb63462c2","type":"ui_level","z":"937eae9c233e2057","group":"6c07e934ca723289","order":8,"width":0,"height":0,"name":"","label":"Cell 5 Voltage","colorHi":"#e60000","colorWarn":"#ff9900","colorNormal":"#00b33c","colorOff":"#595959","min":0,"max":"5","segWarn":"","segHigh":"","unit":"Volts","layout":"sh","channelA":"","channelB":"","decimals":"3","animations":"soft","shape":2,"colorschema":"fixed","textoptions":"default","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSmall":"","colorFromTheme":true,"textAnimations":false,"hideValue":false,"tickmode":"off","peakmode":false,"property":"payload","peaktime":3000,"x":1010,"y":600,"wires":[]},{"id":"bc5fa3434b39f260","type":"ui_level","z":"937eae9c233e2057","group":"6c07e934ca723289","order":8,"width":0,"height":0,"name":"","label":"Cell 6 Voltage","colorHi":"#e60000","colorWarn":"#ff9900","colorNormal":"#00b33c","colorOff":"#595959","min":0,"max":"5","segWarn":"","segHigh":"","unit":"Volts","layout":"sh","channelA":"","channelB":"","decimals":"3","animations":"soft","shape":2,"colorschema":"fixed","textoptions":"default","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSmall":"","colorFromTheme":true,"textAnimations":false,"hideValue":false,"tickmode":"off","peakmode":false,"property":"payload","peaktime":3000,"x":1010,"y":660,"wires":[]},{"id":"dad88b84f453fa8b","type":"ui_level","z":"937eae9c233e2057","group":"6c07e934ca723289","order":8,"width":0,"height":0,"name":"","label":"Cell 7 Voltage","colorHi":"#e60000","colorWarn":"#ff9900","colorNormal":"#00b33c","colorOff":"#595959","min":0,"max":"5","segWarn":"","segHigh":"","unit":"Volts","layout":"sh","channelA":"","channelB":"","decimals":"3","animations":"soft","shape":2,"colorschema":"fixed","textoptions":"default","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSmall":"","colorFromTheme":true,"textAnimations":false,"hideValue":false,"tickmode":"off","peakmode":false,"property":"payload","peaktime":3000,"x":1010,"y":720,"wires":[]},{"id":"63a13f8413f4803f","type":"ui_level","z":"937eae9c233e2057","group":"6c07e934ca723289","order":8,"width":0,"height":0,"name":"","label":"Cell 8 Voltage","colorHi":"#e60000","colorWarn":"#ff9900","colorNormal":"#00b33c","colorOff":"#595959","min":0,"max":"5","segWarn":"","segHigh":"","unit":"Volts","layout":"sh","channelA":"","channelB":"","decimals":"3","animations":"soft","shape":2,"colorschema":"fixed","textoptions":"default","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSmall":"","colorFromTheme":true,"textAnimations":false,"hideValue":false,"tickmode":"off","peakmode":false,"property":"payload","peaktime":3000,"x":1010,"y":780,"wires":[]},{"id":"5e91f43376098f88","type":"debug","z":"937eae9c233e2057","name":"P1 Cell Metrics","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":620,"y":720,"wires":[]},{"id":"26da81a3888a8af3","type":"serial out","z":"937eae9c233e2057","name":"Write USB4","serial":"68c540acd46c6057","x":330,"y":40,"wires":[]},{"id":"3ff0f34c8bfd6628","type":"inject","z":"937eae9c233e2057","name":"Get Pack #3 Data","props":[{"p":"payload"}],"repeat":"2","crontab":"","once":true,"onceDelay":"10","topic":"","payload":"[126,50,48,48,49,52,54,52,50,69,48,48,50,48,49,70,68,51,53,13]","payloadType":"bin","x":110,"y":40,"wires":[["26da81a3888a8af3"]]},{"id":"7bd06984d02fa622","type":"serial in","z":"937eae9c233e2057","name":"Read USB4","serial":"68c540acd46c6057","x":90,"y":160,"wires":[["d8162b9ca4629a5b","74c872a9a9f69973"]]},{"id":"d8162b9ca4629a5b","type":"debug","z":"937eae9c233e2057","name":"Buffer3","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":320,"y":160,"wires":[]},{"id":"354f69ae88af839b","type":"ui_level","z":"937eae9c233e2057","group":"6c07e934ca723289","order":8,"width":0,"height":0,"name":"","label":"Cell 9 Voltage","colorHi":"#e60000","colorWarn":"#ff9900","colorNormal":"#00b33c","colorOff":"#595959","min":0,"max":"5","segWarn":"","segHigh":"","unit":"Volts","layout":"sh","channelA":"","channelB":"","decimals":"3","animations":"soft","shape":2,"colorschema":"fixed","textoptions":"default","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSmall":"","colorFromTheme":true,"textAnimations":false,"hideValue":false,"tickmode":"off","peakmode":false,"property":"payload","peaktime":3000,"x":1210,"y":360,"wires":[]},{"id":"e4c708ccaa13e79a","type":"ui_level","z":"937eae9c233e2057","group":"6c07e934ca723289","order":8,"width":0,"height":0,"name":"","label":"Cell 10 Voltage","colorHi":"#e60000","colorWarn":"#ff9900","colorNormal":"#00b33c","colorOff":"#595959","min":0,"max":"5","segWarn":"","segHigh":"","unit":"Volts","layout":"sh","channelA":"","channelB":"","decimals":"3","animations":"soft","shape":2,"colorschema":"fixed","textoptions":"default","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSmall":"","colorFromTheme":true,"textAnimations":false,"hideValue":false,"tickmode":"off","peakmode":false,"property":"payload","peaktime":3000,"x":1210,"y":420,"wires":[]},{"id":"71556f42254d238f","type":"ui_level","z":"937eae9c233e2057","group":"6c07e934ca723289","order":8,"width":0,"height":0,"name":"","label":"Cell 11 Voltage","colorHi":"#e60000","colorWarn":"#ff9900","colorNormal":"#00b33c","colorOff":"#595959","min":0,"max":"5","segWarn":"","segHigh":"","unit":"Volts","layout":"sh","channelA":"","channelB":"","decimals":"3","animations":"soft","shape":2,"colorschema":"fixed","textoptions":"default","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSmall":"","colorFromTheme":true,"textAnimations":false,"hideValue":false,"tickmode":"off","peakmode":false,"property":"payload","peaktime":3000,"x":1210,"y":480,"wires":[]},{"id":"5d487cd705b78070","type":"ui_level","z":"937eae9c233e2057","group":"6c07e934ca723289","order":8,"width":0,"height":0,"name":"","label":"Cell 12 Voltage","colorHi":"#e60000","colorWarn":"#ff9900","colorNormal":"#00b33c","colorOff":"#595959","min":0,"max":"5","segWarn":"","segHigh":"","unit":"Volts","layout":"sh","channelA":"","channelB":"","decimals":"3","animations":"soft","shape":2,"colorschema":"fixed","textoptions":"default","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSmall":"","colorFromTheme":true,"textAnimations":false,"hideValue":false,"tickmode":"off","peakmode":false,"property":"payload","peaktime":3000,"x":1210,"y":540,"wires":[]},{"id":"48a1d5011ec43503","type":"ui_level","z":"937eae9c233e2057","group":"6c07e934ca723289","order":8,"width":0,"height":0,"name":"","label":"Cell 13 Voltage","colorHi":"#e60000","colorWarn":"#ff9900","colorNormal":"#00b33c","colorOff":"#595959","min":0,"max":"5","segWarn":"","segHigh":"","unit":"Volts","layout":"sh","channelA":"","channelB":"","decimals":"3","animations":"soft","shape":2,"colorschema":"fixed","textoptions":"default","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSmall":"","colorFromTheme":true,"textAnimations":false,"hideValue":false,"tickmode":"off","peakmode":false,"property":"payload","peaktime":3000,"x":1210,"y":600,"wires":[]},{"id":"cb7f30c00c37a50a","type":"ui_level","z":"937eae9c233e2057","group":"6c07e934ca723289","order":8,"width":0,"height":0,"name":"","label":"Cell 14 Voltage","colorHi":"#e60000","colorWarn":"#ff9900","colorNormal":"#00b33c","colorOff":"#595959","min":0,"max":"5","segWarn":"","segHigh":"","unit":"Volts","layout":"sh","channelA":"","channelB":"","decimals":"3","animations":"soft","shape":2,"colorschema":"fixed","textoptions":"default","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSmall":"","colorFromTheme":true,"textAnimations":false,"hideValue":false,"tickmode":"off","peakmode":false,"property":"payload","peaktime":3000,"x":1210,"y":660,"wires":[]},{"id":"fb4d451dbdd4b070","type":"ui_level","z":"937eae9c233e2057","group":"6c07e934ca723289","order":8,"width":0,"height":0,"name":"","label":"Cell 15 Voltage","colorHi":"#e60000","colorWarn":"#ff9900","colorNormal":"#00b33c","colorOff":"#595959","min":0,"max":"5","segWarn":"","segHigh":"","unit":"Volts","layout":"sh","channelA":"","channelB":"","decimals":"3","animations":"soft","shape":2,"colorschema":"fixed","textoptions":"default","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSmall":"","colorFromTheme":true,"textAnimations":false,"hideValue":false,"tickmode":"off","peakmode":false,"property":"payload","peaktime":3000,"x":1210,"y":720,"wires":[]},{"id":"fbd01109f99a4a94","type":"ui_level","z":"937eae9c233e2057","group":"6c07e934ca723289","order":8,"width":0,"height":0,"name":"","label":"Cell 16 Voltage","colorHi":"#e60000","colorWarn":"#ff9900","colorNormal":"#00b33c","colorOff":"#595959","min":0,"max":"5","segWarn":"","segHigh":"","unit":"Volts","layout":"sh","channelA":"","channelB":"","decimals":"3","animations":"soft","shape":2,"colorschema":"fixed","textoptions":"default","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSmall":"","colorFromTheme":true,"textAnimations":false,"hideValue":false,"tickmode":"off","peakmode":false,"property":"payload","peaktime":3000,"x":1210,"y":780,"wires":[]},{"id":"4e28d47ec85e7741","type":"unit-converter","z":"937eae9c233e2057","category":"temperature","inputUnit":"K","outputUnit":"F","inputField":"payload","outputField":"payload","inputFieldType":"msg","outputFieldType":"msg","roundOutputField":true,"outputFieldDecimals":2,"name":"","x":860,"y":880,"wires":[["f62aca7b90f5684d"]]},{"id":"f62aca7b90f5684d","type":"ui_gauge","z":"937eae9c233e2057","name":"Pack Tempature","group":"264e82142241853b","order":5,"width":2,"height":2,"gtype":"gage","title":"Cell Temp 2","label":"Degrees","format":"{{value}}","min":0,"max":"120","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":1080,"y":880,"wires":[]},{"id":"c955f21aea96831b","type":"debug","z":"937eae9c233e2057","name":"Tempature Metrics","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":590,"y":920,"wires":[]},{"id":"376110182949bba5","type":"debug","z":"937eae9c233e2057","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":1270,"y":880,"wires":[]},{"id":"1bb5381723c24dfb","type":"debug","z":"937eae9c233e2057","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":1270,"y":840,"wires":[]},{"id":"0312fa5764c71bf3","type":"unit-converter","z":"937eae9c233e2057","category":"temperature","inputUnit":"K","outputUnit":"F","inputField":"payload","outputField":"payload","inputFieldType":"msg","outputFieldType":"msg","roundOutputField":true,"outputFieldDecimals":2,"name":"","x":860,"y":920,"wires":[["22f0e6f51cb46d96"]]},{"id":"22f0e6f51cb46d96","type":"ui_gauge","z":"937eae9c233e2057","name":"Pack Tempature","group":"264e82142241853b","order":6,"width":2,"height":2,"gtype":"gage","title":"Cell Temp 2","label":"Degrees","format":"{{value}}","min":0,"max":"120","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":1080,"y":920,"wires":[]},{"id":"6ee0aa003a5aaa68","type":"unit-converter","z":"937eae9c233e2057","category":"temperature","inputUnit":"K","outputUnit":"F","inputField":"payload","outputField":"payload","inputFieldType":"msg","outputFieldType":"msg","roundOutputField":true,"outputFieldDecimals":2,"name":"","x":860,"y":960,"wires":[["d2996757757611e9"]]},{"id":"7444ed23df675442","type":"unit-converter","z":"937eae9c233e2057","category":"temperature","inputUnit":"K","outputUnit":"F","inputField":"payload","outputField":"payload","inputFieldType":"msg","outputFieldType":"msg","roundOutputField":true,"outputFieldDecimals":2,"name":"","x":860,"y":1000,"wires":[["0d39ab44270ae812"]]},{"id":"c55d045c953c9508","type":"unit-converter","z":"937eae9c233e2057","category":"temperature","inputUnit":"K","outputUnit":"F","inputField":"payload","outputField":"payload","inputFieldType":"msg","outputFieldType":"msg","roundOutputField":true,"outputFieldDecimals":2,"name":"","x":860,"y":1040,"wires":[["fb3984e3de0af9ca"]]},{"id":"d2996757757611e9","type":"ui_gauge","z":"937eae9c233e2057","name":"Pack Tempature","group":"264e82142241853b","order":7,"width":2,"height":2,"gtype":"gage","title":"Cell Temp 2","label":"Degrees","format":"{{value}}","min":0,"max":"120","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":1080,"y":960,"wires":[]},{"id":"0d39ab44270ae812","type":"ui_gauge","z":"937eae9c233e2057","name":"Pack Tempature","group":"264e82142241853b","order":8,"width":2,"height":2,"gtype":"gage","title":"Internal Temp","label":"Degrees","format":"{{value}}","min":0,"max":"120","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":1080,"y":1000,"wires":[]},{"id":"fb3984e3de0af9ca","type":"ui_gauge","z":"937eae9c233e2057","name":"Pack Tempature","group":"264e82142241853b","order":9,"width":2,"height":2,"gtype":"gage","title":"BMS Temp","label":"Degrees","format":"{{value}}","min":0,"max":"120","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":1080,"y":1040,"wires":[]},{"id":"67624821b1c960fc","type":"ui_chart","z":"937eae9c233e2057","name":"","group":"264e82142241853b","order":3,"width":6,"height":3,"label":"Battery Remaining","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":1390,"y":1360,"wires":[[]]},{"id":"74c872a9a9f69973","type":"switch","z":"937eae9c233e2057","name":"Packet Type","property":"payload.9","propertyType":"msg","rules":[{"t":"eq","v":"0x32","vt":"num"},{"t":"eq","v":"0x31","vt":"num"}],"checkall":"false","repair":false,"outputs":2,"x":110,"y":280,"wires":[["5c02c78a2cb3a050"],["433d91f3e162caf4","81361492674fb7c0","492c1cadca36e7d1"]],"info":"Switch on packet type.   \n\nThis is at postion 10\n\n"},{"id":"5c02c78a2cb3a050","type":"buffer-parser","z":"937eae9c233e2057","name":"Int to Hex","data":"payload","dataType":"msg","specification":"spec","specificationType":"ui","items":[{"type":"string","name":"data","offset":17,"length":12,"offsetbit":0,"scale":"1","mask":""}],"swap1":"","swap2":"","swap3":"","swap1Type":"swap","swap2Type":"swap","swap3Type":"swap","msgProperty":"payload","msgPropertyType":"str","resultType":"keyvalue","resultTypeType":"output","multipleResult":false,"fanOutMultipleResult":false,"setTopic":true,"outputs":1,"x":380,"y":280,"wires":[["7fa5298e07a081f8","db2649c499785c03"]]},{"id":"7fa5298e07a081f8","type":"function","z":"937eae9c233e2057","name":"Time Parser","func":"var months={1:\"January\",2:\"February\",3:\"March\",4:\"April\",5:\"May\",6:\"June\",7:\"July\",8:\"August\",9:\"September\",10:\"October\",11:\"November\",12:\"December\"};\n\nvar MonthStr = msg.payload.data.substr(0,2);\nvar DayStr = msg.payload.data.substr(2,2);\nvar HourStr = msg.payload.data.substr(4,2);\nvar MinuteStr = msg.payload.data.substr(6,2);\n//msg.payload = Buffer.from(msg.payload.data,\"hex\").toString()\nvar MonthValue = parseInt(MonthStr,16);\nvar DayValue = parseInt(DayStr,16);\nvar HourValue = parseInt(HourStr,16);\nvar MinuteValue = parseInt(MinuteStr,16);\n\nmsg.payload = months[MonthValue] + \"-\" + \n              DayValue.toString() + \" @ \" + \n              HourValue.toString() + \":\" + \n              MinuteValue.toString().padStart(2,\"0\");\n              \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":610,"y":220,"wires":[["2f934e1e2870b085"]]},{"id":"db2649c499785c03","type":"debug","z":"937eae9c233e2057","name":"Pack3Metrics","active":false,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":620,"y":280,"wires":[]},{"id":"2f934e1e2870b085","type":"ui_text","z":"937eae9c233e2057","group":"264e82142241853b","order":1,"width":"6","height":"2","name":"","label":"Pack 3 Updated","format":"{{msg.payload}}","layout":"col-center","className":"","x":1040,"y":180,"wires":[]},{"id":"5410c4952d772a6a","type":"inject","z":"937eae9c233e2057","name":"Time Request","props":[{"p":"payload"}],"repeat":"10","crontab":"","once":true,"onceDelay":"11","topic":"","payload":"[126,50,48,48,49,52,54,52,68,48,48,48,48,70,68,57,66,13]","payloadType":"bin","x":100,"y":80,"wires":[["26da81a3888a8af3"]]},{"id":"09c9a10f851b6808","type":"join","z":"937eae9c233e2057","name":"Create Key/Value Object","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":true,"timeout":"","count":"5","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1150,"y":1420,"wires":[["383054c00b5fb7f7","79c4823b51508659"]]},{"id":"383054c00b5fb7f7","type":"debug","z":"937eae9c233e2057","name":"","active":false,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":1130,"y":1500,"wires":[]},{"id":"79c4823b51508659","type":"influxdb out","z":"937eae9c233e2057","influxdb":"747e2862444b614f","name":"Ranch Data","measurement":"Pack3","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"BVRanch","bucket":"RanchData","x":1430,"y":1420,"wires":[]},{"id":"4e77a3c356af8130","type":"buffer-parser","z":"de180260a8533200","name":"Cell Metrics","data":"payload","dataType":"msg","specification":"spec","specificationType":"ui","items":[{"type":"string","name":"data","offset":19,"length":64,"offsetbit":0,"scale":"1","mask":""}],"swap1":"","swap2":"","swap3":"","swap1Type":"swap","swap2Type":"swap","swap3Type":"swap","msgProperty":"payload","msgPropertyType":"str","resultType":"keyvalue","resultTypeType":"output","multipleResult":false,"fanOutMultipleResult":false,"setTopic":true,"outputs":1,"x":370,"y":460,"wires":[["4c3fcb76548381f7"]]},{"id":"4c3fcb76548381f7","type":"buffer-parser","z":"de180260a8533200","name":"P4 Cell Buffer","data":"payload.data","dataType":"msg","specification":"spec","specificationType":"ui","items":[{"type":"int16be","name":"Cell 1","offset":0,"length":1,"offsetbit":0,"scale":".001","mask":""},{"type":"int16be","name":"Cell 2","offset":2,"length":1,"offsetbit":0,"scale":".001","mask":""},{"type":"int16be","name":"Cell 3","offset":4,"length":1,"offsetbit":0,"scale":".001","mask":""},{"type":"int16be","name":"Cell 4","offset":6,"length":1,"offsetbit":0,"scale":".001","mask":""},{"type":"int16be","name":"Cell 5","offset":8,"length":1,"offsetbit":0,"scale":".001","mask":""},{"type":"int16be","name":"Cell 6","offset":10,"length":1,"offsetbit":0,"scale":".001","mask":""},{"type":"int16be","name":"Cell 7","offset":12,"length":1,"offsetbit":0,"scale":".001","mask":""},{"type":"int16be","name":"Cell 8","offset":14,"length":1,"offsetbit":0,"scale":".001","mask":""},{"type":"int16be","name":"Cell 9","offset":16,"length":1,"offsetbit":0,"scale":".001","mask":""},{"type":"int16be","name":"Cell 10","offset":18,"length":1,"offsetbit":0,"scale":".001","mask":""},{"type":"int16be","name":"Cell 11","offset":20,"length":1,"offsetbit":0,"scale":".001","mask":""},{"type":"int16be","name":"Cell 12","offset":22,"length":1,"offsetbit":0,"scale":".001","mask":""},{"type":"int16be","name":"Cell 13","offset":24,"length":1,"offsetbit":0,"scale":".001","mask":""},{"type":"int16be","name":"Cell 14","offset":26,"length":1,"offsetbit":0,"scale":".001","mask":""},{"type":"int16be","name":"Cell 15","offset":28,"length":1,"offsetbit":0,"scale":".001","mask":""},{"type":"int16be","name":"Cell 16","offset":30,"length":1,"offsetbit":0,"scale":".001","mask":""}],"swap1":"","swap2":"","swap3":"","swap1Type":"swap","swap2Type":"swap","swap3Type":"swap","msgProperty":"payload","msgPropertyType":"str","resultType":"value","resultTypeType":"output","multipleResult":true,"fanOutMultipleResult":true,"setTopic":true,"outputs":16,"x":620,"y":480,"wires":[["304ab6cbb33d145c"],["191d67666acfa7e6"],["5caefb8da1281250"],["ee4ad82c6fecc47c"],["b5545ca5b5739ccc"],["88ad624c28262f1c"],["0a45eb7d61e7658d"],["743f16d0bdb6e1c4"],["657ec6a3eef8a672"],["ff174cbea29b4808"],["f7cb27d3516fc832"],["59fef8e6f21a2801"],["c864501eccabd9fa"],["d785d70253276f6e"],["ff04cafd8e3ee92c"],["16093d9d1fdb4676"]]},{"id":"44939fb625b272e8","type":"buffer-parser","z":"de180260a8533200","name":"Tempature Metrics","data":"payload","dataType":"msg","specification":"spec","specificationType":"ui","items":[{"type":"string","name":"data","offset":85,"length":24,"offsetbit":0,"scale":"1","mask":""}],"swap1":"","swap2":"","swap3":"","swap1Type":"swap","swap2Type":"swap","swap3Type":"swap","msgProperty":"payload","msgPropertyType":"str","resultType":"keyvalue","resultTypeType":"output","multipleResult":false,"fanOutMultipleResult":false,"setTopic":true,"outputs":1,"x":390,"y":780,"wires":[["e58c15252d456974","41abc9f8766851df"]]},{"id":"113c6fa504176912","type":"buffer-parser","z":"de180260a8533200","name":"Pack Metrics","data":"payload","dataType":"msg","specification":"spec","specificationType":"ui","items":[{"type":"string","name":"data","offset":109,"length":18,"offsetbit":0,"scale":"1","mask":""},{"type":"string","name":"current","offset":109,"length":4,"offsetbit":0,"scale":"1","mask":""}],"swap1":"","swap2":"","swap3":"","swap1Type":"swap","swap2Type":"swap","swap3Type":"swap","msgProperty":"payload","msgPropertyType":"str","resultType":"keyvalue","resultTypeType":"output","multipleResult":false,"fanOutMultipleResult":true,"setTopic":true,"outputs":1,"x":370,"y":980,"wires":[["02cda1ea3fb3d140","9174232b6f9ac338"]]},{"id":"02cda1ea3fb3d140","type":"buffer-parser","z":"de180260a8533200","name":"Hex String Buffer Parser","data":"payload.data","dataType":"msg","specification":"spec","specificationType":"ui","items":[{"type":"int16be","name":"PackAmps","offset":0,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"int16be","name":"PackVolts","offset":2,"length":1,"offsetbit":0,"scale":".01","mask":""},{"type":"int16be","name":"PackRmAH","offset":4,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"int8","name":"Unknown","offset":6,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"int16be","name":"PackTmAH","offset":7,"length":1,"offsetbit":0,"scale":"1","mask":""}],"swap1":"","swap2":"","swap3":"","swap1Type":"swap","swap2Type":"swap","swap3Type":"swap","msgProperty":"payload","msgPropertyType":"str","resultType":"value","resultTypeType":"output","multipleResult":true,"fanOutMultipleResult":true,"setTopic":true,"outputs":5,"x":610,"y":1040,"wires":[["803df89ee32dfbfc","1a058609ec2a062b"],["ad4a8f380ebc7662","8b4eab0f86873079","1a058609ec2a062b"],["f6fbf3687ecdb608","0235eacf20eb07ec","1a058609ec2a062b"],["1a058609ec2a062b"],["3b3ffcf00da62d95","0235eacf20eb07ec","1a058609ec2a062b"]]},{"id":"803df89ee32dfbfc","type":"debug","z":"de180260a8533200","name":"Pack Current","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":890,"y":1040,"wires":[]},{"id":"9174232b6f9ac338","type":"debug","z":"de180260a8533200","name":"P1 Pack Metrics","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":580,"y":960,"wires":[]},{"id":"ad4a8f380ebc7662","type":"debug","z":"de180260a8533200","name":"Pack Voltage","active":false,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":900,"y":1100,"wires":[]},{"id":"8b4eab0f86873079","type":"ui_gauge","z":"de180260a8533200","name":"","group":"8e5a7ea4290e30ef","order":10,"width":0,"height":0,"gtype":"gage","title":"Pack Voltage","label":"Volts","format":"{{value}}","min":0,"max":"75","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":1090,"y":1040,"wires":[]},{"id":"e58c15252d456974","type":"buffer-parser","z":"de180260a8533200","name":"Tempature Buffer","data":"payload.data","dataType":"msg","specification":"spec","specificationType":"ui","items":[{"type":"int16be","name":"Temp 0","offset":0,"length":1,"offsetbit":0,"scale":".1","mask":""},{"type":"int16be","name":"Temp 1","offset":2,"length":1,"offsetbit":0,"scale":".1","mask":""},{"type":"int16be","name":"Battery 3","offset":4,"length":1,"offsetbit":0,"scale":".1","mask":""},{"type":"int16be","name":"Battery 4","offset":6,"length":1,"offsetbit":0,"scale":".1","mask":""},{"type":"int16be","name":"Case Temp","offset":8,"length":1,"offsetbit":0,"scale":".1","mask":""},{"type":"int16be","name":"BMS Temp","offset":10,"length":1,"offsetbit":0,"scale":".1","mask":""}],"swap1":"","swap2":"","swap3":"","swap1Type":"swap","swap2Type":"swap","swap3Type":"swap","msgProperty":"payload","msgPropertyType":"str","resultType":"value","resultTypeType":"output","multipleResult":true,"fanOutMultipleResult":true,"setTopic":true,"outputs":6,"x":610,"y":780,"wires":[["388ad678086690de","05aa750344dc467b"],["a9a89e3e56ab372f","fbf1fd5b3e1b347c"],["4d62e91a8fef2081"],["c3fc8385140ab593"],["c398b2cf7d5d8a6b"],["dbf7052d7ababf55"]]},{"id":"388ad678086690de","type":"unit-converter","z":"de180260a8533200","category":"temperature","inputUnit":"K","outputUnit":"F","inputField":"payload","outputField":"payload","inputFieldType":"msg","outputFieldType":"msg","roundOutputField":true,"outputFieldDecimals":2,"name":"","x":860,"y":780,"wires":[["aa05f8a7e43b9afc"]]},{"id":"f6fbf3687ecdb608","type":"debug","z":"de180260a8533200","name":"Pack Residual mAH","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":920,"y":1160,"wires":[]},{"id":"3b3ffcf00da62d95","type":"debug","z":"de180260a8533200","name":"Pack Total mAH","active":false,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":910,"y":1260,"wires":[]},{"id":"b10431127c9451ce","type":"function","z":"de180260a8533200","name":"SOC Calculator","func":"total = msg.payload.PackTmAH;\nremaining = msg.payload.PackRmAH;\n\npavailable = (remaining/total) * 100;\n\nmsg.topic = \"Pack%Capacity\"\nmsg.payload = parseInt(pavailable.toFixed(2));\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1160,"y":1280,"wires":[["788b960528aef131","bd181b323fe593bb","4494bd657acdd745","1a058609ec2a062b"]]},{"id":"0235eacf20eb07ec","type":"join","z":"de180260a8533200","name":"Combine parts","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":true,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":900,"y":1220,"wires":[["b10431127c9451ce"]]},{"id":"a35d6a2f41b056d6","type":"debug","z":"de180260a8533200","name":"Pack4 InfluxWrite","active":false,"tosidebar":false,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":1140,"y":1440,"wires":[]},{"id":"788b960528aef131","type":"debug","z":"de180260a8533200","name":"","active":false,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":1370,"y":1180,"wires":[]},{"id":"bd181b323fe593bb","type":"ui_gauge","z":"de180260a8533200","name":"Pack Battery Remaining","group":"8e5a7ea4290e30ef","order":2,"width":0,"height":0,"gtype":"gage","title":"Pack Capacity Remaining","label":"% Remaining","format":"{{value}}","min":0,"max":"100","colors":["#b30024","#e6e600","#3acb3e"],"seg1":"","seg2":"","className":"","x":1410,"y":1260,"wires":[]},{"id":"aa05f8a7e43b9afc","type":"ui_gauge","z":"de180260a8533200","name":"Pack Tempature","group":"8e5a7ea4290e30ef","order":4,"width":2,"height":2,"gtype":"gage","title":"Cell Temp 1","label":"Degrees","format":"{{value}}","min":0,"max":"120","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":1080,"y":780,"wires":[]},{"id":"304ab6cbb33d145c","type":"ui_level","z":"de180260a8533200","group":"115563c17b1273e6","order":8,"width":0,"height":0,"name":"","label":"Cell 1 Voltage","colorHi":"#e60000","colorWarn":"#ff9900","colorNormal":"#00b33c","colorOff":"#595959","min":0,"max":"5","segWarn":"","segHigh":"","unit":"Volts","layout":"sh","channelA":"","channelB":"","decimals":"3","animations":"soft","shape":2,"colorschema":"fixed","textoptions":"default","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSmall":"","colorFromTheme":true,"textAnimations":false,"hideValue":false,"tickmode":"off","peakmode":false,"property":"payload","peaktime":3000,"x":1050,"y":260,"wires":[]},{"id":"191d67666acfa7e6","type":"ui_level","z":"de180260a8533200","group":"115563c17b1273e6","order":8,"width":0,"height":0,"name":"","label":"Cell 2 Voltage","colorHi":"#e60000","colorWarn":"#ff9900","colorNormal":"#00b33c","colorOff":"#595959","min":0,"max":"5","segWarn":"","segHigh":"","unit":"Volts","layout":"sh","channelA":"","channelB":"","decimals":"3","animations":"soft","shape":2,"colorschema":"fixed","textoptions":"default","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSmall":"","colorFromTheme":true,"textAnimations":false,"hideValue":false,"tickmode":"off","peakmode":false,"property":"payload","peaktime":3000,"x":1050,"y":320,"wires":[]},{"id":"5caefb8da1281250","type":"ui_level","z":"de180260a8533200","group":"115563c17b1273e6","order":8,"width":0,"height":0,"name":"","label":"Cell 3 Voltage","colorHi":"#e60000","colorWarn":"#ff9900","colorNormal":"#00b33c","colorOff":"#595959","min":0,"max":"5","segWarn":"","segHigh":"","unit":"Volts","layout":"sh","channelA":"","channelB":"","decimals":"3","animations":"soft","shape":2,"colorschema":"fixed","textoptions":"default","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSmall":"","colorFromTheme":true,"textAnimations":false,"hideValue":false,"tickmode":"off","peakmode":false,"property":"payload","peaktime":3000,"x":1050,"y":380,"wires":[]},{"id":"ee4ad82c6fecc47c","type":"ui_level","z":"de180260a8533200","group":"115563c17b1273e6","order":8,"width":0,"height":0,"name":"","label":"Cell 4 Voltage","colorHi":"#e60000","colorWarn":"#ff9900","colorNormal":"#00b33c","colorOff":"#595959","min":0,"max":"5","segWarn":"","segHigh":"","unit":"Volts","layout":"sh","channelA":"","channelB":"","decimals":"3","animations":"soft","shape":2,"colorschema":"fixed","textoptions":"default","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSmall":"","colorFromTheme":true,"textAnimations":false,"hideValue":false,"tickmode":"off","peakmode":false,"property":"payload","peaktime":3000,"x":1050,"y":440,"wires":[]},{"id":"b5545ca5b5739ccc","type":"ui_level","z":"de180260a8533200","group":"115563c17b1273e6","order":8,"width":0,"height":0,"name":"","label":"Cell 5 Voltage","colorHi":"#e60000","colorWarn":"#ff9900","colorNormal":"#00b33c","colorOff":"#595959","min":0,"max":"5","segWarn":"","segHigh":"","unit":"Volts","layout":"sh","channelA":"","channelB":"","decimals":"3","animations":"soft","shape":2,"colorschema":"fixed","textoptions":"default","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSmall":"","colorFromTheme":true,"textAnimations":false,"hideValue":false,"tickmode":"off","peakmode":false,"property":"payload","peaktime":3000,"x":1050,"y":500,"wires":[]},{"id":"88ad624c28262f1c","type":"ui_level","z":"de180260a8533200","group":"115563c17b1273e6","order":8,"width":0,"height":0,"name":"","label":"Cell 6 Voltage","colorHi":"#e60000","colorWarn":"#ff9900","colorNormal":"#00b33c","colorOff":"#595959","min":0,"max":"5","segWarn":"","segHigh":"","unit":"Volts","layout":"sh","channelA":"","channelB":"","decimals":"3","animations":"soft","shape":2,"colorschema":"fixed","textoptions":"default","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSmall":"","colorFromTheme":true,"textAnimations":false,"hideValue":false,"tickmode":"off","peakmode":false,"property":"payload","peaktime":3000,"x":1050,"y":560,"wires":[]},{"id":"0a45eb7d61e7658d","type":"ui_level","z":"de180260a8533200","group":"115563c17b1273e6","order":8,"width":0,"height":0,"name":"","label":"Cell 7 Voltage","colorHi":"#e60000","colorWarn":"#ff9900","colorNormal":"#00b33c","colorOff":"#595959","min":0,"max":"5","segWarn":"","segHigh":"","unit":"Volts","layout":"sh","channelA":"","channelB":"","decimals":"3","animations":"soft","shape":2,"colorschema":"fixed","textoptions":"default","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSmall":"","colorFromTheme":true,"textAnimations":false,"hideValue":false,"tickmode":"off","peakmode":false,"property":"payload","peaktime":3000,"x":1050,"y":620,"wires":[]},{"id":"743f16d0bdb6e1c4","type":"ui_level","z":"de180260a8533200","group":"115563c17b1273e6","order":8,"width":0,"height":0,"name":"","label":"Cell 8 Voltage","colorHi":"#e60000","colorWarn":"#ff9900","colorNormal":"#00b33c","colorOff":"#595959","min":0,"max":"5","segWarn":"","segHigh":"","unit":"Volts","layout":"sh","channelA":"","channelB":"","decimals":"3","animations":"soft","shape":2,"colorschema":"fixed","textoptions":"default","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSmall":"","colorFromTheme":true,"textAnimations":false,"hideValue":false,"tickmode":"off","peakmode":false,"property":"payload","peaktime":3000,"x":1050,"y":680,"wires":[]},{"id":"2859bb4e0340e84f","type":"serial out","z":"de180260a8533200","name":"Write USB0","serial":"ca814958e15854f0","x":330,"y":40,"wires":[]},{"id":"bcc1977ff3af4f84","type":"serial in","z":"de180260a8533200","name":"Read USB0","serial":"ca814958e15854f0","x":90,"y":140,"wires":[["3a98e1809879c0e1","e805b0711b330bc2","70416706d291891e"]]},{"id":"3a98e1809879c0e1","type":"debug","z":"de180260a8533200","name":"Pack4Buffer","active":false,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":320,"y":140,"wires":[]},{"id":"657ec6a3eef8a672","type":"ui_level","z":"de180260a8533200","group":"115563c17b1273e6","order":8,"width":0,"height":0,"name":"","label":"Cell 9 Voltage","colorHi":"#e60000","colorWarn":"#ff9900","colorNormal":"#00b33c","colorOff":"#595959","min":0,"max":"5","segWarn":"","segHigh":"","unit":"Volts","layout":"sh","channelA":"","channelB":"","decimals":"3","animations":"soft","shape":2,"colorschema":"fixed","textoptions":"default","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSmall":"","colorFromTheme":true,"textAnimations":false,"hideValue":false,"tickmode":"off","peakmode":false,"property":"payload","peaktime":3000,"x":1250,"y":260,"wires":[]},{"id":"ff174cbea29b4808","type":"ui_level","z":"de180260a8533200","group":"115563c17b1273e6","order":8,"width":0,"height":0,"name":"","label":"Cell 10 Voltage","colorHi":"#e60000","colorWarn":"#ff9900","colorNormal":"#00b33c","colorOff":"#595959","min":0,"max":"5","segWarn":"","segHigh":"","unit":"Volts","layout":"sh","channelA":"","channelB":"","decimals":"3","animations":"soft","shape":2,"colorschema":"fixed","textoptions":"default","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSmall":"","colorFromTheme":true,"textAnimations":false,"hideValue":false,"tickmode":"off","peakmode":false,"property":"payload","peaktime":3000,"x":1250,"y":320,"wires":[]},{"id":"f7cb27d3516fc832","type":"ui_level","z":"de180260a8533200","group":"115563c17b1273e6","order":8,"width":0,"height":0,"name":"","label":"Cell 11 Voltage","colorHi":"#e60000","colorWarn":"#ff9900","colorNormal":"#00b33c","colorOff":"#595959","min":0,"max":"5","segWarn":"","segHigh":"","unit":"Volts","layout":"sh","channelA":"","channelB":"","decimals":"3","animations":"soft","shape":2,"colorschema":"fixed","textoptions":"default","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSmall":"","colorFromTheme":true,"textAnimations":false,"hideValue":false,"tickmode":"off","peakmode":false,"property":"payload","peaktime":3000,"x":1250,"y":380,"wires":[]},{"id":"59fef8e6f21a2801","type":"ui_level","z":"de180260a8533200","group":"115563c17b1273e6","order":8,"width":0,"height":0,"name":"","label":"Cell 12 Voltage","colorHi":"#e60000","colorWarn":"#ff9900","colorNormal":"#00b33c","colorOff":"#595959","min":0,"max":"5","segWarn":"","segHigh":"","unit":"Volts","layout":"sh","channelA":"","channelB":"","decimals":"3","animations":"soft","shape":2,"colorschema":"fixed","textoptions":"default","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSmall":"","colorFromTheme":true,"textAnimations":false,"hideValue":false,"tickmode":"off","peakmode":false,"property":"payload","peaktime":3000,"x":1250,"y":440,"wires":[]},{"id":"c864501eccabd9fa","type":"ui_level","z":"de180260a8533200","group":"115563c17b1273e6","order":8,"width":0,"height":0,"name":"","label":"Cell 13 Voltage","colorHi":"#e60000","colorWarn":"#ff9900","colorNormal":"#00b33c","colorOff":"#595959","min":0,"max":"5","segWarn":"","segHigh":"","unit":"Volts","layout":"sh","channelA":"","channelB":"","decimals":"3","animations":"soft","shape":2,"colorschema":"fixed","textoptions":"default","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSmall":"","colorFromTheme":true,"textAnimations":false,"hideValue":false,"tickmode":"off","peakmode":false,"property":"payload","peaktime":3000,"x":1250,"y":500,"wires":[]},{"id":"d785d70253276f6e","type":"ui_level","z":"de180260a8533200","group":"115563c17b1273e6","order":8,"width":0,"height":0,"name":"","label":"Cell 14 Voltage","colorHi":"#e60000","colorWarn":"#ff9900","colorNormal":"#00b33c","colorOff":"#595959","min":0,"max":"5","segWarn":"","segHigh":"","unit":"Volts","layout":"sh","channelA":"","channelB":"","decimals":"3","animations":"soft","shape":2,"colorschema":"fixed","textoptions":"default","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSmall":"","colorFromTheme":true,"textAnimations":false,"hideValue":false,"tickmode":"off","peakmode":false,"property":"payload","peaktime":3000,"x":1250,"y":560,"wires":[]},{"id":"ff04cafd8e3ee92c","type":"ui_level","z":"de180260a8533200","group":"115563c17b1273e6","order":8,"width":0,"height":0,"name":"","label":"Cell 15 Voltage","colorHi":"#e60000","colorWarn":"#ff9900","colorNormal":"#00b33c","colorOff":"#595959","min":0,"max":"5","segWarn":"","segHigh":"","unit":"Volts","layout":"sh","channelA":"","channelB":"","decimals":"3","animations":"soft","shape":2,"colorschema":"fixed","textoptions":"default","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSmall":"","colorFromTheme":true,"textAnimations":false,"hideValue":false,"tickmode":"off","peakmode":false,"property":"payload","peaktime":3000,"x":1250,"y":620,"wires":[]},{"id":"16093d9d1fdb4676","type":"ui_level","z":"de180260a8533200","group":"115563c17b1273e6","order":8,"width":0,"height":0,"name":"","label":"Cell 16 Voltage","colorHi":"#e60000","colorWarn":"#ff9900","colorNormal":"#00b33c","colorOff":"#595959","min":0,"max":"5","segWarn":"","segHigh":"","unit":"Volts","layout":"sh","channelA":"","channelB":"","decimals":"3","animations":"soft","shape":2,"colorschema":"fixed","textoptions":"default","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSmall":"","colorFromTheme":true,"textAnimations":false,"hideValue":false,"tickmode":"off","peakmode":false,"property":"payload","peaktime":3000,"x":1250,"y":680,"wires":[]},{"id":"a9a89e3e56ab372f","type":"unit-converter","z":"de180260a8533200","category":"temperature","inputUnit":"K","outputUnit":"F","inputField":"payload","outputField":"payload","inputFieldType":"msg","outputFieldType":"msg","roundOutputField":true,"outputFieldDecimals":2,"name":"","x":860,"y":820,"wires":[["cacf423aa3756300"]]},{"id":"cacf423aa3756300","type":"ui_gauge","z":"de180260a8533200","name":"Pack Tempature","group":"8e5a7ea4290e30ef","order":5,"width":2,"height":2,"gtype":"gage","title":"Cell Temp 2","label":"Degrees","format":"{{value}}","min":0,"max":"120","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":1080,"y":820,"wires":[]},{"id":"41abc9f8766851df","type":"debug","z":"de180260a8533200","name":"Tempature Metrics","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":610,"y":860,"wires":[]},{"id":"05aa750344dc467b","type":"debug","z":"de180260a8533200","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":1270,"y":840,"wires":[]},{"id":"fbf1fd5b3e1b347c","type":"debug","z":"de180260a8533200","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":1270,"y":780,"wires":[]},{"id":"4d62e91a8fef2081","type":"unit-converter","z":"de180260a8533200","category":"temperature","inputUnit":"K","outputUnit":"F","inputField":"payload","outputField":"payload","inputFieldType":"msg","outputFieldType":"msg","roundOutputField":true,"outputFieldDecimals":2,"name":"","x":860,"y":860,"wires":[["8a797bb3301f13cf"]]},{"id":"8a797bb3301f13cf","type":"ui_gauge","z":"de180260a8533200","name":"Pack Tempature","group":"8e5a7ea4290e30ef","order":6,"width":2,"height":2,"gtype":"gage","title":"Cell Temp 2","label":"Degrees","format":"{{value}}","min":0,"max":"120","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":1080,"y":860,"wires":[]},{"id":"c3fc8385140ab593","type":"unit-converter","z":"de180260a8533200","category":"temperature","inputUnit":"K","outputUnit":"F","inputField":"payload","outputField":"payload","inputFieldType":"msg","outputFieldType":"msg","roundOutputField":true,"outputFieldDecimals":2,"name":"","x":860,"y":900,"wires":[["860b36ff61aa5342"]]},{"id":"c398b2cf7d5d8a6b","type":"unit-converter","z":"de180260a8533200","category":"temperature","inputUnit":"K","outputUnit":"F","inputField":"payload","outputField":"payload","inputFieldType":"msg","outputFieldType":"msg","roundOutputField":true,"outputFieldDecimals":2,"name":"","x":860,"y":940,"wires":[["626c9d64cf3158ca"]]},{"id":"dbf7052d7ababf55","type":"unit-converter","z":"de180260a8533200","category":"temperature","inputUnit":"K","outputUnit":"F","inputField":"payload","outputField":"payload","inputFieldType":"msg","outputFieldType":"msg","roundOutputField":true,"outputFieldDecimals":2,"name":"","x":860,"y":980,"wires":[["72c8533e99b62b87"]]},{"id":"860b36ff61aa5342","type":"ui_gauge","z":"de180260a8533200","name":"Pack Tempature","group":"8e5a7ea4290e30ef","order":7,"width":2,"height":2,"gtype":"gage","title":"Cell Temp 2","label":"Degrees","format":"{{value}}","min":0,"max":"120","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":1080,"y":900,"wires":[]},{"id":"626c9d64cf3158ca","type":"ui_gauge","z":"de180260a8533200","name":"Pack Tempature","group":"8e5a7ea4290e30ef","order":8,"width":2,"height":2,"gtype":"gage","title":"Internal Temp","label":"Degrees","format":"{{value}}","min":0,"max":"120","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":1080,"y":940,"wires":[]},{"id":"72c8533e99b62b87","type":"ui_gauge","z":"de180260a8533200","name":"Pack Tempature","group":"8e5a7ea4290e30ef","order":9,"width":2,"height":2,"gtype":"gage","title":"BMS Temp","label":"Degrees","format":"{{value}}","min":0,"max":"120","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":1080,"y":980,"wires":[]},{"id":"4494bd657acdd745","type":"ui_chart","z":"de180260a8533200","name":"","group":"8e5a7ea4290e30ef","order":3,"width":6,"height":3,"label":"Battery Remaining","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":1390,"y":1300,"wires":[[]]},{"id":"9e122ad5d58e42a3","type":"debug","z":"de180260a8533200","name":"Pack4Metrics","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":620,"y":320,"wires":[]},{"id":"72c45d294d63a9c7","type":"inject","z":"de180260a8533200","name":"Get Pack #1 Data","props":[{"p":"payload"}],"repeat":"2","crontab":"","once":true,"onceDelay":"2","topic":"","payload":"[126,50,48,48,49,52,54,52,50,69,48,48,50,48,49,70,68,51,53,13]","payloadType":"bin","x":130,"y":40,"wires":[["2859bb4e0340e84f"]]},{"id":"e805b0711b330bc2","type":"switch","z":"de180260a8533200","name":"Packet Type","property":"payload.9","propertyType":"msg","rules":[{"t":"eq","v":"0x32","vt":"num"},{"t":"eq","v":"0x31","vt":"num"}],"checkall":"false","repair":false,"outputs":2,"x":130,"y":300,"wires":[["e82c131cdbb0b0f8"],["4e77a3c356af8130","44939fb625b272e8","113c6fa504176912","9e122ad5d58e42a3"]],"info":"Switch on packet type.   \n\nThis is at postion 10\n\n"},{"id":"53c6b435c68a6ce4","type":"inject","z":"de180260a8533200","name":"Time Request","props":[{"p":"payload"}],"repeat":"10","crontab":"","once":true,"onceDelay":"15","topic":"","payload":"[126,50,48,48,49,52,54,52,68,48,48,48,48,70,68,57,66,13]","payloadType":"bin","x":120,"y":80,"wires":[["2859bb4e0340e84f"]]},{"id":"e82c131cdbb0b0f8","type":"buffer-parser","z":"de180260a8533200","name":"Int to Hex","data":"payload","dataType":"msg","specification":"spec","specificationType":"ui","items":[{"type":"string","name":"data","offset":17,"length":12,"offsetbit":0,"scale":"1","mask":""}],"swap1":"","swap2":"","swap3":"","swap1Type":"swap","swap2Type":"swap","swap3Type":"swap","msgProperty":"payload","msgPropertyType":"str","resultType":"keyvalue","resultTypeType":"output","multipleResult":false,"fanOutMultipleResult":false,"setTopic":true,"outputs":1,"x":380,"y":240,"wires":[["efb028c5309509a5","d06ca05404eae72c"]]},{"id":"efb028c5309509a5","type":"function","z":"de180260a8533200","name":"Time Parser","func":"var months={1:\"January\",2:\"February\",3:\"March\",4:\"April\",5:\"May\",6:\"June\",7:\"July\",8:\"August\",9:\"September\",10:\"October\",11:\"November\",12:\"December\"};\n\nvar MonthStr = msg.payload.data.substr(0,2);\nvar DayStr = msg.payload.data.substr(2,2);\nvar HourStr = msg.payload.data.substr(4,2);\nvar MinuteStr = msg.payload.data.substr(6,2);\n//msg.payload = Buffer.from(msg.payload.data,\"hex\").toString()\nvar MonthValue = parseInt(MonthStr,16);\nvar DayValue = parseInt(DayStr,16);\nvar HourValue = parseInt(HourStr,16);\nvar MinuteValue = parseInt(MinuteStr,16);\n\nmsg.payload = months[MonthValue] + \"-\" + \n              DayValue.toString() + \" @ \" + \n              HourValue.toString() + \":\" + \n              MinuteValue.toString().padStart(2,\"0\");\n              \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":610,"y":180,"wires":[["1b11970289c54634"]]},{"id":"d06ca05404eae72c","type":"debug","z":"de180260a8533200","name":"","active":false,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":610,"y":240,"wires":[]},{"id":"1b11970289c54634","type":"ui_text","z":"de180260a8533200","group":"8e5a7ea4290e30ef","order":1,"width":"6","height":"2","name":"","label":"Pack 4 Updated","format":"{{msg.payload}}","layout":"col-center","className":"","x":1080,"y":160,"wires":[]},{"id":"1a058609ec2a062b","type":"join","z":"de180260a8533200","name":"Combine","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"5","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1180,"y":1340,"wires":[["da45f5951f5a5a87","a35d6a2f41b056d6"]]},{"id":"da45f5951f5a5a87","type":"influxdb out","z":"de180260a8533200","influxdb":"747e2862444b614f","name":"Pack4 Data","measurement":"Pack4","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"BVRanch","bucket":"RanchData","x":1370,"y":1340,"wires":[]},{"id":"70416706d291891e","type":"function","z":"de180260a8533200","name":"","func":"msg.payload = msg.payload.toString(\"hex\")\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":200,"wires":[["23c2bc35f9fd8bc8"]]},{"id":"23c2bc35f9fd8bc8","type":"file","z":"de180260a8533200","name":"Pack4 Logging","filename":"/var/tmp/pack4data.log","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"hex","x":620,"y":120,"wires":[[]]},{"id":"92a2796ab2511303","type":"inject","z":"9dfb390640cddc26","name":"Pack 0 Data Request","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":"10","topic":"","payload":"[126,50,48,48,49,52,54,52,50,69,48,48,50,48,49,70,68,51,53,13]","payloadType":"bin","x":140,"y":60,"wires":[["b2522be49b75f414"]]},{"id":"b2522be49b75f414","type":"serial out","z":"9dfb390640cddc26","name":"Write USB4","serial":"267141285873e3c4","x":390,"y":60,"wires":[]},{"id":"7b0fa63809a94559","type":"switch","z":"9dfb390640cddc26","name":"Packet Type","property":"payload.9","propertyType":"msg","rules":[{"t":"eq","v":"0x31","vt":"num"},{"t":"eq","v":"0x32","vt":"num"}],"checkall":"false","repair":false,"outputs":2,"x":390,"y":280,"wires":[["532a9209db2070a2"],["7cfc600c80bc5e1f","3f8062007fb88291"]],"info":"Switch on packet type.   \n\nThis is at postion 10\n\n"},{"id":"d01d9c0b5f3cbb12","type":"inject","z":"9dfb390640cddc26","name":"Time Request","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":"10","topic":"","payload":"[126,50,48,48,49,52,54,52,68,48,48,48,48,70,68,57,66,13]","payloadType":"bin","x":110,"y":120,"wires":[["b2522be49b75f414"]]},{"id":"fb7b0a3e041aa9f5","type":"serial in","z":"9dfb390640cddc26","name":"Read USB4","serial":"267141285873e3c4","x":130,"y":220,"wires":[["7b0fa63809a94559","8ca9cf0cb42b9a10"]]},{"id":"532a9209db2070a2","type":"debug","z":"9dfb390640cddc26","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":710,"y":200,"wires":[]},{"id":"7cfc600c80bc5e1f","type":"debug","z":"9dfb390640cddc26","name":"Timestamp","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":710,"y":260,"wires":[]},{"id":"b122439cfbdd4d79","type":"debug","z":"9dfb390640cddc26","name":"","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":890,"y":440,"wires":[]},{"id":"8ca9cf0cb42b9a10","type":"debug","z":"9dfb390640cddc26","name":"Packet Data","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":390,"y":200,"wires":[]},{"id":"3f8062007fb88291","type":"buffer-parser","z":"9dfb390640cddc26","name":"Int to Hex","data":"payload","dataType":"msg","specification":"spec","specificationType":"ui","items":[{"type":"string","name":"data","offset":17,"length":12,"offsetbit":0,"scale":"1","mask":""}],"swap1":"","swap2":"","swap3":"","swap1Type":"swap","swap2Type":"swap","swap3Type":"swap","msgProperty":"payload","msgPropertyType":"str","resultType":"keyvalue","resultTypeType":"output","multipleResult":false,"fanOutMultipleResult":false,"setTopic":true,"outputs":1,"x":700,"y":320,"wires":[["b3f9431294ce8c3e","147e6d863ad22901","e63b6b6d67812627"]]},{"id":"761c1411a8d41721","type":"debug","z":"9dfb390640cddc26","name":"Month","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":1130,"y":300,"wires":[]},{"id":"b3f9431294ce8c3e","type":"buffer-parser","z":"9dfb390640cddc26","name":"Time Splitter","data":"payload.data","dataType":"msg","specification":"spec","specificationType":"ui","items":[{"type":"int8","name":"Month","offset":0,"length":1,"offsetbit":0,"scale":"0","mask":""},{"type":"int8","name":"Day","offset":1,"length":1,"offsetbit":0,"scale":"0","mask":""},{"type":"int8","name":"Hour","offset":2,"length":1,"offsetbit":0,"scale":"0","mask":""},{"type":"int8","name":"Minute","offset":3,"length":1,"offsetbit":0,"scale":"0","mask":""},{"type":"int8","name":"Second","offset":4,"length":1,"offsetbit":0,"scale":"0","mask":""}],"swap1":"","swap2":"","swap3":"","swap1Type":"swap","swap2Type":"swap","swap3Type":"swap","msgProperty":"payload","msgPropertyType":"str","resultType":"value","resultTypeType":"output","multipleResult":true,"fanOutMultipleResult":true,"setTopic":true,"outputs":5,"x":890,"y":320,"wires":[["761c1411a8d41721"],["95fb800f757313a4"],["f4d84178d3ff4273"],["43d2a64636ff76a0"],["5addd4d8682b21d0"]]},{"id":"95fb800f757313a4","type":"debug","z":"9dfb390640cddc26","name":"Day","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":1130,"y":360,"wires":[]},{"id":"147e6d863ad22901","type":"debug","z":"9dfb390640cddc26","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":890,"y":380,"wires":[]},{"id":"12ca9097a932a469","type":"buffer-parser","z":"9dfb390640cddc26","name":"Cell Metrics","data":"payload","dataType":"msg","specification":"spec","specificationType":"ui","items":[{"type":"string","name":"data","offset":23,"length":4,"offsetbit":0,"scale":"1","mask":""}],"swap1":"","swap2":"","swap3":"","swap1Type":"swap","swap2Type":"swap","swap3Type":"swap","msgProperty":"payload","msgPropertyType":"str","resultType":"keyvalue","resultTypeType":"output","multipleResult":false,"fanOutMultipleResult":false,"setTopic":true,"outputs":1,"x":730,"y":80,"wires":[[]]},{"id":"f4d84178d3ff4273","type":"debug","z":"9dfb390640cddc26","name":"Hour","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":1130,"y":420,"wires":[]},{"id":"43d2a64636ff76a0","type":"debug","z":"9dfb390640cddc26","name":"Minute","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":1130,"y":480,"wires":[]},{"id":"5addd4d8682b21d0","type":"debug","z":"9dfb390640cddc26","name":"Second","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":1140,"y":540,"wires":[]},{"id":"06c545a121c74dfd","type":"inject","z":"9dfb390640cddc26","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"TEMP;'00f6' ; HUM;'62';","payloadType":"str","x":160,"y":380,"wires":[["a589a7176190189a"]]},{"id":"a589a7176190189a","type":"function","z":"9dfb390640cddc26","name":"","func":"var str = msg.payload;\nstr = str.replace(/[ ']/g, ''); //remove spaces and single quotes\nvar parts = str.split(\";\");\nvar result = {};\n\nfor (let index = 0; index < parts.length; index = index+2) {\n    const name = parts[index];\n    const val = parts[index + 1];\n    if (name && val) {\n        result[name] = parseInt(val, 16);\n    }\n}\nmsg.payload = result\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":210,"y":440,"wires":[["b2aabec7fedbbdbb"]]},{"id":"b2aabec7fedbbdbb","type":"debug","z":"9dfb390640cddc26","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":250,"y":500,"wires":[]},{"id":"e63b6b6d67812627","type":"function","z":"9dfb390640cddc26","name":"","func":"buf= Buffer.from(msg.payload.data);\n\nvar size = buf.length;\n// Read first 8 bits\nvar Month = parseInt(\"0x\"+msg.payload.data[0],1);\n//var Month=msg.payload.data[0];\n\nvar Day = buf.readInt8(1);\nvar Hours = buf.readInt8(2);\nvar Minutes = buf.readInt8(3);\nvar Seconds = buf.readInt8(4);\n\n//var Time = ('0' +Hours).slice(-2)+':'+('0' +Minutes).slice(-2)+':'+('0' +Seconds).slice(-2);\nvar Time = Month;\n\nmsg.payload = Time;\nreturn msg;\n  \n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":700,"y":440,"wires":[["b122439cfbdd4d79"]]},{"id":"8d5d976cda5ce822","type":"inject","z":"8756348b3e5ce35c","name":"Time Packet","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":"10","topic":"","payload":"[126,50,48,48,49,52,54,48,48,50,48,48,69,48,55,69,54,48,53,49,48,48,70,48,54,49,69,70,65,65,50]","payloadType":"bin","x":110,"y":120,"wires":[["9802cec57ea6b343"]]},{"id":"9802cec57ea6b343","type":"buffer-parser","z":"8756348b3e5ce35c","name":"Int to Hex String","data":"payload","dataType":"msg","specification":"spec","specificationType":"ui","items":[{"type":"string","name":"data","offset":17,"length":12,"offsetbit":0,"scale":"1","mask":""}],"swap1":"","swap2":"","swap3":"","swap1Type":"swap","swap2Type":"swap","swap3Type":"swap","msgProperty":"payload","msgPropertyType":"str","resultType":"keyvalue","resultTypeType":"output","multipleResult":false,"fanOutMultipleResult":false,"setTopic":true,"outputs":1,"x":320,"y":120,"wires":[["4f133030065c4ec2","a91ceb40ca3e9a7f","23d425b54871a034"]]},{"id":"4f133030065c4ec2","type":"buffer-parser","z":"8756348b3e5ce35c","name":"Time Splitter","data":"payload.data","dataType":"msg","specification":"spec","specificationType":"ui","items":[{"type":"int8","name":"Month","offset":0,"length":1,"offsetbit":0,"scale":"0","mask":""},{"type":"int8","name":"Day","offset":1,"length":1,"offsetbit":0,"scale":"0","mask":""},{"type":"int8","name":"Hour","offset":2,"length":1,"offsetbit":0,"scale":"0","mask":""},{"type":"int8","name":"Minute","offset":3,"length":1,"offsetbit":0,"scale":"0","mask":""},{"type":"int8","name":"Second","offset":4,"length":1,"offsetbit":0,"scale":"0","mask":""}],"swap1":"","swap2":"","swap3":"","swap1Type":"swap","swap2Type":"swap","swap3Type":"swap","msgProperty":"payload","msgPropertyType":"str","resultType":"value","resultTypeType":"output","multipleResult":true,"fanOutMultipleResult":true,"setTopic":true,"outputs":5,"x":530,"y":120,"wires":[["12b12e46c5d5409d"],["268a5014c848b1c4"],["fd5a936b62a6a9df"],["f333fabd50b1c3d4"],[]]},{"id":"12b12e46c5d5409d","type":"debug","z":"8756348b3e5ce35c","name":"Month","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":730,"y":100,"wires":[]},{"id":"268a5014c848b1c4","type":"debug","z":"8756348b3e5ce35c","name":"Day","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":730,"y":160,"wires":[]},{"id":"fd5a936b62a6a9df","type":"debug","z":"8756348b3e5ce35c","name":"Hour","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":730,"y":220,"wires":[]},{"id":"f333fabd50b1c3d4","type":"debug","z":"8756348b3e5ce35c","name":"Minute","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":730,"y":280,"wires":[]},{"id":"a91ceb40ca3e9a7f","type":"debug","z":"8756348b3e5ce35c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":490,"y":320,"wires":[]},{"id":"f5604b0991b1004f","type":"debug","z":"8756348b3e5ce35c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":450,"y":380,"wires":[]},{"id":"23815544cb481ae0","type":"function","z":"8756348b3e5ce35c","name":"","func":"msg.payload = Buffer.from(msg.payload.d.value,\"hex\").toString()\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":440,"wires":[["9b5b60a28df738d2"]]},{"id":"9b5b60a28df738d2","type":"debug","z":"8756348b3e5ce35c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":630,"y":440,"wires":[]},{"id":"95d4754f5b48797b","type":"inject","z":"8756348b3e5ce35c","name":"","props":[{"p":"payload","v":"{\"d\":{\"value\":\"32352e3339\"}}","vt":"json"},{"p":"topic","v":"fake ibmiot","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"fake ibmiot","payload":"{\"d\":{\"value\":\"32352e3339\"}}","payloadType":"json","x":170,"y":380,"wires":[["23815544cb481ae0","f5604b0991b1004f"]]},{"id":"23d425b54871a034","type":"function","z":"8756348b3e5ce35c","name":"","func":"var months={1:\"January\",2:\"February\",3:\"March\",4:\"April\",5:\"May\",6:\"June\",7:\"July\",8:\"August\",9:\"September\",10:\"October\",11:\"November\",12:\"December\"};\n\nvar MonthStr = msg.payload.data.substr(0,2);\nvar DayStr = msg.payload.data.substr(2,2);\nvar HourStr = msg.payload.data.substr(4,2);\nvar MinuteStr = msg.payload.data.substr(6,2);\n//msg.payload = Buffer.from(msg.payload.data,\"hex\").toString()\nvar MonthValue = parseInt(MonthStr,16);\nvar DayValue = parseInt(DayStr,16);\nvar HourValue = parseInt(HourStr,16);\nvar MinuteValue = parseInt(MinuteStr,16);\n\nmsg.payload = months[MonthValue] + \"-\" + \n              DayValue.toString() + \" @ \" + \n              HourValue.toString() + \":\" + \n              MinuteValue.toString().padStart(2,\"0\");\n              \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":200,"wires":[["3f2522ab7649a386"]]},{"id":"3f2522ab7649a386","type":"debug","z":"8756348b3e5ce35c","name":"Date","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":730,"y":340,"wires":[]},{"id":"22f8bc97ad044568","type":"buffer-parser","z":"228d234fe5d04b55","name":"Time Splitter","data":"payload.data","dataType":"msg","specification":"spec","specificationType":"ui","items":[{"type":"int8","name":"Month","offset":0,"length":1,"offsetbit":0,"scale":"0","mask":""},{"type":"int8","name":"Day","offset":1,"length":1,"offsetbit":0,"scale":"0","mask":""},{"type":"int8","name":"Hour","offset":2,"length":1,"offsetbit":0,"scale":"0","mask":""},{"type":"int8","name":"Minute","offset":3,"length":1,"offsetbit":0,"scale":"0","mask":""},{"type":"int8","name":"Second","offset":4,"length":1,"offsetbit":0,"scale":"0","mask":""}],"swap1":"","swap2":"","swap3":"","swap1Type":"swap","swap2Type":"swap","swap3Type":"swap","msgProperty":"payload","msgPropertyType":"str","resultType":"value","resultTypeType":"output","multipleResult":true,"fanOutMultipleResult":true,"setTopic":true,"outputs":5,"x":150,"y":60,"wires":[["913c817cb53a811c"],["840377d6b8e46430"],["d3321fd1fa42cb5a"],["08c29419f83b3fdd"],["ef83e3fbe503d098"]]},{"id":"913c817cb53a811c","type":"debug","z":"228d234fe5d04b55","name":"Month","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":390,"y":20,"wires":[]},{"id":"840377d6b8e46430","type":"debug","z":"228d234fe5d04b55","name":"Day","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":530,"y":20,"wires":[]},{"id":"d3321fd1fa42cb5a","type":"debug","z":"228d234fe5d04b55","name":"Hour","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":670,"y":20,"wires":[]},{"id":"08c29419f83b3fdd","type":"debug","z":"228d234fe5d04b55","name":"Minute","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":810,"y":20,"wires":[]},{"id":"ef83e3fbe503d098","type":"debug","z":"228d234fe5d04b55","name":"Second","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":960,"y":20,"wires":[]}]