NodeRed/ranch-aux.flow
[{"id":"4956b05d.7849d8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"c6814ef7.f0da3","type":"tab","label":"AUX Solar Controller","disabled":false,"info":""},{"id":"1c3b1989.74fa76","type":"tab","label":"Modbus Get Data","disabled":true,"info":""},{"id":"bfec885a.092f18","type":"tab","label":"Process Inverter Data","disabled":true,"info":""},{"id":"ffcad08c.54f9f","type":"tab","label":"Influx DB","disabled":false,"info":""},{"id":"13f1ef88.91496","type":"tab","label":"Process Battery Data","disabled":true,"info":""},{"id":"3470a104.fc835e","type":"modbus-client","name":"USBSerial USB1","clienttype":"serial","bufferCommands":true,"stateLogEnabled":true,"queueLogEnabled":true,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB1","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"2","serialParity":"none","serialConnectionDelay":"100","unit_id":"2","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"d50d0c9f.31e858","type":"tls-config","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","servername":"","verifyservercert":false},{"id":"9fa402e3.94da4","type":"modbus-client","name":"USB Serial USB0","clienttype":"serial","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB0","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"2e241b5f.965c84","type":"influxdb","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"database","name":"SkyMoCo","usetls":false,"tls":"d50d0c9f.31e858","influxdbVersion":"2.0","url":"http://34.145.48.31:8086","rejectUnauthorized":true},{"id":"d1e63a73.b939c8","type":"influxdb","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"database","name":"SmokeWood InfluxDb","usetls":false,"tls":"d50d0c9f.31e858","influxdbVersion":"2.0","url":"http://172.26.0.250:8086","rejectUnauthorized":true},{"id":"a4eea258.547e3","type":"modbus-read","z":"c6814ef7.f0da3","name":"Battery Info (Rover)","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"1","dataType":"HoldingRegister","adr":"256","quantity":"4","rate":"1","rateUnit":"m","delayOnStart":true,"startDelayTime":"5","server":"9fa402e3.94da4","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":150,"y":340,"wires":[["ba091e9b.f9c6d","83c9094f.4f7228"],["7542f64a.745f98","4beb12b2.6a2fec"]]},{"id":"7542f64a.745f98","type":"modbus-response","z":"c6814ef7.f0da3","name":"Charge Controller Debug","registerShowMax":20,"x":510,"y":400,"wires":[]},{"id":"ba091e9b.f9c6d","type":"function","z":"c6814ef7.f0da3","name":"CCDI Parser","func":"buf= Buffer.from(msg.payload);\nvar size = buf.length\n// Read first 8 bits\nvar BatteryCapacity=buf.readInt8(0)\nvar BatteryVoltage = msg.payload[1] * .1\nvar BatteryCurrent = msg.payload[2] * .001;\nvar ControllerTemp = (msg.payload[3] % 100) * 1.8 + 32\nvar BatteryTemp = 6\n\nmsg.payload = [{\n    Size: size,\n    BatteryCapacity:BatteryCapacity,\n    BatteryVoltage:BatteryVoltage,\n    BatteryCurrent:BatteryCurrent,\n    ControllerTemp:ControllerTemp,\n    BatteryTemp:BatteryTemp\n},\n{\n    tag1:\"BatteryCapacity\",\n    tag2:\"BatteryVoltage\",\n    tag3:\"BatteryCurrent\",\n    tag4:\"ControllerTemp\"\n}];\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":470,"y":340,"wires":[["7f06171f.38bdd8"]]},{"id":"4beb12b2.6a2fec","type":"debug","z":"c6814ef7.f0da3","name":"Charge Controller Output","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":510,"y":280,"wires":[]},{"id":"7f06171f.38bdd8","type":"debug","z":"c6814ef7.f0da3","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":710,"y":340,"wires":[]},{"id":"edc3da23.13a7f8","type":"debug","z":"c6814ef7.f0da3","name":"BatteryDBPacket","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":870,"y":560,"wires":[]},{"id":"59464203.85476c","type":"modbus-read","z":"c6814ef7.f0da3","name":"Controller System Info","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"1","dataType":"HoldingRegister","adr":"12","quantity":"2","rate":"1","rateUnit":"m","delayOnStart":true,"startDelayTime":"1","server":"9fa402e3.94da4","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":160,"y":680,"wires":[[],["e27f0be1.43aa08"]]},{"id":"e27f0be1.43aa08","type":"modbus-response","z":"c6814ef7.f0da3","name":"","registerShowMax":20,"x":370,"y":680,"wires":[]},{"id":"499d7488.b1246c","type":"modbus-read","z":"c6814ef7.f0da3","name":"Solar Info (Rover)","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"263","quantity":"3","rate":"1","rateUnit":"m","delayOnStart":true,"startDelayTime":"","server":"9fa402e3.94da4","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":140,"y":440,"wires":[["cc54916d.2c624"],["79bce516.a4e08c"]]},{"id":"79bce516.a4e08c","type":"modbus-response","z":"c6814ef7.f0da3","name":"","registerShowMax":20,"x":490,"y":520,"wires":[]},{"id":"c104e532.28bd38","type":"debug","z":"c6814ef7.f0da3","name":"SolarDBPacket","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":860,"y":660,"wires":[]},{"id":"8ad76be4.b92c98","type":"comment","z":"1c3b1989.74fa76","name":"Read PZEM","info":"","x":120,"y":60,"wires":[]},{"id":"385ce89e.0736d8","type":"inject","z":"1c3b1989.74fa76","name":"Once a minute","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"60","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":120,"wires":[["f73929a0.370578"]]},{"id":"88b20f3e.b8d1f","type":"modbus-flex-getter","z":"1c3b1989.74fa76","name":"Read Data USB1","showStatusActivities":false,"showErrors":false,"logIOActivities":false,"server":"3470a104.fc835e","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"x":670,"y":120,"wires":[["9f29d8a2.6c39b8"],["c11989bb.5933d8"]]},{"id":"f73929a0.370578","type":"function","z":"1c3b1989.74fa76","name":"Unit 2, Addr 0x00, FC4","func":"msg.payload = { \n    'fc': 4, \n    'unitid': 2, \n    'address': 0x00, \n    'quantity': 8\n}\n\nmsg.topic = \"PZEM\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":120,"wires":[["88b20f3e.b8d1f"]]},{"id":"c11989bb.5933d8","type":"modbus-response","z":"1c3b1989.74fa76","name":"","registerShowMax":20,"x":930,"y":180,"wires":[]},{"id":"a1f57dd0.edac2","type":"link in","z":"bfec885a.092f18","name":"Get Inverter Data","links":["9f29d8a2.6c39b8"],"x":195,"y":80,"wires":[["856dc470.765298"]]},{"id":"9f29d8a2.6c39b8","type":"link out","z":"1c3b1989.74fa76","name":"","links":["a1f57dd0.edac2"],"x":875,"y":120,"wires":[]},{"id":"856dc470.765298","type":"split","z":"bfec885a.092f18","name":"Data Splitter","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"topic","x":290,"y":180,"wires":[["534564da.0b984c","39fecdc3.fae012"]]},{"id":"534564da.0b984c","type":"debug","z":"bfec885a.092f18","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":570,"y":80,"wires":[]},{"id":"39fecdc3.fae012","type":"switch","z":"bfec885a.092f18","name":"","property":"parts.index","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":450,"y":180,"wires":[["d780f1cd.11524"],["a8443e33.81f5a"],["f879a684.77d448"]]},{"id":"546f547.b0133ac","type":"debug","z":"bfec885a.092f18","name":"Volts","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":970,"y":160,"wires":[]},{"id":"569ba73e.040508","type":"debug","z":"bfec885a.092f18","name":"Amps","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":970,"y":220,"wires":[]},{"id":"34fd5532.c573ba","type":"function","z":"bfec885a.092f18","name":"","func":"//const buf= Buffer.from(msg.payload);\nvar amps = msg.payload/1000\n\nmsg.payload = [{\n    amps: amps,\n\n}];\nreturn [msg,msg];\n","outputs":2,"noerr":0,"initialize":"","finalize":"","x":660,"y":360,"wires":[[],[]]},{"id":"e19aa519.9d5ec8","type":"function","z":"bfec885a.092f18","name":"","func":"//const buf= Buffer.from(msg.payload);\nvar watts = msg.payload/100\n\nmsg.payload = [{\n    watts: watts\n}];\nreturn [msg,msg];\n","outputs":2,"noerr":0,"initialize":"","finalize":"","x":680,"y":440,"wires":[[],[]]},{"id":"80ac570f.55e208","type":"debug","z":"bfec885a.092f18","name":"Watts","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":970,"y":280,"wires":[]},{"id":"e910a95f.2a76c8","type":"join","z":"bfec885a.092f18","name":"Join Data","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1000,"y":460,"wires":[["7ab10293.ff719c"]]},{"id":"6f6773cf.05531c","type":"link in","z":"ffcad08c.54f9f","name":"","links":["7ab10293.ff719c"],"x":125,"y":100,"wires":[["e9b33079.10141","426b1b5.eddbbe4"]]},{"id":"7ab10293.ff719c","type":"link out","z":"bfec885a.092f18","name":"","links":["6f6773cf.05531c"],"x":1125,"y":400,"wires":[]},{"id":"426b1b5.eddbbe4","type":"debug","z":"ffcad08c.54f9f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":300,"y":180,"wires":[]},{"id":"d780f1cd.11524","type":"change","z":"bfec885a.092f18","name":"InverterVoltage","rules":[{"t":"set","p":"InverterVoltage","pt":"flow","to":"payload","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"InverterVoltage","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":160,"wires":[["53967bd0.42bad4"]]},{"id":"53967bd0.42bad4","type":"range","z":"bfec885a.092f18","minin":"0","maxin":"10000","minout":"0","maxout":"100","action":"scale","round":false,"property":"payload","name":"","x":800,"y":160,"wires":[["546f547.b0133ac","e910a95f.2a76c8"]]},{"id":"a8443e33.81f5a","type":"change","z":"bfec885a.092f18","name":"InverterAmps","rules":[{"t":"set","p":"InverterAmps","pt":"flow","to":"payload","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"InverterAmps","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":200,"wires":[["94f1ae4a.6677e"]]},{"id":"94f1ae4a.6677e","type":"range","z":"bfec885a.092f18","minin":"0","maxin":"100000","minout":"0","maxout":"100","action":"scale","round":false,"property":"payload","name":"","x":810,"y":217,"wires":[["e910a95f.2a76c8","569ba73e.040508"]]},{"id":"f879a684.77d448","type":"change","z":"bfec885a.092f18","name":"InverterAmps","rules":[{"t":"set","p":"InverterWatts","pt":"flow","to":"payload","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"InverterWatts","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":240,"wires":[["1813fde5.31efe2"]]},{"id":"1813fde5.31efe2","type":"range","z":"bfec885a.092f18","minin":"0","maxin":"10000","minout":"0","maxout":"100","action":"scale","round":false,"property":"payload","name":"","x":760,"y":260,"wires":[["e910a95f.2a76c8","80ac570f.55e208"]]},{"id":"d0155c72.70595","type":"inject","z":"1c3b1989.74fa76","name":"Once a minute","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"60","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":260,"wires":[[]]},{"id":"62658ff3.c4254","type":"function","z":"1c3b1989.74fa76","name":"Unit 1, Addr 0x100,FC3","func":"msg.payload = { \n    'fc': 3, \n    'unitid': 1, \n    'address': 0x100, \n    'quantity': 4\n}\n\nmsg.topic = \"AuxBattery\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":410,"y":260,"wires":[[]]},{"id":"519a56aa.a43548","type":"modbus-flex-getter","z":"1c3b1989.74fa76","name":"Read Data USB0","showStatusActivities":false,"showErrors":false,"logIOActivities":false,"server":"9fa402e3.94da4","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"x":670,"y":260,"wires":[[],[]]},{"id":"83c9094f.4f7228","type":"buffer-parser","z":"c6814ef7.f0da3","name":"Battery Parser","data":"payload","dataType":"msg","specification":"spec","specificationType":"ui","items":[{"type":"int8","name":"batteryCapacity","offset":1,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"int16be","name":"BatteryVoltage","offset":2,"length":1,"offsetbit":0,"scale":".1","mask":""},{"type":"int16le","name":"BatteryCurrent","offset":4,"length":1,"offsetbit":0,"scale":".0001","mask":""},{"type":"int8","name":"ControllerTemp","offset":6,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"int8","name":"BatteryTemp","offset":7,"length":1,"offsetbit":0,"scale":"1","mask":""}],"swap1":"","swap2":"","swap3":"","swap1Type":"swap","swap2Type":"swap","swap3Type":"swap","msgProperty":"payload","msgPropertyType":"str","resultType":"keyvalue","resultTypeType":"output","multipleResult":false,"fanOutMultipleResult":false,"setTopic":true,"outputs":1,"x":480,"y":460,"wires":[["edc3da23.13a7f8","ad9528ac.2f6528"]]},{"id":"cc54916d.2c624","type":"buffer-parser","z":"c6814ef7.f0da3","name":"Solar Parser","data":"payload","dataType":"msg","specification":"spec","specificationType":"ui","items":[{"type":"uint16be","name":"SolarChargeVoltage","offset":0,"length":1,"offsetbit":0,"scale":".1","mask":""},{"type":"uint16be","name":"SolarChargeCurrent","offset":2,"length":1,"offsetbit":0,"scale":".01","mask":""}],"swap1":"","swap2":"","swap3":"","swap1Type":"swap","swap2Type":"swap","swap3Type":"swap","msgProperty":"payload","msgPropertyType":"str","resultType":"keyvalue","resultTypeType":"output","multipleResult":false,"fanOutMultipleResult":false,"setTopic":true,"outputs":1,"x":480,"y":600,"wires":[["c104e532.28bd38","ad9528ac.2f6528"]]},{"id":"ad9528ac.2f6528","type":"influxdb out","z":"c6814ef7.f0da3","influxdb":"d1e63a73.b939c8","name":"Influxdb @SmokeWood","measurement":"AuxSolar","precision":"ms","retentionPolicy":"","database":"test","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"SkyMoCo","bucket":"Ranch","x":870,"y":500,"wires":[]},{"id":"e9b33079.10141","type":"influxdb out","z":"ffcad08c.54f9f","influxdb":"d1e63a73.b939c8","name":"Influxdb @GCP","measurement":"AuxInverter","precision":"ms","retentionPolicy":"","database":"test","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"SkyMoCo","bucket":"Ranch","x":300,"y":100,"wires":[]}]