NodeRed/RanchAuxFlow.json
[{"id":"4956b05d.7849d8","type":"tab","label":"Battery Monitor","disabled":false,"info":""},{"id":"c6814ef7.f0da3","type":"tab","label":"AUX Solar Controller","disabled":false,"info":""},{"id":"ffcad08c.54f9f","type":"tab","label":"Influx DB","disabled":false,"info":""},{"id":"7fc29390.09f88c","type":"tab","label":"Rover Interface","disabled":false,"info":""},{"id":"3470a104.fc835e","type":"modbus-client","name":"USBSerial USB1","clienttype":"serial","bufferCommands":true,"stateLogEnabled":true,"queueLogEnabled":true,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB1","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"2","serialParity":"none","serialConnectionDelay":"100","unit_id":"2","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"d50d0c9f.31e858","type":"tls-config","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","servername":"","verifyservercert":false},{"id":"9fa402e3.94da4","type":"modbus-client","name":"USB Serial USB0","clienttype":"serial","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB0","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"2e241b5f.965c84","type":"influxdb","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"database","name":"SkyMoCo","usetls":false,"tls":"d50d0c9f.31e858","influxdbVersion":"2.0","url":"http://34.145.48.31:8086","rejectUnauthorized":true},{"id":"d1e63a73.b939c8","type":"influxdb","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"database","name":"SmokeWood InfluxDb","usetls":false,"tls":"d50d0c9f.31e858","influxdbVersion":"2.0","url":"http://172.26.0.250:8086","rejectUnauthorized":true},{"id":"f6423d07.aa6ad","type":"serial-port","serialport":"/dev/ttyUSB1","serialbaud":"19200","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"430409ba.988a28","type":"ui_tab","name":"Ranch","icon":"dashboard","disabled":false,"hidden":false},{"id":"b03389a4.7d7a38","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"7eb8fa3f.1b2344","type":"ui_group","name":"Battery","tab":"430409ba.988a28","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"9034575b.ce1fd8","type":"ui_group","name":"Metrics","tab":"430409ba.988a28","order":2,"disp":true,"width":"6","collapse":false,"className":""},{"id":"d26f365c.6b1fe8","type":"ui_group","name":"Solar Charge Controller","tab":"430409ba.988a28","order":3,"disp":true,"width":"6","collapse":false,"className":""},{"id":"bc382d2b.9f664","type":"ui_group","name":"History","tab":"430409ba.988a28","order":4,"disp":true,"width":"6","collapse":false,"className":""},{"id":"a4eea258.547e3","type":"modbus-read","z":"c6814ef7.f0da3","d":true,"name":"Battery Info (Rover)","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"1","dataType":"HoldingRegister","adr":"256","quantity":"4","rate":"1","rateUnit":"m","delayOnStart":true,"startDelayTime":"5","server":"9fa402e3.94da4","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":310,"y":60,"wires":[[],[]]},{"id":"ba091e9b.f9c6d","type":"function","z":"c6814ef7.f0da3","name":"Parse\\n Battery Data","func":"buf= Buffer.from(msg.payload);\nvar size = buf.length;\n// Read first 8 bits\nvar BatterySOC=buf.readInt8(0);\nvar BatteryVoltage = msg.payload[1] * .1;\nvar BatteryCurrent = msg.payload[2] * .001;\n\n// Temps are a bit more complicated\nvar BatteryTBits = msg.payload[3] & 255;\nvar tmpValue = BatteryTBits & 255;\nvar sign = BatteryTBits >> 7;\nif (sign == 1)\n  BatteryTemp = 128 - tmpValue;\nelse\n  BatteryTemp = tmpValue * 1.8 + 32 ;\n\nvar ControllerTBits =  msg.payload[3] >> 8;\ntmpValue = ControllerTBits & 255;\nsign = ControllerTBits >> 7;\nif (sign == 1)\n  ControllerTemp = 128 - tmpValue;\nelse\n  ControllerTemp = tmpValue * 1.8 + 32; \n\nvar msg1 = {payload: BatterySOC, topic: \"SCCSOC\"}; \nvar msg2 = {payload: BatteryVoltage, topic: \"SCCBatteryVoltage\"};\nvar msg3 = {payload: BatteryCurrent, topic: \"SCCBatteryCurrent\"};\nvar msg4 = {payload: BatteryTemp, topic: \"SCCBatteryTempatureF\"};\nvar msg5 = {payload: ControllerTemp, topic: \"SCCControllerTempatureF\"}; \nreturn [msg1,msg2,msg3,msg4,msg5];\n","outputs":5,"noerr":0,"initialize":"","finalize":"","x":830,"y":140,"wires":[["e9bc7fb2.a38c6","48d2997f.117b08","bc674589.370b58"],["1d9a4042.b5abb","e9bc7fb2.a38c6"],["e9bc7fb2.a38c6"],["e9bc7fb2.a38c6"],["e9bc7fb2.a38c6"]]},{"id":"4beb12b2.6a2fec","type":"debug","z":"c6814ef7.f0da3","name":"ModBus Output","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":520,"y":300,"wires":[]},{"id":"edc3da23.13a7f8","type":"debug","z":"c6814ef7.f0da3","name":"ChargeStatus","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":1080,"y":380,"wires":[]},{"id":"59464203.85476c","type":"modbus-read","z":"c6814ef7.f0da3","name":"Controller System Info","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"1","dataType":"HoldingRegister","adr":"268","quantity":"16","rate":"24","rateUnit":"h","delayOnStart":true,"startDelayTime":"30","server":"9fa402e3.94da4","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":160,"y":540,"wires":[["1b4fc55.8e2cc3b"],["e27f0be1.43aa08"]]},{"id":"e27f0be1.43aa08","type":"modbus-response","z":"c6814ef7.f0da3","name":"","registerShowMax":20,"x":370,"y":720,"wires":[]},{"id":"499d7488.b1246c","type":"modbus-read","z":"c6814ef7.f0da3","d":true,"name":"Solar Info (Rover)","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"263","quantity":"3","rate":"1","rateUnit":"m","delayOnStart":true,"startDelayTime":"","server":"9fa402e3.94da4","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":520,"y":60,"wires":[[],[]]},{"id":"c104e532.28bd38","type":"debug","z":"c6814ef7.f0da3","name":"SolarDBPacket","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":1080,"y":240,"wires":[]},{"id":"6f6773cf.05531c","type":"link in","z":"ffcad08c.54f9f","name":"","links":["7ab10293.ff719c"],"x":125,"y":100,"wires":[["e9b33079.10141","426b1b5.eddbbe4"]]},{"id":"426b1b5.eddbbe4","type":"debug","z":"ffcad08c.54f9f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":300,"y":180,"wires":[]},{"id":"cc54916d.2c624","type":"buffer-parser","z":"c6814ef7.f0da3","name":"Parse Solar","data":"payload","dataType":"msg","specification":"spec","specificationType":"ui","items":[{"type":"uint16be","name":"SolarChargeVoltage","offset":0,"length":1,"offsetbit":0,"scale":".1","mask":""},{"type":"uint16be","name":"SolarChargeCurrent","offset":2,"length":1,"offsetbit":0,"scale":".01","mask":""}],"swap1":"","swap2":"","swap3":"","swap1Type":"swap","swap2Type":"swap","swap3Type":"swap","msgProperty":"payload","msgPropertyType":"str","resultType":"value","resultTypeType":"output","multipleResult":true,"fanOutMultipleResult":true,"setTopic":true,"outputs":2,"x":830,"y":220,"wires":[["c104e532.28bd38","9ae32034.ecd2e"],["51b58bdc.b31194"]]},{"id":"ad9528ac.2f6528","type":"influxdb out","z":"c6814ef7.f0da3","influxdb":"d1e63a73.b939c8","name":"Influxdb @SmokeWood","measurement":"AuxSolar","precision":"ms","retentionPolicy":"","database":"test","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"SkyMoCo","bucket":"Ranch","x":1330,"y":140,"wires":[]},{"id":"e9b33079.10141","type":"influxdb out","z":"ffcad08c.54f9f","influxdb":"d1e63a73.b939c8","name":"Influxdb @GCP","measurement":"AuxInverter","precision":"ms","retentionPolicy":"","database":"test","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"SkyMoCo","bucket":"Ranch","x":300,"y":100,"wires":[]},{"id":"cb27efe5.bb6e7","type":"serial in","z":"4956b05d.7849d8","name":"Victron Batt Monitor","serial":"f6423d07.aa6ad","x":110,"y":40,"wires":[["86c69cec.eb493","13b973ac.0c9c2c"]]},{"id":"86c69cec.eb493","type":"debug","z":"4956b05d.7849d8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":290,"y":40,"wires":[]},{"id":"13b973ac.0c9c2c","type":"function","z":"4956b05d.7849d8","name":"BMParser","func":"// There are a lot of Values to Read, but I only care about some \n// of them.\n//\n// SOC State of Charge\n// I Main Battery Current\n// V Main Battery Voltage\n// P Main Battery Power\n\n\nvar data = msg.payload.split(\"\\t\");\nswitch(data[0]) {\n        case    'SOC':\n            msg.topic = \"SOC\";\n            msg.payload = parseFloat(data[1]/10);\n            break;\n        case    'V':\n            msg.topic = \"BatteryVoltage\";\n            msg.payload = parseFloat(data[1]/1000);\n            break;\n        case    'I':\n            msg.topic = \"BatteryAmps\"\n            msg.payload = parseFloat(data[1]/10000);\n            break;\n        case    'P':   // Current Power in Watts\n            msg.topic = \"CurrentPower\";\n            msg.payload = parseInt(data[1]);\n            break;\n        case    'CE':\n            msg.topic = \"ConsumedEnergy\";\n            msg.payload = parseInt(data[1]/1000);\n            break;\n        case    'TTG':\n            msg.topic = \"TimeRemaining\";\n            msg.payload = parseInt(data[1]);\n            break;\n        case 'H4':\n            msg.topic = \"DischargeCycles\";\n            msg.payload = parseInt(data[1]);\n            break;            \n        case 'H5':\n            msg.topic = \"FullDischargeCycles\";\n            msg.payload = parseInt(data[1]);\n            break;\n        case 'H6':\n            msg.topic = \"TotalAmpsDrawn\"\n            msg.payload = parseInt(data[1]/1000);\n            break;\n        case 'H7':\n            msg.topic = \"MinMainBatteryVoltage\"\n            msg.payload = parseFloat(data[1]/1000);\n            break;\n        case    'H8':\n            msg.topic = \"MaxMainBatteryVoltage\"\n            msg.payload = parseFloat(data[1]/1000);\n            break;\n        case    'H9':\n            msg.topic = \"SecondsSinceLastCharge\";\n            msg.payload = parseInt(data[1]);\n            break;\n        case    'H10':\n            msg.topic = \"NumberOfAutomaticSync\";\n            msg.payload = parseInt(data[1]);\n            break;\n        case    'H11':\n            msg.topic = \"NumberOfLowMainVolts\";\n            msg.payload = parseInt(data[1]);\n            break;            \n        case    'H12':\n            msg.topic = \"NumberOfHighMainVolts\";\n            msg.payload = parseInt(data[1]);\n            break;    \n        case    'H17':\n            msg.topic = \"PowerToBattery\"\n            msg.payload = parseInt(data[1]/100);\n            break;\n        case    'H18':\n            msg.topic = \"PowerFromBattery\";\n            msg.payload = parseInt(data[1]/100);\n            break;\n        case 'PID':\n            msg.topic = \"ProductID\";\n            msg.payload = data[1].trim();\n            break;\n        case 'Checksum':\n            msg.topic = \"CheckSum\";\n            msg.payload = data[1].trim();\n            break;\n        case 'Alarm':\n            msg.topic = \"AlarmState\";\n            msg.payload = data[1].trim();\n            break;  \n        case 'AR':\n            msg.topic = \"AlarmReason\";\n            msg.payload = data[1].trim();\n            break;\n        case 'BMV':\n            msg.topic = \"Product\";\n            msg.payload = data[1].trim();\n            break;\n        case 'MON':\n            msg.topic = \"MonitorMode\";\n            msg.payload = data[1].trim();\n            break;\n        case 'FW':\n            msg.topic = \"FirmwareVersion\";\n            msg.payload = data[1].trim();\n            break;\n}\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":280,"y":100,"wires":[["f4e5b0df.51196"]]},{"id":"9d85b954.e87df8","type":"debug","z":"4956b05d.7849d8","name":"State of Charge","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":800,"y":180,"wires":[]},{"id":"f4e5b0df.51196","type":"switch","z":"4956b05d.7849d8","name":"Metric Selection","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"SOC","vt":"str"},{"t":"eq","v":"BatteryVoltage","vt":"str"},{"t":"eq","v":"BatteryAmps","vt":"str"},{"t":"eq","v":"TimeRemaining","vt":"str"},{"t":"eq","v":"SecondsSinceLastCharge","vt":"str"},{"t":"eq","v":"MinMainBatteryVoltage","vt":"str"},{"t":"eq","v":"MaxMainBatteryVoltage","vt":"str"},{"t":"eq","v":"DischargeCycles","vt":"str"},{"t":"eq","v":"TimeRemaining","vt":"str"}],"checkall":"false","repair":false,"outputs":9,"x":500,"y":100,"wires":[["9d85b954.e87df8","71a8572b.a93fa8","2dbcddaa.83b942"],["ee83cda3.4816","2308a2d4.7472fe","2dbcddaa.83b942"],["34eb75d9.04e53a","55ede273.75a39c","2dbcddaa.83b942"],["7603f1f9.07397","2250166b.28237a","2dbcddaa.83b942"],["5ea90761.e510f8","2dbcddaa.83b942"],["9fed2df3.36023","2dbcddaa.83b942"],["6422d53a.37be9c","2dbcddaa.83b942"],["5d66d9a1.626328","2dbcddaa.83b942"],["2dbcddaa.83b942"]]},{"id":"ee83cda3.4816","type":"debug","z":"4956b05d.7849d8","name":"BatteryVoltage","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":800,"y":240,"wires":[]},{"id":"34eb75d9.04e53a","type":"debug","z":"4956b05d.7849d8","name":"BatteryAmps","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":790,"y":300,"wires":[]},{"id":"7603f1f9.07397","type":"debug","z":"4956b05d.7849d8","name":"TimeRemaining","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":800,"y":400,"wires":[]},{"id":"71a8572b.a93fa8","type":"ui_gauge","z":"4956b05d.7849d8","name":"State of Charge","group":"7eb8fa3f.1b2344","order":0,"width":0,"height":0,"gtype":"gage","title":"State of Charge","label":"Percent","format":"{{value}}","min":0,"max":"100","colors":["#b3004d","#e6e600","#2dd24e"],"seg1":"","seg2":"","className":"","x":800,"y":80,"wires":[]},{"id":"2308a2d4.7472fe","type":"ui_chart","z":"4956b05d.7849d8","name":"Battery Volts","group":"7eb8fa3f.1b2344","order":1,"width":0,"height":0,"label":"Battery Volts","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":790,"y":120,"wires":[[]]},{"id":"d53afbe0.2632c8","type":"file","z":"4956b05d.7849d8","name":"Data Logger","filename":"/tmp/logger.out","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":290,"y":160,"wires":[[]]},{"id":"5ea90761.e510f8","type":"ui_text","z":"4956b05d.7849d8","group":"9034575b.ce1fd8","order":2,"width":0,"height":0,"name":"Hours since charge","label":"Hours since charge","format":"{{msg.payload}}","layout":"row-spread","className":"","x":750,"y":500,"wires":[]},{"id":"9fed2df3.36023","type":"ui_text","z":"4956b05d.7849d8","group":"9034575b.ce1fd8","order":1,"width":0,"height":0,"name":"","label":"Min Main Battery Voltage","format":"{{msg.payload}}","layout":"row-spread","className":"","x":770,"y":540,"wires":[]},{"id":"5d66d9a1.626328","type":"ui_text","z":"4956b05d.7849d8","group":"9034575b.ce1fd8","order":2,"width":0,"height":0,"name":"DischargeCycles","label":"DischargeCycles","format":"{{msg.payload}}","layout":"row-spread","className":"","x":750,"y":620,"wires":[]},{"id":"6422d53a.37be9c","type":"ui_text","z":"4956b05d.7849d8","group":"9034575b.ce1fd8","order":2,"width":0,"height":0,"name":"","label":"Max Main Battery Volts","format":"{{msg.payload}}","layout":"row-spread","className":"","x":760,"y":580,"wires":[]},{"id":"2250166b.28237a","type":"ui_text","z":"4956b05d.7849d8","group":"9034575b.ce1fd8","order":2,"width":0,"height":0,"name":"","label":"Runtime Remaining","format":"{{msg.payload}}","layout":"row-spread","className":"","x":810,"y":460,"wires":[]},{"id":"55ede273.75a39c","type":"ui_gauge","z":"4956b05d.7849d8","name":"","group":"7eb8fa3f.1b2344","order":2,"width":0,"height":0,"gtype":"gage","title":"Amp Meter","label":"Amps","format":"{{value}}","min":"-10","max":10,"colors":["#b30036","#e6e600","#52cb3a"],"seg1":"0","seg2":"","className":"","x":790,"y":360,"wires":[]},{"id":"86c00370.1e493","type":"inject","z":"7fc29390.09f88c","name":"Get Battery Data from\\n CC every minute","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":80,"wires":[["7e5ad0d0.0bd6e"]]},{"id":"7e5ad0d0.0bd6e","type":"function","z":"7fc29390.09f88c","name":"Set Modbus Parms","func":"//\n\n// Documents are in Hex, but use decimal addresses here\nmsg.payload = { \n    'fc': 3, \n    'unitid': 1, \n    'address': 256, \n    'quantity': 4\n}\n\nmsg.topic = \"Battery\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":350,"y":80,"wires":[["a852be80.048d7"]]},{"id":"a852be80.048d7","type":"modbus-flex-getter","z":"7fc29390.09f88c","name":"","showStatusActivities":false,"showErrors":false,"logIOActivities":false,"server":"9fa402e3.94da4","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"x":610,"y":220,"wires":[["2eaf62ec.f42dae"],["73b2b576.74682c"]]},{"id":"2eaf62ec.f42dae","type":"switch","z":"7fc29390.09f88c","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"Battery","vt":"str"},{"t":"eq","v":"Tempatures","vt":"str"},{"t":"eq","v":"","vt":"str"},{"t":"eq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":830,"y":220,"wires":[["2ee283b5.17c04c"],["336c39a7.998116"],[],[]]},{"id":"657b909.190097","type":"inject","z":"7fc29390.09f88c","name":"Get Solar Data from\\n CC every minute","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":280,"wires":[[]]},{"id":"d551df0d.c6183","type":"inject","z":"7fc29390.09f88c","name":"Get CC Info from\\n CC every minute","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":360,"wires":[[]]},{"id":"c20d7c02.5fb84","type":"function","z":"7fc29390.09f88c","name":"Set Modbus Parms","func":"// Load Data\n// 0104 Load Voltage\n// 0105 Load Current\n// 0106 Load Power\n\nmsg.payload = { \n    'fc': 3, \n    'unitid': 1, \n    'address': 0x260, \n    'quantity': 3\n}\n\nmsg.topic = \"Load\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":350,"y":200,"wires":[["a852be80.048d7"]]},{"id":"cfcd273d.7e58b8","type":"function","z":"7fc29390.09f88c","name":"Set Modbus Parms","func":"msg.payload = { \n    'fc': 3, \n    'unitid': 1, \n    'address': 0x12, \n    'quantity': 2\n}\n\nmsg.topic = \"Controller\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":350,"y":260,"wires":[[]]},{"id":"1f9e9e03.a44742","type":"inject","z":"7fc29390.09f88c","name":"Historical Data \\n (Daily)","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":440,"wires":[["c7faab22.18e028"]]},{"id":"c7faab22.18e028","type":"function","z":"7fc29390.09f88c","name":"Set Modbus Parms","func":"// Historical Data\n//\n//  Operating Days\n\n\nmsg.payload = { \n    'fc': 3, \n    'unitid': 1, \n    'address': 0x27, \n    'quantity': 1\n}\n\nmsg.topic = \"Historical\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":350,"y":440,"wires":[["a852be80.048d7"]]},{"id":"73b2b576.74682c","type":"debug","z":"7fc29390.09f88c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":860,"y":360,"wires":[]},{"id":"1eb2b9b2.4a5c76","type":"inject","z":"7fc29390.09f88c","name":"Get Load Data from\\n CC every minute","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":200,"wires":[["c20d7c02.5fb84"]]},{"id":"2ee283b5.17c04c","type":"split","z":"7fc29390.09f88c","name":"Split Message into parts","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":1050,"y":200,"wires":[["cd2e591d.973d88"]]},{"id":"cd2e591d.973d88","type":"switch","z":"7fc29390.09f88c","name":"","property":"parts.index","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":1270,"y":200,"wires":[["9c4c20fc.77628"],["46478343.9edd8c"],["3f1d32b5.15da1e"]]},{"id":"9c4c20fc.77628","type":"debug","z":"7fc29390.09f88c","name":"Battery SOC","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":1670,"y":180,"wires":[]},{"id":"46478343.9edd8c","type":"range","z":"7fc29390.09f88c","minin":"0","maxin":"1000","minout":"0","maxout":"100","action":"scale","round":false,"property":"payload","name":"","x":1490,"y":260,"wires":[["72107d6c.4b93e4"]]},{"id":"72107d6c.4b93e4","type":"debug","z":"7fc29390.09f88c","name":"Battery Voltage","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":1680,"y":260,"wires":[]},{"id":"3f1d32b5.15da1e","type":"range","z":"7fc29390.09f88c","minin":"0","maxin":"10000","minout":"0","maxout":"10","action":"scale","round":false,"property":"payload","name":"","x":1480,"y":340,"wires":[["30d43e83.327352"]]},{"id":"30d43e83.327352","type":"debug","z":"7fc29390.09f88c","name":"Charge Current","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":1680,"y":340,"wires":[]},{"id":"f04ca5f8.b00ec8","type":"inject","z":"7fc29390.09f88c","name":"Tempatures","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":140,"wires":[["2554bc81.eba5e4"]]},{"id":"2554bc81.eba5e4","type":"function","z":"7fc29390.09f88c","name":"Set Modbus Parms","func":"// Tempatures\n//\n// 0103H Controller/Battery Temps\n\n// Documents are in Hex, but use decimal addresses here\nmsg.payload = { \n    'fc': 3, \n    'unitid': 1, \n    'address': 259, \n    'quantity': 1\n}\n\nmsg.topic = \"Tempatures\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":350,"y":140,"wires":[["a852be80.048d7"]]},{"id":"336c39a7.998116","type":"debug","z":"7fc29390.09f88c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":1020,"y":260,"wires":[]},{"id":"1d9a4042.b5abb","type":"debug","z":"c6814ef7.f0da3","name":"BatteryVoltage","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":1100,"y":60,"wires":[]},{"id":"e9bc7fb2.a38c6","type":"join","z":"c6814ef7.f0da3","name":"Combine Readings","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":true,"timeout":"","count":"6","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1110,"y":140,"wires":[["ad9528ac.2f6528","a2c4df27.925d7"]]},{"id":"48d2997f.117b08","type":"ui_gauge","z":"c6814ef7.f0da3","name":"BatterySOC","group":"d26f365c.6b1fe8","order":3,"width":0,"height":0,"gtype":"gage","title":"BatterySOC","label":"% Capacity","format":"{{value}}","min":0,"max":"100","colors":["#b30012","#e6e600","#10b715"],"seg1":"","seg2":"","className":"","x":1050,"y":20,"wires":[]},{"id":"bc674589.370b58","type":"debug","z":"c6814ef7.f0da3","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":1270,"y":20,"wires":[]},{"id":"2613bbbe.f50e64","type":"function","z":"c6814ef7.f0da3","name":"Parse\\n Charge Status","func":"// Read second byte\nvar ChargeStatus = msg.payload[0] & 255\n\nswitch(ChargeStatus) {\n    case 0:  \n        ChargeStatusTxt = \"Not Charging\";\n        break;\n    case 1:\n        ChargeStatusTxt = \"Start Charging\";\n        break;\n    case 2:\n        ChargeStatusTxt = \"MPPTT Charging\";\n        break;    \n    case 3:\n        ChargeStatusTxt = \"Equalization\";\n        break;\n    case 4:\n        ChargeStatusTxt = \"Boost Charge\";\n        break;\n    case 5:\n        ChargeStatusTxt = \"Float Charge\";\n        break;        \n    case 6:\n        ChargeStatusTxt = \"Max Charge\";\n        break;                \n}\n\n\nvar msg1 = { payload: ChargeStatus, topic: \"SCCChargeStatus\"}; \nvar msg2 = { payload: ChargeStatusTxt }\n\nreturn [msg1,msg2];\n","outputs":2,"noerr":0,"initialize":"","finalize":"","x":840,"y":380,"wires":[["edc3da23.13a7f8","e9bc7fb2.a38c6"],["78ba7b8f.a79e54"]]},{"id":"78ba7b8f.a79e54","type":"debug","z":"c6814ef7.f0da3","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":1070,"y":440,"wires":[]},{"id":"1b4fc55.8e2cc3b","type":"buffer-parser","z":"c6814ef7.f0da3","name":"ParseHistory","data":"payload","dataType":"msg","specification":"spec","specificationType":"ui","items":[{"type":"int16be","name":"DailyMaxBatteryVoltage","offset":0,"length":1,"offsetbit":0,"scale":".1","mask":""},{"type":"int16be","name":"DailyMaxBatteryCurrent","offset":2,"length":1,"offsetbit":0,"scale":".01","mask":""},{"type":"int16be","name":"MaxDischargeCurrent","offset":4,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"int16be","name":"MaxChargePower ","offset":6,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"int16be","name":"MinChargePower","offset":8,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"int16be","name":"AmpHoursCharging","offset":10,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"int16be","name":"AmpHoursDischarging","offset":12,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"int16be","name":"PowerGeneration ","offset":14,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"int16be","name":"PowerUsed ","offset":16,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"int16be","name":"TotalRunningDays","offset":18,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"int16be","name":"BatteryOverCharged ","offset":20,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"int16be","name":"BatteryFullCount","offset":22,"length":1,"offsetbit":0,"scale":"1","mask":""}],"swap1":"","swap2":"","swap3":"","swap1Type":"swap","swap2Type":"swap","swap3Type":"swap","msgProperty":"payload","msgPropertyType":"str","resultType":"value","resultTypeType":"output","multipleResult":true,"fanOutMultipleResult":true,"setTopic":true,"outputs":12,"x":390,"y":560,"wires":[["8ff667fa.6555a8"],["ad824c6a.fb79e"],["25feafd4.b10d3"],["7ea136fc.4083b8"],["afc35173.3f339"],[],[],[],[],["9d8e9b0b.4808a8"],[],[]]},{"id":"8ff667fa.6555a8","type":"ui_text","z":"c6814ef7.f0da3","group":"bc382d2b.9f664","order":0,"width":0,"height":0,"name":"","label":"DailyMaxBatteryVoltage","format":"{{msg.payload}}","layout":"row-spread","className":"","x":690,"y":500,"wires":[]},{"id":"ad824c6a.fb79e","type":"ui_text","z":"c6814ef7.f0da3","group":"bc382d2b.9f664","order":0,"width":0,"height":0,"name":"","label":"DailyMaxBatteryCurrent","format":"{{msg.payload}}","layout":"row-spread","className":"","x":690,"y":540,"wires":[]},{"id":"9d8e9b0b.4808a8","type":"ui_text","z":"c6814ef7.f0da3","group":"bc382d2b.9f664","order":0,"width":0,"height":0,"name":"","label":"Total Running Days","format":"{{msg.payload}}","layout":"row-spread","className":"","x":670,"y":700,"wires":[]},{"id":"25feafd4.b10d3","type":"ui_text","z":"c6814ef7.f0da3","group":"bc382d2b.9f664","order":3,"width":0,"height":0,"name":"","label":"MaxDischargeCurrent","format":"{{msg.payload}}","layout":"row-spread","className":"","x":680,"y":580,"wires":[]},{"id":"7ea136fc.4083b8","type":"ui_text","z":"c6814ef7.f0da3","group":"bc382d2b.9f664","order":3,"width":0,"height":0,"name":"","label":"MaxChargePower","format":"{{msg.payload}}","layout":"row-spread","className":"","x":670,"y":620,"wires":[]},{"id":"afc35173.3f339","type":"ui_text","z":"c6814ef7.f0da3","group":"bc382d2b.9f664","order":3,"width":0,"height":0,"name":"","label":"MinDischargeCurrent","format":"{{msg.payload}}","layout":"row-spread","className":"","x":680,"y":660,"wires":[]},{"id":"38f99b12.813374","type":"inject","z":"c6814ef7.f0da3","name":"60s + 1s","props":[{"p":"payload"}],"repeat":"60","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"","payloadType":"date","x":80,"y":140,"wires":[["b616c208.c6c5a"]]},{"id":"b616c208.c6c5a","type":"function","z":"c6814ef7.f0da3","name":"Battery Query","func":"//\n\n// Documents are in Hex, but use decimal addresses here\nmsg.payload = { \n    'fc': 3, \n    'unitid': 1, \n    'address': 256, \n    'quantity': 4\n}\n\nmsg.topic = \"Battery\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":260,"y":140,"wires":[["55e205bd.dae5cc"]]},{"id":"55e205bd.dae5cc","type":"modbus-flex-getter","z":"c6814ef7.f0da3","name":"","showStatusActivities":false,"showErrors":false,"logIOActivities":false,"server":"9fa402e3.94da4","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"x":450,"y":220,"wires":[["6d5ebef4.96d59"],["4beb12b2.6a2fec"]]},{"id":"6d5ebef4.96d59","type":"switch","z":"c6814ef7.f0da3","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"Battery","vt":"str"},{"t":"eq","v":"Solar","vt":"str"},{"t":"eq","v":"ChargeState","vt":"str"},{"t":"eq","v":"FaultCodes","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":650,"y":220,"wires":[["ba091e9b.f9c6d"],["cc54916d.2c624"],["2613bbbe.f50e64"],["84c25380.1706c"]]},{"id":"1b3c0fc5.67b0a","type":"inject","z":"c6814ef7.f0da3","name":"60s + 5s","props":[{"p":"payload"}],"repeat":"60","crontab":"","once":true,"onceDelay":"5","topic":"","payload":"","payloadType":"date","x":80,"y":220,"wires":[["bcc22125.f0b3c"]]},{"id":"bcc22125.f0b3c","type":"function","z":"c6814ef7.f0da3","name":"Solar Query","func":"//\n\n// Documents are in Hex, but use decimal addresses here\nmsg.payload = { \n    'fc': 3, \n    'unitid': 1, \n    'address': 263, \n    'quantity': 3\n}\n\nmsg.topic = \"Solar\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":250,"y":220,"wires":[["55e205bd.dae5cc"]]},{"id":"9ae32034.ecd2e","type":"ui_gauge","z":"c6814ef7.f0da3","name":"Solar Volts","group":"d26f365c.6b1fe8","order":3,"width":0,"height":0,"gtype":"gage","title":"Solar Volts","label":"units","format":"{{value}}","min":0,"max":"40","colors":["#9eb300","#39d06e","#b71029"],"seg1":"","seg2":"","className":"","x":1070,"y":300,"wires":[]},{"id":"51b58bdc.b31194","type":"ui_gauge","z":"c6814ef7.f0da3","name":"Solar Amps","group":"d26f365c.6b1fe8","order":3,"width":0,"height":0,"gtype":"gage","title":"Solar Current","label":"Amps","format":"{{value}}","min":0,"max":"50","colors":["#00b386","#26e600","#b71010"],"seg1":"","seg2":"40","className":"","x":1070,"y":340,"wires":[]},{"id":"a870d710.c22728","type":"inject","z":"c6814ef7.f0da3","name":"Daily","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":70,"y":420,"wires":[[]]},{"id":"9fa22360.a9ad6","type":"inject","z":"c6814ef7.f0da3","name":"60s + 10s","props":[{"p":"payload"}],"repeat":"60","crontab":"","once":true,"onceDelay":"10","topic":"","payload":"","payloadType":"date","x":90,"y":280,"wires":[["6caf1e76.f0c6c"]]},{"id":"6caf1e76.f0c6c","type":"function","z":"c6814ef7.f0da3","name":"Charge State","func":"//\n\n// Documents are in Hex, but use decimal addresses here\nmsg.payload = { \n    'fc': 3, \n    'unitid': 1, \n    'address': 288, \n    'quantity': 1\n}\n\nmsg.topic = \"ChargeState\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":250,"y":280,"wires":[["55e205bd.dae5cc"]]},{"id":"2dbcddaa.83b942","type":"join","z":"4956b05d.7849d8","name":"Combine Readings","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"9","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":1070,"y":200,"wires":[["b515e8fc.264ce8","da27422d.7ffb2"]]},{"id":"b515e8fc.264ce8","type":"influxdb out","z":"4956b05d.7849d8","influxdb":"d1e63a73.b939c8","name":"Influxdb @SmokeWood","measurement":"AuxBattery","precision":"ms","retentionPolicy":"","database":"test","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"SkyMoCo","bucket":"Ranch","x":1290,"y":200,"wires":[]},{"id":"da27422d.7ffb2","type":"debug","z":"4956b05d.7849d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":1280,"y":120,"wires":[]},{"id":"7f9c232d.b860bc","type":"inject","z":"4956b05d.7849d8","name":"Every Minute","props":[{"p":"payload"},{"p":"complete","v":"true","vt":"bool"}],"repeat":"60","crontab":"","once":true,"onceDelay":"60","topic":"","payload":"","payloadType":"date","x":1080,"y":140,"wires":[["2dbcddaa.83b942"]]},{"id":"a2c4df27.925d7","type":"debug","z":"c6814ef7.f0da3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1300,"y":200,"wires":[]},{"id":"b5e0c44b.6f76a","type":"inject","z":"c6814ef7.f0da3","name":"60s +20s","props":[{"p":"payload"}],"repeat":"60","crontab":"","once":true,"onceDelay":"20","topic":"","payload":"","payloadType":"date","x":90,"y":340,"wires":[["91d33eb3.e064f8"]]},{"id":"91d33eb3.e064f8","type":"function","z":"c6814ef7.f0da3","name":"Fault Codes","func":"//\n\n// Documents are in Hex, but use decimal addresses here\nmsg.payload = { \n    'fc': 3, \n    'unitid': 1, \n    'address': 289, \n    'quantity': 2\n}\n\nmsg.topic = \"FaultCodes\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":250,"y":340,"wires":[["55e205bd.dae5cc"]]},{"id":"84c25380.1706c","type":"debug","z":"c6814ef7.f0da3","name":"FaultCodes","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":1080,"y":520,"wires":[]}]